[2020-10-15 21:33] carlobongiovanni commented on #569
Hi, yes I installed it with the chart. I have noticed there is a cronjob named `checks-xxx` Which verifies if any notification needs to be sent. When it runs out it just prints that he sent the notification to slack, but I don't receive anything at that point.
To reach internet we have setup an egress proxy, generally setting http_proxy and no_proxy environment variables make the trick, but here I

[2020-10-15 23:32] dwbrown2 commented on #569
Thanks you! Here's where you can set the Slack endpoint. @AjayTripathy can know if there's more needed giving your proxy setup.

https://github.com/kubecost/cost-analyzer-helm-chart/blob/acac9db12a9743769809566dd239883e85b9f4c6/cost-analyzer/values.yaml#L25-L27

[2020-10-20 07:36] CookieMonster70 opened #577 "Cost Model Container throws panic: runtime error: invalid memory address or nil pointer dereference"
Container Crashes after running a few hours, since then the container crash immediately after restart and therefore the readiness probes are failing:
Readiness probe failed: Get http://100.65.0.187:9003/healthz: dial tcp 100.65.0.187:9003: connect: connection refused
Does anybody know how I can get more information to isolate the problem.
Thanks,
Daniele

Exception:
1020 06:41:36.727463       1 lo

[2020-10-20 13:19] dwbrown2 commented on #577
Thank you for reporting, Daniele. Do you know what cost-model version you are experiencing this behavior on?

[2020-10-20 20:11] nikovacevic commented on #577
Thanks again for reporting @CookieMonster70. We've identified the problem and hope to have a release to fix it soon.

[2020-10-21 07:18] CookieMonster70 commented on #577
Hi, we are using version: cost-model:prod-1.67.3

Cheers,
Daniele

[2020-10-21 18:46] nikovacevic commented on #577
@CookieMonster70 Thanks again for the report, and for your patience. We expect this issue should be resolved in 1.68.0, so please upgrade and let us know if you have any remaining issues.

[2020-10-23 12:26] CookieMonster70 commented on #577
I have installed the new version 1.68.0 with Grafana 7.2.2, it seems to work now.

[2020-10-23 12:36] CookieMonster70 opened #582 "Grafana Datasource is not working"
If I configure a Grafana Datasource in values.yaml, the file datasources.yaml will be created at the container grafana-sc-datasources, with the correct setting and also on the container grafana the grafana.ini itselft contains the correct setting.
But I have to configure the settings manually after a deployment or a restart of the container, it seems that configuration made in the values.yaml are

[2020-10-23 15:37] dwbrown2 commented on #577
Glad to hear! I'll close for now, but please reopen at any point if you have further issues.

[2020-10-23 15:37] #577 closed

[2020-10-23 20:51] dwbrown2 commented on #582
@CookieMonster70 any chance you can share the values thats you are passing? We'll look to reproduce based on that.

[2020-10-26 07:55] CookieMonster70 commented on #582
Hi,
I configured the grafana stuff like this:
`grafana:
  # namespace_datasources: kubecost # override the default namespace here
  # namespace_dashboards: kubecost # override the default namespace here
  sidecar:
    dashboards:
      enabled: true
      # label that the configmaps with dashboards are marked with
      label: grafana_dashboard
    datasources:
      enabled: true
      defaultDat

[2020-10-27 16:26] AjayTripathy commented on #582
Hi @CookieMonster70 -- we'd expect any manual configuration to get blown away on pod restart. Datasources are configured by configmap, then read by their label. If the datasource isn't available on grafana, it means grafana wasn't able to find a configmap with the labels that it is searching for.

Are you using a custom grafana that you're trying to add the kubecost datasources to, or the bundled

[2020-10-28 07:30] CookieMonster70 commented on #582
Hi @AjayTripathy -- I checked all config maps. Right now I don't see any error. May you see something, where I did the mistake.

grafana.ini:
[code]
Grafana Datasource: datasource.yaml

[code]

[2020-10-28 14:01] cleberwarmling opened #586 "Cost-model container runtime error"
I'm seeing a couple of restarts on the cost-model container and for what I've seen it's a `panic: runtime error` in a specific function. See the logs below:

[code]

The version that I'm using is `1.68.0.`

Could you guys have a check? If more info is needed let me know.

[2020-10-28 16:15] mbolt35 commented on #586
Thanks for reporting @cleberwarmling

CC @nikovacevic

Doing some guess work here, but this looks like the reported stack trace:
[code]

[2020-10-28 17:06] mbolt35 commented on #586
@cleberwarmling Just to clarify, are you seeing this consistently, or is it intermittent?

[2020-10-28 17:08] cleberwarmling commented on #586
@mbolt35 I'm seeing this 2 or 3 times a day for a couple of days.

[2020-10-28 18:33] dwbrown2 commented on #586
The root cause of this appears to be Prometheus timing out and returning an error. Any known downtime?

Sharing a screenshot of this Grafana dashboard that we provide can help us investigate. Happy to take a look if that would be useful.

![image](https://user-images.githubusercontent.com/298359/97480831-33417b80-1911-11eb-957d-03ee92a5ee52.png)

@AjayTripathy there may be an opportunity to add a

[2020-10-28 18:38] cleberwarmling commented on #586
Not sure about that, will check. Thank you!

[2020-10-29 01:32] cleberwarmling commented on #586
@dwbrown2 Seems that it is ended a Prometheus instability. Thanks for your attention and sorry for not checking that first.

[2020-10-29 01:32] #586 closed

[2020-10-29 02:15] dwbrown2 commented on #586
No worries, @cleberwarmling! We still want to address this in our application so please do let us know if you experience the issue again. Also, reach out if we can help with anything else!

[2020-10-29 09:03] Sh4d1 commented on #560
Thanks :+1: we are still misging a nice API to get the pricing though, I think I'll pause the implem until it's available :smile:

[2020-10-30 23:44] AjayTripathy commented on #582
Hi @CookieMonster70 -- that configmap looks fine but it maybe helpful to see the full configmap including labels. Also to clarify, are you using the grafana bundled with kubecost or something else?

Are you saying that after restart, grafana is reverting to a datasource not set in the configmap? Did you manually edit that configmap to say http://prometheus-authenticator:9090 or was that set by set

[2020-11-07 00:43] andrijaperovic opened #596 "Failed to find machine pool for vCPUs"
Running AKS cluster on version 1.17.11 with two node pools, one with 3 nodes Standard_D2s_v3 and one with 2 nodes Standard_D32s_v3, getting the following error message in the `cost-model` container of kubecost-cost-analyzer.
I've followed the instructions for creating the custom role for access to Billing RateCard API (http://docs.kubecost.com/azure-config):

[code]

[2020-11-07 01:03] dwbrown2 commented on #596
@andrijaperovic thanks for sharing! Are you just seeing any unexpected behavior in the Savings view on the frontend or just these logs?

[2020-11-07 01:20] andrijaperovic commented on #596
Hi @dwbrown2 of course! Thank you for the quick reply.
I am expecting to see recommended node types in cluster-sizing.html, but am seeing static/daemonset/maxpod resources:
https://imgur.com/sCJeauC

[2020-11-08 20:25] jdewinne opened #597 "Contributing.md points to incorrect line numbers in building instructions"
Currently pointing to
L22: [pulled image](https://github.com/kubecost/cost-model/blob/master/kubernetes/deployment.yaml#L22)
L30: [this environment variable](https://github.com/kubecost/cost-model/blob/master/kubernetes/deployment.yaml#L30)

Should be:
L25:  [pulled image](https://github.com/kubecost/cost-model/blob/master/kubernetes/deployment.yaml#L25)
L33: [this environment variable](https://gi

[2020-11-10 02:09] #597 closed

[2020-11-12 16:32] Valiev opened #603 ""Savings Plan, Reservied Instance, and Out-Of-Cluster" set to false incorrectly"
`model/pricingSourceStatus` endpoint returns "false" status for `Savings Plan, Reservied Instance, and Out-Of-Cluster`:
[code]
even if "Savings Plans" are found via Athena Query, but no "Reservation" found at the moment.
From logs:
[code]

[2020-11-12 16:51] AjayTripathy commented on #603
Thanks for this report @Valiev -- I'll investigate this now.

[2020-11-17 00:25] AjayTripathy opened #607 "Support aggregation and display by annotations"
We currently only support aggregation by labels-- we should expand this to support annotations as well.

Annotation aggregations should be the union of both pod and namespace annotations, with pod namespaces winning out in the case of a conflict (same key, different values between pod and namespace)

[2020-11-17 20:49] acarsercan commented on #586
I hit the same error. I had to scale prometheus deployment to 0, kill the analyzer pod and then scale back prometheus

[2020-11-20 16:22] dwbrown2 commented on #565
Our new [Assets API](https://github.com/kubecost/docs/blob/master/assets.md) now has a projectID property. You can filter this data by this field to only see costs for a specific project.

[2020-11-25 11:58] Valiev opened #612 "Support hashicorp vault aws auth"
It would be convenient if `kubecost` supports vault aws auth machinery (https://www.vaultproject.io/docs/auth/aws). In that case not secrets (`service-key.json`) needed to assume IAM Role with permissions for access Cost Usage Report.

[2020-11-27 02:43] jervine-gogo opened #613 "Costs for custom e2 node types"
We run a GKE cluster that uses custom e2 (pre-emptible) node types for multiple node pools. The cost analysis from kubecost on a daily basis always seems to be too high (compared to the GCP billing report). As an example from 20 November:
 - kubecost: 83.37 USD
 - GCP billing: 48.57 USD (for the entire project)
Attached images showing kubecost and GCP billing data. Also attached the kubecost bug r

[2020-11-29 22:15] AjayTripathy commented on #612
Hi @Valiev we can look into this. I'm a little unclear on what's required here-- do any of the auth solutions we support here: https://github.com/kubecost/docs/blob/master/aws-cloud-integrations.md look like they can be made to work with vault?

[2020-11-30 02:28] dwbrown2 commented on #613
@AjayTripathy to investigate. I know there was a GKE bug where these certain e2 nodes were reporting inaccurate data to Kubernetes.

[2020-11-30 12:27] Valiev commented on #612
Hi @AjayTripathy! The main idea is the following:
1. you have k8s and vault integration, so containers could authorise in vault easily
2. also, there is vault and aws integration, so vault provide you access (allow to assume certain roles) to AWS resources

In that setup you no longer need to create AWS User and store it's key in secrets.

[2020-11-30 16:36] #603 closed

[2020-12-07 15:51] nikovacevic opened #621 "Fix panic on failed load balancer key parsing"
## Problem
In [metrics.go on line 519](https://github.com/kubecost/cost-model/blob/master/pkg/costmodel/metrics.go#L519) we do not check the length of the slice before accessing by index, causing panics in some cases.

## Proposed solution
Check the length of the slice before accessing

[2020-12-07 16:20] AjayTripathy commented on #621
https://github.com/kubecost/cost-model/pull/579/files fixes, but I'm not sure this was ever a real issue, given that we should be doing the nil check somewhere else? Better to be safe though so we can merge #579

[2020-12-10 07:32] AjayTripathy commented on #613
It's interesting that custom nodes appear to use the same SKU as regular e2 nodes:

<img width="1792" alt="Screen Shot 2020-12-06 at 6 57 33 PM" src="https://user-images.githubusercontent.com/453512/101735392-b0b2ec80-3a76-11eb-9df7-cc6f7fcb8cee.png">

Therefore I believe the only change needed is #623

[2020-12-10 14:52] adl2db opened #624 "Error getting node pricing - AWS GovCloud"
Noticed that the pricing was off for nodes, then dug into the logs for cost-model and saw there were some errors in getting the node pricing.

Setup:
* Cloud: AWS GovCloud West
* Kubernetes Distro/Management: EKS
* Instance Types: On-Demand
* Prometheus: custom
* helm chart: `cost-analyzer-1.70.0`

[code]

Pricing sheet successfully loaded:
[code]

Looking at the UI -> Asserts -> Cluster -> Node

[2020-12-11 04:57] dwbrown2 commented on #624
Thanks for reporting, @adl2db! Sounds like you installed via helm chart... if so, would you be able to capture and share a [bug report](http://docs.kubecost.com/bug-report)? You can send to team@kubecost.com or share in our Slack directly if that works for you.

[2020-12-15 15:54] bentatham opened #628 "panic: runtime error: invalid memory address or nil pointer dereference"
I found kubecost returning 503 in my cluster...

Version: 1.70.1

[code]

(From `kubectl -n kubecost logs kubecost-cost-analyzer-5ff7f4677f-mchc9  cost-model`)

[2020-12-15 15:57] bentatham opened #629 "Pricing Sources show warning when no reserved instances"
Our AWS account has never has Reserved Instances (but does have a Savings Plan).
On the diagnostics page, `Savings Plan, Reserved Instance, and Out-Of-Cluster` shows as a warning.

[code]

On another cluster that does have RIs, everything works fine, so I think this is caused by the CUR not having any info about RIs because it has never had them.

![image](https://user-images.githubusercontent.com

[2020-12-15 20:24] dwbrown2 commented on #628
Thanks, Ben! Niko has a patch and it should be in our build this week.

[2020-12-15 22:01] nikovacevic opened #631 "Enforce correct number of data points is returned from query_range in CotsDataModelRange/Aggregation"
Testing during open-sourcing showed occasional vector lengths being off-by-1. Eventually we will want to rewrite these in terms of `query` instead of `query_range`, but in the meantime it would be good to see if we can guarantee correct number of data, or normalize by expected number.
[code]

[2020-12-15 22:18] nikovacevic commented on #631
See https://github.com/kubecost/cost-model/pull/618/files#r543727699

[2020-12-16 03:17] AjayTripathy commented on #629
Hi @bentatham thanks for this report.

The correct behavior is probably to split this diagnostic into CUR loading and then a count of RIs and savings plans nodes.

[2020-12-17 00:30] rcallphin opened #637 "Support same instance type matching in custom CSV"
When a node instanceID does not match in the custom CSV, having support for the process to infer a match based on other instanceID's in the csv that share the same instance type and region or vmss in azure.

[2020-12-17 00:55] rcallphin opened #638 "Cost-model track percent mismatch nodes for custom CSV"
The way the logs work today is there is an error for any asset that does not match in the CSV. If it does match, then there is no log. It would be nice to have an aggregate record somewhere letting us know the percent of assets not matching in the CSV. This would make it easy to track over time and alert if that percent gets to high indicating an issue in the CSV

[2020-12-21 01:10] dwbrown2 commented on #637
Following up after our discussion on Thursday, the current plan is to use existing data points in the CSV pipeline to infer new node prices. Initial algorithm will follow this logic:

* First search for an exact match in CSV pipeline
* If exact match not available, search for an existing CSV data point that matches region, instanceType, and AssetClass
* If neither available, fallback to pricing es

[2020-12-21 01:10] dwbrown2 commented on #637
Initial implementation PR now out: https://github.com/kubecost/cost-model/pull/641

[2020-12-21 01:24] dwbrown2 commented on #638
@AjayTripathy would be useful to take [this change](https://github.com/kubecost/cost-model/issues/637#issuecomment-748705743) into account, so we can show split between 1) exact price match, 2) similar price match, and 3) using estimates

[2020-12-21 22:03] AjayTripathy opened #643 "Fix issue where ETL data would be "delayed" until rebuild on Thanos"
should be fixed with https://github.com/kubecost/cost-model/pull/640 and corresponding cache fix PR.

## Testing
Manual testing with logs on bolt-1
- confirmed for both ETLs that the `start` is computed off of `lastRun`
- confirmed that, after the change, "yesterday" continues to update for 6h after "today" begins, filling out to a full 1440m per day

Note that for "yesterday" here, we reached a f

[2021-01-04 14:25] #621 closed

[2021-01-05 04:57] appunni-dishq opened #645 "panic: runtime error: invalid memory address or nil pointer dereference"
[code]

Increasing memory from 1200MB to 4000MB did not resolve the issue. Our metric servers are not reporting such high usage either. But it stopped working 15 days before or so. Started crashback looping

[2021-01-05 05:01] dwbrown2 commented on #645
Thanks for reporting, @appunni-dishq. Can you share what version of Kubecost you are running? It's available in Settings UI or via `helm ls`.

[2021-01-05 05:06] appunni-dishq commented on #645
I am using Kubecost model Docker image: `gcr.io/kubecost1/cost-model:prod-1.67.2`

[code]

[2021-01-05 05:18] dwbrown2 commented on #645
@appunni-dishq I would need to do a bit of investigation but this should be resolved in v1.71.0

[2021-01-05 05:20] appunni-dishq commented on #645
okay I will check the version out and let you know if it persists

[2021-01-05 22:24] dwbrown2 commented on #645
@appunni-dishq I just double checked, and this should be resolved in the latest build I mentioned.

[2021-01-06 07:00] AjayTripathy commented on #638
#641 has this: you can visit /model/pricingSourceCounts to view the total number of nodes and their assorted pricing sources.

[2021-01-06 07:01] AjayTripathy commented on #637
merged and released  in v1.71.1!

[2021-01-11 07:56] daganida88 opened #652 "Timeout received from costrange query"
E0111 07:22:23.634127       1 log.go:17] [Error] CostDataRange: Request Error: 503 (Service Unavailable) Headers: { Content-Type: [ application/json ], Date: [ Mon, 11 Jan 2021 07:20:57 GMT ] }, Body: {"status":"error","errorType":"timeout","error":"query timed out in query queue"} Query: avg(avg(kube_persistentvolumeclaim_info) by (persistentvolumeclaim, storageclass, namespace, volumename, clust

[2021-01-11 07:58] daganida88 commented on #652
E0111 07:54:08.150597       1 log.go:17] [Error] CostDataRange: Request Error: 503 (Service Unavailable) Headers: { Content-Type: [ application/json ], Date: [ Mon, 11 Jan 2021 07:51:15 GMT ] }, Body: {"status":"error","errorType":"timeout","error":"query timed out in expression evaluation"} Query: avg(
		label_replace(
			label_replace(
				avg(
					count_over_time(kube_pod_container_resource_re

[2021-01-11 17:34] AjayTripathy commented on #624
Fixed in #651 ! Expected in our release this week.

[2021-01-12 01:47] AjayTripathy commented on #652
Hi @daganida88 can you provide some additional information about the scale at which you're running kubecost and what resources you've provided prometheus? Are you using our prometheus or your bringing your own?

 If you've installed via helm, you can grab a bug report from /settings.html and send it to us on slack or to ajay@kubecost.com

[2021-01-12 02:29] scottkarnold opened #655 "Unable to recognize instance type when key name contains dot characters"
I am using the CSV feature of kubecost to specify custom pricing data based on the EC2 instance type.  When the key name for the instance type in the node spec contains dot characters, kubecost can not match the key value with instance type specified in the CSV file.

For example, in my cluster node specs the m5.xlarge instance types are identified as follows:

apiVersion: v1
kind: Node
metadata:

[2021-01-12 02:53] AjayTripathy commented on #655
Hi @scottkarnold , it looks like your CSV may be improperly formatted? Here's a sample of what it should look like.

https://github.com/kubecost/cost-model/blob/develop/configs/pricing_schema_region.csv
 It looks like the EndTimeStamp field is missing. Any chance you could add that and send us a bug report if it still isn't working?

[2021-01-12 05:31] appunni-dishq commented on #645
I haven't faced this issue since the upgrade, but I doubt it happens after 3-4 months of data accumulation. I did lose all the data on upgrade, which could point to data corruption as well?

[2021-01-12 07:29] AjayTripathy commented on #645
HI @appunni-dishq , today we only build data back to the retention window of the prometheus you're running on upgrade, so it's unlikely corruption is the cause of losing the accumulated data.

[2021-01-12 14:09] scottkarnold commented on #655
The reason why that schema won't work for us is that our EC2 are continually being terminated and relaunched, so the instance IDs are always changing.  Thus, the CSV file would continually have to be regenerated.  We were hoping that the InstanceID and InstanceIDField parameters in the CSV file could be set so that we would can specify an hourly rate for each instance type in our cluster, not for

[2021-01-12 14:12] scottkarnold commented on #655
Inadvertently closed issue.  Reopening again awaiting response.

[2021-01-13 02:20] dwbrown2 commented on #655
@scottkarnold it might be helpful to learn a bit more about your specific use case, but we have two relevant features for this general situation:

1) our pricing inference feature applies historical prices based on matching instance type. for example, once we see one `m5.xlarge` the pipeline will apply that price to future nodes of that type until it sees a price update or a more specific price fo

[2021-01-13 17:06] MattJeanes opened #661 "Savings - Kubecost recommends draining the only Windows node with pods on it"
I have a Windows node in my cluster with taints and pods with node selectors for os = windows and therefore if the Windows node was to be removed there would be un-schedulable pods, but kubecost says "Safe to drain" on this node when I believe it shouldn't.

 ![image](https://user-images.githubusercontent.com/2363642/104484838-a7f78e00-55c1-11eb-9934-45494ee96a18.png)

[2021-01-14 03:08] dwbrown2 commented on #661
@MattJeanes great feedback. Definitely see your point. I wonder if we'll ever be able to perfectly predict all scenarios where OS/taints/tolerations, etc. may impact schedulability. Our simulator takes certain cases into account but not all. I'm wondering if we should consider to support a `safeToDrain=false` node annotation or label.

Any input on what you would ideally like to see here?

cc @Aja

[2021-01-14 03:19] MattJeanes commented on #661
Well from my point of view I believe it should be at least able to detect taints, tolerations and node selectors, that seems relatively simple all the information exists within the cluster already to calculate this, and just determine if the node was deleted if it would result in un-schedulable pods

For more advanced scenarios some kind of manual annotation might be useful for some, but generally

[2021-01-14 12:19] scottkarnold commented on #655
I added a new annotation called `instance-type` (no '.' characters in the key name field) and this worked.

One more quick question:  Can we tell Kubecost to only indicate cost for nodes that are tagged with a specific value?  For example, I would like to be able to view costs only for those nodes that have been assigned the `Project` tag with a value of `shared`.

[2021-01-14 16:40] dwbrown2 commented on #652
@daganida88 this does look scale related. In general, aggregatedCostModel + Allocation APIs are built for medium or large clusters. More info [here](https://github.com/kubecost/docs/blob/master/apis.md) on APIS.

[2021-01-15 04:39] dwbrown2 commented on #655
@scottkarnold can you share a bit more? How would you like to treat nodes without `project=shared`? Are you aiming to exclude them entirely from our Kubecost UI, APIs, etc. Any more detail you can share on the scenario?

[2021-01-15 14:03] scottkarnold commented on #655
After thinking about it some, the ability to treat nodes differently without or without `project=shared` is not needed by us.  Thank you for all your previous responses.  I now have a good understand as to how Kubecost can work for us.

This issue can be closed.

[2021-01-15 17:03] dwbrown2 commented on #655
Sounds good, Scott! Lots more features related to this pipeline and throughout the product, so please feel free to reopen or reach out if we can help with anything else.

[2021-01-15 17:03] #655 closed

[2021-01-19 03:54] dwbrown2 commented on #661
Yep, I agree. But there are certain cases where this may be hard to simulate. For example, a custom validating webhook that applies internal business logic may be difficult to account for.

We'll plan to investigate further in a future sprint! Let me know if you have any other ideas or input. Thanks again for sharing!

[2021-01-19 17:07] dwbrown2 commented on #645
@appunni-dishq anything else we can help with here? was Ajay's description helpful?

[2021-01-19 17:14] appunni-dishq commented on #645
@dwbrown2 Currently seems to be working fine. I will open a new issue if I face it again. Thank you @AjayTripathy

[2021-01-19 17:14] #645 closed

[2021-01-20 18:17] AjayTripathy commented on #613
@jervine-gogo just wanted to follow up here-- #623 has been merged. Let us know/feel free to reopen if there's anything else

[2021-01-20 18:17] #613 closed

[2021-01-22 12:03] pierluigilenoci commented on #450
Any news about this?

[2021-01-27 12:41] #624 closed

[2021-01-27 17:38] dwbrown2 commented on #624
@adl2db just let us know if you have any additional questions here!

[2021-01-28 12:26] adi0509 opened #680 "kubecost with custom resource of kubernetes"
We have a custom resource in k8s and have their metrics. we want to use kubecost to calculate cost. How can we use kubecost to calculate cost of cutom resource of kubernetes?

[2021-01-28 20:57] dwbrown2 commented on #680
@adi0509 happy to help. Can you share more about what type of custom resource you have in mind? Would this be like a custom controller? Have an example you can share?

[2021-01-29 14:58] adi0509 commented on #680
suppose I have a custom elastic search controller,  and it is exposing storage metrics per user. So I want to get cost of storage per user used to store their logs.

[2021-02-01 04:49] dwbrown2 commented on #680
@adi0509 I would need to learn more specifics about the situation, but you should be able to tag the backing domain. This is assuming you are using Amazon Elasticsearch Service.

Have you deployed free Kubecost at this point?

[2021-02-01 12:04] adi0509 commented on #680
Yes, I have deployed open-source kubecost from the repo. Me and my team are deploying k8s with microk8s. Our professor told to us reuse one or more open-source software in our k8s project. So, we decided to use elasticsearch. But our project was bare minimum so she told to look more things, kubecost has really good GUI and with kubecost we can give really good presentation. I just want a way to ad

[2021-02-01 12:04] adi0509 commented on #680
From my understanding we need a controller and custom metrics, my friend is working on that part. And I am figuring out how to use kubecost. Any suggestions or is there any thing for custom resource in kubecost?

[2021-02-01 12:06] adi0509 commented on #680
To make it simple we are only managing users details in elasticsearch. So, maybe we can show storage cost of user from gui, something like they used 2gb of storage.

[2021-02-01 17:27] andrijaperovic commented on #596
Hi @dwbrown2 @nikovacevic - any updates on this? I think last we spoke you mentioned it is a feature set being prioritized for a future sprint.

[2021-02-02 00:00] dwbrown2 commented on #596
Hi @andrijaperovic! This work is now complete + in final stages of reviews. It's expect to be merged any day now and in our next release. @Sean-Holcomb can you share updates once they're available?

[2021-02-05 04:11] dwbrown2 commented on #680
This should be supported today via tagging. You san associate this external cost with a namespace, deployment, statefulset, etc. I think it would be helpful to discuss if you want to get into more specifics. Feel free to reach out to team@kubecost.com!

[2021-02-11 03:45] dwbrown2 commented on #596
Shipped in v1.74! Let me know if we can get you anything else here. We will continue to make investments in this feature.

[2021-02-11 04:27] dwbrown2 commented on #450
This just launched in Beta in our v1.74 release! Reach out to team@kubecost.com or anyone else if you want to learn more.

[2021-02-11 11:41] pierluigilenoci commented on #450
Thanks @dwbrown2, I'll test it ASAP.

[2021-02-22 03:49] dwbrown2 commented on #596
Closing for now, but please feel free to re-open for feature requests!

[2021-02-22 18:21] munjalpatel opened #700 "Cluster sizing recommendations do not consider AKS spot instances"
Hello,

My AKS cluster is a mix of Azure spot and non-spot instances.

Currently Sizing recommender does not realizes that a node is a `Spot` instance and hence gives inaccurate recommendations. Also, the recommended `B-Series` is not available for `Spot`

<img width="409" alt="image" src="https://user-images.githubusercontent.com/2717686/108751910-af328580-74f7-11eb-9855-df6e9b2596f6.png">

[2021-02-22 22:56] dwbrown2 commented on #700
@munjalpatel today, this feature does not consider usageType, e.g. spot vs on-demand. It provides a recommendation on the amount of resources required.

[2021-02-23 21:42] munjalpatel commented on #700
Any plans to enhance this feature to properly understand instance type?

[2021-02-24 18:36] pierluigilenoci commented on #450
With the v1.75 release, data from Azure seems to be "digested" correctly.

[2021-02-24 22:16] dwbrown2 commented on #450
Great, reach out if we can provide more here!

[2021-02-24 22:16] #450 closed

[2021-02-26 14:37] garreeoke opened #715 "Diagnostics page should show warning instead of error on failed reservation query"
Diagnostic page shows error on failed Athena query regarding reservations. Should show warning as some queries may fail as in the case where reservations are not used.
![image (2)](https://user-images.githubusercontent.com/17861748/109313451-181e4400-77fd-11eb-8619-c8cd9bac4eba.png)
![image (1)](https://user-images.githubusercontent.com/17861748/109313457-18b6da80-77fd-11eb-8c5b-292db1605347.png)

[2021-02-26 14:38] #715 closed

[2021-02-26 14:38] garreeoke commented on #715
Created in Wrong repo!

[2021-03-01 05:13] dwbrown2 commented on #700
This is actually being built separately but will likely be integrated in the future! No set timeline at this point.

[2021-03-02 19:49] AjayTripathy opened #720 "Intermittent "error":"vector cannot contain metrics with the same labelset""
On some versions of Thanos > 0.15 (kubecost default), we're seeing intermittent "error":"vector cannot contain metrics with the same labelset".

It seems likely that https://github.com/kubecost/cost-model/pull/719 will address, but more testing on thanos > 0.15 is required.

[2021-03-03 19:24] AjayTripathy opened #723 "Attach GPU count to nodes, GPU requests to pods"
We currently report GPU costs in the API here, but not GPU counts:
https://github.com/kubecost/cost-model/blob/develop/pkg/costmodel/cluster.go#L424
We may need to emit this as a metric if it does not exist

For pods, we are querying the GPU requests so it should be easy to attach that to the cache-- but some investigation may need to be done: @nikovacevic

[2021-03-07 23:05] AjayTripathy commented on #723
After looking into this, there is actually a pricing bug related to this. We aren't correctly counting GPUs which is resulting in a price discrepancy for node classes with GPU counts > 1 on AWS for the public API. We need to emit the GPU counts as a prometheus metric and join them with the per-gpu costs we already emit to prometheus.

[2021-03-11 01:10] AjayTripathy commented on #643
Confirming that this has been fixed.

[2021-03-11 01:10] #643 closed

[2021-03-11 01:11] AjayTripathy commented on #638
We've done some deep dives on cost matching with the CSV setup here, so I expect this is WAI.

[2021-03-11 01:11] #638 closed

[2021-03-11 01:11] #637 closed

[2021-03-11 01:14] AjayTripathy commented on #500
@sylus we've got this into beta-- you can check it out in our latest version

[2021-03-11 02:07] nikovacevic commented on #631
Resolved by https://github.com/kubecost/cost-model/pull/719

[2021-03-11 02:07] #631 closed

[2021-03-12 21:24] Sean-Holcomb commented on #723
Addressed in
https://github.com/kubecost/cost-model/pull/726#pullrequestreview-610213285

[2021-03-12 21:24] #723 closed

[2021-03-17 03:15] alysaleh-fbs opened #737 "Feature Request - Cost threshold notifications and alerts for labels"
We are currently using Kubecost the business version, and it only supports notifications based on namespaces, however, we need an option to send alerts for resources assigned a specific label.
This feature is very critical to our cost visibility model, and we are looking to include it in your short-term roadmap.

[2021-03-17 08:57] ywyt738 opened #739 "AWS China Support"
Pricing api endpoint is different from other in aws china.
It's
https://pricing.cn-north-1.amazonaws.com.cn/offers/v1.0/cn/index.json

[2021-03-17 14:17] michaelmdresser commented on #739
Hi @ywyt738, thanks for reporting this issue! We'll look into supporting AWS China's pricing correctly right away.

[2021-03-17 16:04] ywyt738 commented on #739
Not yet.

[2021-03-18 02:22] dwbrown2 commented on #737
Thank you, @alysaleh-fbs!

@AjayTripathy I know this feature is underway with the alerts re-write. Can you share any updates?

[2021-03-23 08:02] #628 closed

[2021-03-23 08:06] #500 closed

[2021-03-23 08:08] AjayTripathy commented on #16
This has been done!

[2021-03-23 08:08] #16 closed

[2021-03-23 08:10] AjayTripathy commented on #349
This is complete-- we manually override the k8s-supplied data with the amount of cores per class.

[2021-03-23 08:10] #349 closed

[2021-03-23 08:13] AjayTripathy commented on #737
Hi Aly, thanks for this feature request. This work has been planned-- stay tuned for an ETA!

[2021-03-23 08:13] AjayTripathy commented on #607
This is now supported!

[2021-03-23 08:13] #607 closed

[2021-03-23 08:15] AjayTripathy commented on #228
Visiting "/diagnostics.html" should give a good idea about AWS configuration now.

[2021-03-23 08:15] #228 closed

[2021-03-23 08:16] AjayTripathy commented on #159
Just following up here. This is the option we went with :)

[2021-03-23 08:16] #159 closed

[2021-03-23 08:17] AjayTripathy commented on #382
We now have the ability to integrate directly with the Azure Billing CSV to read costs and assign them to nodes.

[2021-03-23 08:17] #382 closed

[2021-03-23 08:18] AjayTripathy commented on #363
We now directly match PV id with AWS billing data, so will eventually have accurate pricing for all types/iops/etc albeit slightly delayed.

[2021-03-23 08:18] #363 closed

[2021-03-23 08:20] AjayTripathy commented on #569
Hi @carlobongiovanni wanted to let you know that setting the proxy variables is now supported! Let us know if we can get you anything else!

https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L149

[2021-03-23 08:20] #569 closed

[2021-03-23 08:21] AjayTripathy commented on #459
Closing this issue for now then. Thanks for the note!

[2021-03-23 08:21] #459 closed

[2021-03-23 08:25] AjayTripathy commented on #629
FIxed in https://github.com/kubecost/cost-model/pull/744 and available in our nightly!

[2021-03-23 08:25] #629 closed

[2021-03-23 08:29] AjayTripathy commented on #541
We do collect a lot of data in logs, but this should be done for network pods so closing for now. If there are specific logs that are too verbose on the cost-model, please feel free to open another ticket for those.

[2021-03-23 08:29] #541 closed

[2021-03-23 15:25] AjayTripathy commented on #511
Hi @AFriemann just following up! There is a drop-down filter for ARM on our cluster sizing page: /cluster-sizing.html

Does that address your main issue about disabling instance types?

[2021-03-24 13:03] ywyt738 commented on #739
Do you publish a patch version?

[2021-03-24 17:17] treyhyde commented on #518
They WERE failure-domain.beta.kubernetes.io, they are now topology.kubernetes.io

[2021-03-24 17:22] treyhyde commented on #518
Just a note for the discussion.   Same zone traffic incurs a cross-zone charge if it traverses a VPC boundary.    (actually, 2 charges, in and out)

Based on the docs, I was hoping that kubecost could do the classification based on auto-discovery.    It doesn't seem super effective in that.    Is the best place for documentation https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cos

[2021-03-25 22:05] mbolt35 commented on #518
We now recognize the new and legacy labels in the latest network-costs image (v15.2)

[2021-03-25 23:15] mbolt35 commented on #518
The network-costs pod uses two auto-discovery methods to classify traffic:
1) Graph of the Kubernetes network
2) Kernel network route tables

Right now, the implementation does not use any provider specific data for classification. It has been a discussion point, but the nuances across providers are not always 1-1. This is why we've provided the configuration options: to fill in the classification

[2021-03-26 16:00] treyhyde commented on #518
For me, all traffic in the very simple cluster was showing as "in zone."  I'm struggling to form a custom config that would reflect how AWS would bill me.     Particularly difficult are use of ClusterIP services since they are magic and aren't clear how they map back to hosts and thus zones.

I'd really love for the data that shows up in the network container logs up in the kubecost UI (mapping IP

[2021-03-29 14:46] dwbrown2 commented on #518
@treyhyde you can see a mapping between source pod name and destination IP / zone in the frontend UI (Allocation --> network drilldown). Is this view generally useful or are you looking for something else? I don't think we can get down to the container level currently.

[2021-03-29 15:46] treyhyde commented on #518
Yes, sometimes there be a mapping there, sometimes not, sometimes using older mapping rules.   Sometimes it will be a large cost and then show 4 MB in zone.     Again, my stab in the dark guess is it isn't dealing with mapping changes well (default everything in zone vs telling it about the subnet placements in the kube cost config after realizing the default doesn't do much useful as I'm primaril

[2021-03-29 17:22] dwbrown2 commented on #739
@ywyt738 I believe Fang shared an update, but we're starting to investigate solutions this week!

[2021-03-29 18:39] mbolt35 commented on #518
@treyhyde What you're seeing the network-costs logs are similar to what you're seeing in the frontend UI. The view of the data is limited to the lifetime of the network-costs pod reporting the traffic. The costs are based on a query against the metrics based on timeframe of the query. So, we might only be showing 4mb emitted since the restart of that network-costs pod, but since prometheus counter

[2021-03-29 19:21] treyhyde commented on #518
Good to understand.   I can say that is definitely not what I see.  Uptimes of days and no data in kubecost other than 100s of GB of new net traffic (no from/to ip data in the UI, just in the daemonset logs)

[2021-03-29 19:23] AjayTripathy commented on #720
This appears to have been resolved by #719

[2021-03-29 19:23] #720 closed

[2021-04-01 07:58] zippyopstraining opened #759 "I couldnot see last 1 day cost detail. can see cost details if 2d or more than that. why ? also i cant see any deployment pods name if i click on cost.i installed kubecost using helm chart but with my own prometheus. can you help me on this? i have attached some screenshots here."

[2021-04-01 08:16] zippyopstraining commented on #759
I couldnot see last 1 day cost detail.  can see cost details if 2d or more than that. why ? also i cant see any deployment pods name if i click on $cost.i installed kubecost using helm chart but with my own prometheus. can you help me on this? i have attached some screenshots here.

![Screenshot_1](https://user-images.githubusercontent.com/77266301/113264490-a7cd7b80-92f0-11eb-9962-4baca580743c.jp

[2021-04-01 13:56] michaelmdresser commented on #759
Hi @zippyopstraining, for the moment can you try using Reports instead of Cost Allocation? That should work for you right now and let me know if it doesn't.

While you're doing that, I'll look a little more into this problem you're encountering.

[2021-04-05 12:51] kishore0709 opened #761 "Not able to create PV for cost analyzer and prometheus pod"
Hi Team,

My kubecost deployment is not able to create PV & PVC on my EKS cluster. It shows me unauthorized error.

Could you please help suggest what could be the reason.

**PV output:**
NAMESPACE   NAME                         STATUS    VOLUME        CAPACITY   ACCESS MODES   STORAGECLASS   AGE
default     efs-pvc-test                 Bound     efs-pv-test   1Gi        RWO            aws-efs

[2021-04-05 12:56] kishore0709 commented on #761
Also, can we use EFS storage class for kubecost-cost-analyzer-fxxxx and kubecost-prometheus-server-xxx pods

[2021-04-05 14:04] michaelmdresser commented on #761
Hi @kishore0709,

The `UnauthorizedOperation` error looks like its related to AWS IAM permissions. See https://aws.amazon.com/premiumsupport/knowledge-center/ec2-not-auth-launch/ for AWS documentation related to the error, which includes instructions for decoding that encoded failure message which should help you debug.

We'll get back to you about your EFS storage class question soon.

[2021-04-06 17:26] dwbrown2 commented on #518
@treyhyde is there any more data that you can share to help us investigate? I'm not how to best move forward based on everything reported so far.

[2021-04-06 18:09] mbolt35 commented on #518
@treyhyde When you say no data in the UI, when you drill down into the costs from the allocation page, you're not seeing any line items?

[2021-04-06 18:13] treyhyde commented on #518
Happy to provide anything.    The kubecost UI is devoid of anything really useful but the kubecost-network-costs-* logs are a treasure trove but difficult to reassemble.  I haven't yet looked at the data recorded into the kubecost prometheus.

[2021-04-07 15:50] dwbrown2 commented on #761
@kishore0709 were you able to solve your permissions issue? If not you can run Kubecost without PVs if you are just trialing.

You can see storageClass for kubecost PV here: https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/values.yaml#L264

[2021-04-09 14:55] pierluigilenoci opened #764 "Azure and AWS External costs are not summed correctly"
In early March, I discussed with Fang and Aaron about external cost discrepancies issues in Azure.

I shared with them bug reports and Azure cost data. I'm waiting since then so I created this to get feedback.

The cluster is configured to be named "production.azure.akelius.com" but inside `cost-analyzer` it is labeled "cluster-one". All resources are tagged with the [correct name set via the char

[2021-04-09 15:02] pierluigilenoci opened #765 "Feature request: better SAML Integrations with more granularity"
We would like to be able to give access with more granularity within the Kubecost interface.

For example, assuming there is a SAML group of project XXX users. We would like that in the Kubecost UI only costs related to the product equal to XXX were visible to this group. Or give visibility based on the various [labels](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyze

[2021-04-09 15:06] pierluigilenoci opened #766 "Feature request: create namespace alerts via API calls"
We would like to define `Namespace Alerts` via API calls.

[2021-04-09 15:22] pierluigilenoci commented on #737
This feature is really interesting.

[2021-04-09 15:45] dwbrown2 commented on #766
@pierluigilenoci any more details you can share on what would be helpful? Most teams have requested doing this via YAML, would love to hear what would be helpful for you.

[2021-04-12 13:32] pierluigilenoci commented on #764
@dwbrown2 could you please give feedback also for this?

[2021-04-12 13:39] pierluigilenoci commented on #766
@dwbrown2 we currently manage our namespaces by separating them by environments and projects. We have about a hundred different projects and an average of 4 environments per project, a total of more than 400 different namespaces. Managing alerts for 400 namespaces via a YAML file doesn't make any sense.

From our point of view, the perfect solution is an API Rest with which to create/modify/delete

[2021-04-12 15:46] dwbrown2 commented on #737
@mbolt35 is this actually complete once we start running alerts through kubecost Go routines?

[2021-04-12 15:58] dwbrown2 commented on #764
@Sean-Holcomb can you please review?

[2021-04-12 18:25] Sean-Holcomb commented on #739
@ywyt738 I am working on this issue this week and want to ensure that we are correctly detecting your AWS region and using that to route to the correct pricing api endpoint. Would it be possible for you to send the response of the `/api/allNodes` endpoint off Kubecost on our slack channel?

[2021-04-12 21:40] Sean-Holcomb commented on #764
@pierluigilenoci so cluster aggregation actually occurs on `cluster_id` which can be set [here](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L328)

![Screen Shot 2021-04-12 at 2 39 01 PM](https://user-images.githubusercontent.com/12225425/114466106-dd018580-9b9c-11eb-95b2-a0b222abf8d1.png)

Please let me know if this solves the issue for you

[2021-04-13 05:58] ywyt738 commented on #739
@Sean-Holcomb This is cost-model container's log
[code]

[2021-04-14 09:16] pierluigilenoci commented on #764
@Sean-Holcomb @dwbrown2 I will try this solution but it is a further workaround to be done externally in the Prometheus configuration. I am not very satisfied with this solution.

Ref: https://github.com/kubecost/cost-analyzer-helm-chart/issues/747

[2021-04-14 16:10] dwbrown2 commented on #764
@pierluigilenoci what exactly are you not satisfied with? we need a unique key to identify clusters. do you have another solution you would like to propose?

[2021-04-14 16:34] pierluigilenoci commented on #764
@dwbrown2 I was convinced that this topic had already been discussed but if we want to summarize the point: I don't like to force a change of third-party software configurations to make Kubecost work.

[2021-04-14 16:40] dwbrown2 commented on #764
@pierluigilenoci we need a unique key to identify our metrics by cluster. open to ideas if you have them.

[2021-04-14 17:09] AjayTripathy commented on #739
https://github.com/kubecost/cost-model/pull/770

We've got https://github.com/kubecost/cost-model/pull/770 in review to address this! Thanks for that report!

[2021-04-15 07:24] AjayTripathy opened #771 "Support Reconciliation for aws-ebs-csi-driver"
Looks like we aren't correctly fetching a providerID for PVs provisioned by aws-ebs-csi-driver

https://github.com/kubernetes-sigs/aws-ebs-csi-driver

Sample spec, with some identifying data stripped. Relevant section in bold

[code]

We need to pull out spec.csi.volumeHandle into our provider_id field.

[2021-04-15 11:18] kishore0709 commented on #761
Hi @michaelmdresser

Thanks for your quick response here.

[2021-04-15 11:21] kishore0709 commented on #761
Hi @dwbrown2

Firstly thanks for the response.
Actually we are testing kubecost for POC and if everything goes fine will use(kubecost enterprise fone) for production workloads.

Can we use EFS storageclass in kubecost PV section:

here: https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/values.yaml#L264

[2021-04-15 15:10] kishore0709 commented on #761
@dwbrown2

Also, if I make changes in kubecost PV section should we need to explicitly execute that values.yaml file or that helm installation will invoke this storageclass changes ?

Please confirm this.

Thanks!
Kishor

[2021-04-15 15:33] kishore0709 commented on #761
@dwbrown2
I tried to use following command to invoke kubecost PV values.yaml but no luck that is still taking the gp2 volumes.

helm upgrade kubecost kubecost/cost-analyzer --cleanup-on-fail --install --namespace kubecost --create-namespace --set kubecostToken="xxxxxxxxxxxxxxxxxxxxx=xm343yadf72" --values cost-analyzer/values.yaml --values kubecost_values.yaml

Can you please help suggest.

Thanks!

[2021-04-16 00:26] ltagliamonte-dd opened #772 "[FR] Add support to custom cluster_id label"
In some complex environments where all metrics already carries a "cluster label"  that isn't `cluster_id` would be nice to have the option to be able to specify the label key to use instead of `cluster_id`.

Currently `cluster_id` is a string sparse all around the code, would be nice to be able to specify it via env var.
If the community thinks that a valid option I will be happy to contribute.

[2021-04-16 02:10] dwbrown2 commented on #761
Followed up in https://github.com/kubecost/docs/issues/77

[2021-04-16 21:47] dwbrown2 commented on #772
@ltagliamonte-dd we've discussed with a number of users and we would definitely be supportive if you're interested in collaborating on this!

although this might be need to be a multi-part PR because I know this value is used in many places. but even if we just begin the process of templating it in several places then it should help with framing the solution.

[2021-04-16 22:50] ltagliamonte-dd commented on #772
Hello @dwbrown2 thank you for the feedback, to use the cost model in my env i went ahed with some changes.. you can see the diff [here](https://github.com/kubecost/cost-model/compare/develop...ltagliamonte-dd:cluster_id_label?expand=1)
The approach isn’t the best, definitely needs cleanup but i'd love to hear from you.

[2021-04-16 23:50] AjayTripathy commented on #739
Hi @ywyt738 this is available in our nightly builds!  let us know if we can get you anything else here. https://github.com/kubecost/docs/blob/ef803156421396b0db30a655d1240244a9346931/release-process.md#nightly-releases

[2021-04-16 23:53] dwbrown2 commented on #772
Amazing! I think @nikovacevic or @michaelmdresser could be best to take a look... would either of you be able to early next week?

[2021-04-17 02:11] ywyt738 commented on #739
@AjayTripathy I begin to use the nightly version.(cost-model:CM-c2aecb2_KCM-d6fd871)
now log is below:
[code]

[2021-04-19 07:04] pierluigilenoci commented on #764
@Sean-Holcomb configured as requested, still not summed correctly.

<img width="1547" alt="Cost-analyzer UI" src="https://user-images.githubusercontent.com/36044817/115193429-74f6f600-a0ec-11eb-806e-304ad6358ff1.png">
<img width="1151" alt="Prometheus config map" src="https://user-images.githubusercontent.com/36044817/115193481-85a76c00-a0ec-11eb-9939-4e22cdc62762.png">
<img width="1218" alt="Full

[2021-04-19 16:50] Sean-Holcomb commented on #764
@pierluigilenoci so once the have changed the cluster_id to the correct values you will also have to run an assets rebuild with `/model/etl/allocation/rebuild?window=all&commit=true` Here are my results
Before:
![Screen Shot 2021-04-19 at 9 43 52 AM](https://user-images.githubusercontent.com/12225425/115273626-a4116580-a0f4-11eb-87d5-a18ef6d5680e.png)
After:
![Screen Shot 2021-04-19 at 9 48 23 AM]

[2021-04-19 17:28] nikovacevic commented on #772
@dwbrown2 I'll do a quick review today.

@ltagliamonte-dd thank you for offering your work as a contribution!

[2021-04-19 18:36] Sean-Holcomb commented on #739
@ywyt738 Looks like you made it a little further along and that you have Kubecost up and running now. I have identified what I think is the issue with these new logs, and I am working on a fix.

[2021-04-19 22:33] ltagliamonte-dd opened #774 "Problem with cost frontend"
I have my kubecost cost-model successfully running in my cluster:
[code]
kubecost is listening on port 9003:
[code]

following the instruction in the [README](https://github.com/kubecost/cost-model/blob/develop/ui/README.md)
i a shell i start the proxy:
[code]
in another shell i start the UI
[code]

When I navigate the UI at 127.0.0.1 the UI looks like:
<img width="1662" alt="Screen Shot 2021-04-1

[2021-04-19 22:38] dwbrown2 commented on #774
@ltagliamonte-dd can you share how you installed kubecost?

cc @SheepGotoHeaven

[2021-04-19 23:52] ltagliamonte-dd commented on #774
I'm using my image to support a custom prom_label for cluster_id: ltagliamonte/kubecost-cost-model:dev
The pod doesn't log any error.
kubecost is running in a deployment with the following spec:
[code]

[2021-04-20 00:45] nikovacevic commented on #772
I think this proposal looks very reasonable. My initial feedback is:
- we'd have to make changes to the non-open-source product as well, following on from this (not an issue, just some extra work)
- we might want to talk about the naming of the environment variable
- we'll want to do some full testing of all the queries to make sure that they are correct, but they look right from a first read-thro

[2021-04-20 07:38] pierluigilenoci commented on #764
Hi @Sean-Holcomb, I called this API and I get this:
[code]
Checking the pod logs I have thousands of line like this:
[code]
but at the end I get this:
[code]
So I presume that everything works. But I get the same result in the interface (https://github.com/kubecost/cost-model/issues/764#issuecomment-822225379). 😢

[2021-04-20 15:13] ltagliamonte-dd commented on #772
@nikovacevic please let me know where to go from here.

[2021-04-20 16:26] SheepGotoHeaven commented on #774
Hi folks.

@ltagliamonte-dd are we sure the screenshot indicates a CORS error? I see headers that look like a CORS-based request is happening, but don't see indication of a CORS-related error.

The reason I ask is because I would not expect CORS to have any effect on `curl` results.

[2021-04-20 16:56] ltagliamonte-dd commented on #774
The chrome dev console says CORS:
<img width="1674" alt="Screen Shot 2021-04-20 at 9 48 36 AM" src="https://user-images.githubusercontent.com/51684360/115434545-abe90c80-a1bd-11eb-8670-a0eaab9ec650.png">

When i hoover the pointer on the error it says:
[code]

I agree with you on the curl result, it shouldn’t return 404.
However:
[code]

works with no problems.

[2021-04-20 19:34] nikovacevic commented on #772
@ltagliamonte-dd we will let you know soon. Thank you!

[2021-04-20 21:48] SheepGotoHeaven commented on #774
I see. Thanks for the additional info! Seems like there may be an issue with that endpoint. I'll test it out and get back to you shortly

[2021-04-21 16:46] Sean-Holcomb commented on #739
@ywyt738 I added in [773](https://github.com/kubecost/cost-model/pull/773) which I think will fix your problem. Please give the nightly build another try and share your results. The feedback is very helpful and is appreciated

[2021-04-21 17:07] SheepGotoHeaven commented on #774
Hi @ltagliamonte-dd

Thanks for bringing this to our attention. One part of the problem is that the URL the frontend tries to reach is incorrect -- it needs to be `/allocation/compute` rather than `/model/allocation/compute`.  I've opened a pull request to resolve that problem here: #775

Unfortunately, with the URL correct I'm now getting a Prometheus query error resulting in the same failure to

[2021-04-21 21:18] Sean-Holcomb commented on #764
@pierluigilenoci I can get similar results on an AKS cluster:
![Screen Shot 2021-04-21 at 2 05 55 PM](https://user-images.githubusercontent.com/12225425/115622177-5d666b80-a2ac-11eb-9fd3-85193cc48c31.png)
![Screen Shot 2021-04-21 at 2 15 55 PM](https://user-images.githubusercontent.com/12225425/115622179-5d666b80-a2ac-11eb-80cb-38a7912a89f9.png)

Can you try running an asset etl rebuild followed b

[2021-04-21 22:14] SheepGotoHeaven commented on #774
It seems like we've figured out the rest, and in reality it's a combination of 3 things:

(1) The UI was pointing at the wrong URL

(2) If you launched the open source product in the same way I did (based on [this doc](https://github.com/kubecost/cost-model/blob/develop/kubecost-exporter.md)), you ran `kubectl apply -f https://raw.githubusercontent.com/kubecost/cost-model/develop/kubernetes/export

[2021-04-21 22:23] ltagliamonte-dd commented on #774
Thank you!
Looking forward to test out the branch that fixes this issue.

[2021-04-21 22:26] AjayTripathy opened #776 "Paginate return values from cache"
Our caches over 1d/7d/30d can grow to be quite large on big clusters. We should not return all data but instead paginate the API responses by default.

[2021-04-22 02:46] ywyt738 commented on #739
@Sean-Holcomb I have upgraded to CM-0dd46e0_KCM-2b163cd. It works good.
Is the price unit on the frontend USD or CNY?

[2021-04-22 04:23] dwbrown2 commented on #776
+1, what API(s) do you feel are highest priority?

[2021-04-22 05:34] AjayTripathy commented on #776
Assets is very likely highest priority because we dump all cloud assets into cache as line items, which is very big.

[2021-04-22 08:02] pierluigilenoci commented on #764
Asset rebuild:
[code]
Result:
[code]
Allocation rebuild:
[code]
Result:
[code]
I did it in two clusters, same UI result, nothing changed:
<img width="1538" alt="Prod Cluster" src="https://user-images.githubusercontent.com/36044817/115678260-9c9ac800-a351-11eb-9570-02f3f665d558.png">

Report generated with this filter, maybe this can be the problem?
<img width="711" alt="Screenshot 2021-04-22 at 09

[2021-04-22 08:22] pierluigilenoci commented on #764
I checked also in AWS and the situation is even worst. Some EC2 instances are not listed at all and the resources are not tagged properly.

Kubecost UI:
<img width="1532" alt="Screenshot 2021-04-22 at 10 03 25" src="https://user-images.githubusercontent.com/36044817/115680316-c0f7a400-a353-11eb-95a8-9ea1763bf4e4.png">

<img width="1539" alt="Screenshot 2021-04-22 at 10 21 06" src="https://user-ima

[2021-04-22 16:13] Sean-Holcomb commented on #739
@ywyt738 Awesome, I am glad to hear it! The price unit should now be CNY. You can actually change the display unit of Kubecost changing this [option](https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/values.yaml#L629) from USD to CNY which should make things on the UI a little more clear. I am going to close this ticket for now. Please let us know if you encounter any

[2021-04-22 16:13] #739 closed

[2021-04-22 16:28] dwbrown2 commented on #776
If we add _sort_ flag then this should be straightforward?

Then requests params of `pageSize`,`pageNum`,`sortField` seem reasonable to me.

[2021-04-25 23:48] dwbrown2 commented on #766
We currently have an API for this, but it's undergoing some changes as move from the `checks` jobs to our core Go application. We can share documentation once it's ready if that would be helpful.

[2021-04-26 09:45] pierluigilenoci commented on #766
@dwbrown2 I look forward to the release of the new version.

[2021-04-26 14:21] pierluigilenoci commented on #764
@Sean-Holcomb any other test to do? How can I proceed?

[2021-04-26 15:30] ltagliamonte-dd commented on #774
Hello, any updates on this?

[2021-04-26 15:30] ltagliamonte-dd commented on #772
Hello, any updates on this?

[2021-04-26 15:53] SheepGotoHeaven commented on #774
Hi 👋 , yes

Friday was busy with release preparations and I didn't finish then, but I haven't forgotten! I'm working on the last piece (CORS configuration now)

[2021-04-26 15:54] Sean-Holcomb commented on #764
@pierluigilenoci This is still on my radar, I will try and get you some next steps today

[2021-04-26 19:49] nikovacevic commented on #772
Hi @ltagliamonte-dd. Yes, we discussed it this morning and have decided to move forward with your proposal. Do you mind opening a PR? We'll prioritize reviewing it and making the other necessary changes on our end this week or next.

[2021-04-26 20:09] SheepGotoHeaven commented on #774
Thanks for your patience, @ltagliamonte-dd.

I have opened a pull request (#780) to address the CORS issue and other issues. If you want to check out the corresponding branch [neal/frontend-cors-issue](https://github.com/kubecost/cost-model/tree/neal/frontend-cors-issue) and see if this fixes things for you as well, that would be excellent 👍

Please note that rather than running
[code]

you will w

[2021-04-27 00:24] Sean-Holcomb commented on #764
@pierluigilenoci I can see that for AWS you have your external labels set in value.yaml and the resource itself is properly tagged, but there is actually one other thing on AWS. Can you confirm that you have finished step 3 of this [doc](http://docs.kubecost.com/aws-out-of-cluster.html)
It should look something like this
![Screen Shot 2021-04-26 at 5 18 01 PM](https://user-images.githubusercontent

[2021-04-27 09:22] pierluigilenoci commented on #764
@Sean-Holcomb Now I have enabled all the "User-Defined Cost Allocation Tags".
I'll wait a few hours and see if things change. This could be solved. Thanks in advance!

What about Azure?

[2021-04-27 13:05] wrighbr opened #781 "Teams Notification"
It would be nice to have a teams Notification Channel via a web hook

cheers

Brett

[2021-04-27 19:44] ltagliamonte-dd commented on #774
Thanks @SheepGotoHeaven using your branch i don't see any CORS errors.
I'm still not able to get any data in it.. the backend seems to OOM with 10GB of RAM.
Will try to look into it.
Thanks!

[2021-04-27 19:47] ltagliamonte-dd commented on #772
@nikovacevic i opened the PR, please fee free to fork it, atm i don't know if i can work on this since my priorities have changed.

[2021-04-27 20:26] nikovacevic commented on #772
Thank you @ltagliamonte-dd we will take it from here!

[2021-04-27 21:39] Sean-Holcomb commented on #764
@pierluigilenoci
Could the comment here be relevant to your case?
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L323

Could you also check that the cluster_id is correct in your prometheus config
![Screen Shot 2021-04-27 at 2 28 11 PM](https://user-images.githubusercontent.com/12225425/116315236-19201300-a765-11eb-9970-515142165f76.png)
I know you put

[2021-04-27 22:08] dwbrown2 commented on #781
@wrighbr thanks for the request! Is there any more detail you can share on your use case? For example, how are you organizing teams today in your environment and what notification data would be most useful for you?

[2021-04-28 10:56] pierluigilenoci commented on #764
The `prometheus.yaml` image is a screenshot of the configMap taken from the cluster dashboard.
If you prefer to have one take from the Prometheus UI, please be my guest. 😄

<img width="479" alt="Screenshot 2021-04-28 at 11 34 35" src="https://user-images.githubusercontent.com/36044817/116382410-2e08af00-a816-11eb-8e80-018b1b6a13ba.png">

In my manifest I have:
[code]

I checked the chart and under

[2021-04-28 11:13] pierluigilenoci commented on #764
@AjayTripathy @Sean-Holcomb I created a ticket for that https://github.com/kubecost/cost-analyzer-helm-chart/issues/869

[2021-04-28 15:28] SheepGotoHeaven commented on #774
I'm glad to hear that at least the original problem is solved 🙂

I will close this ticket. Please don't hesitate to open another if the OOMing continues or you encounter other problems.

[2021-04-28 15:28] #774 closed

[2021-04-28 15:47] Sean-Holcomb commented on #764
@pierluigilenoci Sounds like you think that this is your underlying issue here. Can we close this issue since your new ticket is more specific?

[2021-04-28 16:14] pierluigilenoci commented on #764
@Sean-Holcomb now Azure cost are fine but AWS problem is still there. Do you prefer to continue here or I create a new issue for AWS only? I prefer to continue here.

**Azure is ok!**
<img width="1531" alt="Azure now is fine" src="https://user-images.githubusercontent.com/36044817/116434504-c02aaa80-a84a-11eb-88e0-866613a8d80b.png">

**For AWS** (just a recap):

* Configuration of Cost-Analyzer
[c

[2021-04-28 17:00] Sean-Holcomb commented on #764
@pierluigilenoci Yeah we can just continue here. Glad to hear Azure is working now. Can you go into Athena and make sure that your CUR table has columns for your added tags like this `resource_tags_user_foo (string)` after that look at you query history for queries along the lines
[code]
Lastly can you look for a couple specific line items you know are tagged and make sure the value is populating.

[2021-04-28 17:41] pierluigilenoci commented on #764
Athena is properly popolated.

<img width="406" alt="Screenshot 2021-04-28 at 19 29 06" src="https://user-images.githubusercontent.com/36044817/116447614-7943b180-a858-11eb-92dc-c730aaf5a6a8.png">
<img width="1311" alt="Screenshot 2021-04-28 at 19 32 09" src="https://user-images.githubusercontent.com/36044817/116447628-7cd73880-a858-11eb-9bbf-3a196b606847.png">

Inside the query history I found th

[2021-04-28 17:47] Sean-Holcomb commented on #764
@pierluigilenoci Ok that is all looking good, my last question is, in Kubecost for the assets that have no cluster that you know are tagged with cluster, are there duplicates with a cluster?

[2021-04-28 18:16] pierluigilenoci commented on #764
@Sean-Holcomb sorry but I think I don't understand the question but I try to answer anyway.

All clusters are linked to the same CUR as the master account so they collect data from all AWS accounts we have, not just those linked to K8s. So each Kubecost instance imports all the data so I find in each instance all the data of all the accounts. However, there are no duplicates within each Kubecost i

[2021-04-28 18:40] Sean-Holcomb commented on #764
@pierluigilenoci I was trying to determine if older data points for an asset did not have the cluster but newer ones did because it was not an exported tag/Athena column until recently. When assets are aggregated, cluster is part of the key they are aggregated on, so if older data points did not have cluster, but newer ones did I would expect to see one line item still with product id vol-01bc...

[2021-04-28 19:42] pierluigilenoci commented on #764
<img width="765" alt="Screenshot 2021-04-28 at 21 38 20" src="https://user-images.githubusercontent.com/36044817/116462996-6e921800-a86a-11eb-9949-70693e14f02e.png">
<img width="1426" alt="Screenshot 2021-04-28 at 21 39 05" src="https://user-images.githubusercontent.com/36044817/116463014-73ef6280-a86a-11eb-95bc-5b30dcca51e2.png">
<img width="1420" alt="Screenshot 2021-04-28 at 21 40 19" src="http

[2021-04-28 19:49] pierluigilenoci commented on #764
In Athena the tags are listed only from 9 am of yesterday.

<img width="1255" alt="Screenshot 2021-04-28 at 21 47 07" src="https://user-images.githubusercontent.com/36044817/116463717-5373d800-a86b-11eb-8dae-693f382ee552.png">

This data is not imported to date in Kubecost. Waiting 24 hours can make sense.

[2021-04-28 20:23] Sean-Holcomb commented on #764
@pierluigilenoci You answered my question before I even asked it. Please let me know what you find tomorrow. Thank you

[2021-04-29 06:33] wrighbr commented on #781
@dwbrown2 we would like to make developers aware of the cost/saving that could make within k8s cluster.
I was thinking via a notification ie, teams channel (we don't use slack)

https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using

I'm also open to a better way of doing so we don't get notification fatigue.
As we have start on journey with backst

[2021-04-30 03:53] dwbrown2 commented on #781
@wrighbr oh I see what you mean! We should support any generic webhooks in our [alerts](https://github.com/kubecost/docs/blob/master/alerts.md). Have you explored those?

Would be great to get your input on backstage. We're hearing the request more and more often!

[2021-04-30 15:04] pierluigilenoci commented on #764
Finally!
Assets are tagged...
<img width="1089" alt="Screenshot 2021-04-30 at 16 53 26" src="https://user-images.githubusercontent.com/36044817/116713034-ba60d080-a9d4-11eb-8c0b-45cbc017fec5.png">
... and external costs are there! 🚀
<img width="1322" alt="Screenshot 2021-04-30 at 16 54 09" src="https://user-images.githubusercontent.com/36044817/116713039-bcc32a80-a9d4-11eb-9424-73da5c437429.png">

[2021-04-30 15:50] Sean-Holcomb commented on #764
@pierluigilenoci Awesome! I am glad we were able to work through these issue.

[2021-04-30 15:50] #764 closed

[2021-04-30 15:56] AjayTripathy commented on #759
This page has been deprecated in favor of reports.html as of 1.79.0 . Please let us know if the problem persists on the new cost-allocation page.

[2021-04-30 15:56] #759 closed

[2021-04-30 16:10] AjayTripathy opened #784 "Use AWS Spot Describe Spot Pricing history for more accurate estimates until the spot data feed is available"
Today, until data for AWS spot price nodes becomes available in the spot data feed:
1. kubecost uses the public pricing API estimate for a node if you have not supplied a tag for the spot node
2. a flat per CPU/ GB RAM estimate (tunable (here)[https://github.com/kubecost/cost-analyzer-helm-chart/blob/v1.79.1/cost-analyzer/values.yaml#L589] ) if a spot node has been tagged and kubecost has been mad

[2021-04-30 16:13] pierluigilenoci opened #785 "Feature request: AWS External cost filtered by projectID"
In the case of AWS Organizations, the CUR is generated at the root account level and contains the costs of all resources of all sub-accounts. It would be desirable that, within a Kubecost instance, it was possible to choose to filter only the costs related to the account defined through `kubecostProductConfigs.projectID`

[2021-04-30 16:19] dwbrown2 commented on #785
Hi @pierluigilenoci looking forward to exploring this!

@SheepGotoHeaven @AjayTripathy would this be a good candidate for new global filters? https://github.com/kubecost/cost-analyzer-helm-chart/pull/862

@pierluigilenoci just curious, have you looked at the new option from AWS where you can generate CURs for linked accounts?

[2021-04-30 16:23] pierluigilenoci commented on #785
@dwbrown2 nope, would you be kind enough to tell me where I can find information about it?

I found just this https://aws.amazon.com/about-aws/whats-new/2020/12/cost-and-usage-report-now-available-to-member-linked-accounts/ but it is a bit lacking in details.

[2021-04-30 19:40] dwbrown2 commented on #785
That AWS link + embedded references are actually the only resource I've ever seen actually...

[2021-05-03 12:47] pierluigilenoci opened #787 "Cost-analyzer causes throttling of requests on the Azure portal."
During a cluster upgrade (to version 1.19.9) the operation failed because `Cost-analyzer` (version 1.78, not yet tested 1.79.1) created too many requests and the Azure portal was responding `Error 429`.

* Logs from Azure portal:

[code]

[code]

Digging with Azure engineers we observed a pattern with the request for VMSS scaling up operation which is putting it to 429 Error code:

[code]

From Az

[2021-05-03 13:22] pierluigilenoci commented on #787
@Sean-Holcomb could you please take a look?

[2021-05-03 13:23] pierluigilenoci commented on #764
Another "not-so-small" related update: https://github.com/kubecost/cost-model/issues/787 😢

[2021-05-03 18:03] Sean-Holcomb commented on #787
@pierluigilenoci I will try to take a look this week and let you know what I find.

[2021-05-04 08:30] marcportabellaclotet-mt commented on #266
Thanks dwbrown2, it is also working for us.

Is it possible to add iam role k8s service account support for the optional module that can be configured to find abandoned load balancers and disks.?
On this module, I receive the message : ``` unable to get addresses: EnvAccessKeyNotFound: AWS_ACCESS_KEY_ID or AWS_ACCESS_KEY not found in environment```

Thanks for such a great tool.

[2021-05-04 18:34] Sean-Holcomb commented on #787
@pierluigilenoci Do you see anything interesting when you run `kubectl get po -n kubecost`?

[2021-05-04 20:32] dwbrown2 commented on #766
@pierluigilenoci there are two relevant APIs here. Would be interested in your general feedback/questions and then we can look to document further!

`<your-kubecost-endpoint>/api/setNamespaceAttributes` -- used to set contact info

Post Parameters
[code]
Response: JSON representation of namespace metadata

`<your-kubecost-endpoint>/api/setBudget` -- used to set namespace budget alert

Post Paramet

[2021-05-05 04:18] iamgeef opened #791 "Spot Instance Configuration settings get copied to GCP setup"
Followed the Install instructions as per https://www.kubecost.com/install.html#show-instructions :
[code]
helm version: v3.5.4+g1b5edb6
Using EKS v1.17

I've been trying to get GCP and AWS external cost allocation configured, added the correct values to the individual config pages, but still wasn't getting any data.

Checked the console logs and saw a few calls to google that were failing:

[code]

[2021-05-05 05:31] iamgeef commented on #791
I've just noticed that when I set this value in the values.yml file:

![image](https://user-images.githubusercontent.com/10751405/117100229-93304780-adb6-11eb-9a9c-f6d511bb8400.png)

It is being used for both AWS account ID value in Spot Feed Configuration **and** the GCP ProjectID value in the GCP config.

[2021-05-05 07:28] pierluigilenoci commented on #787
I don't think there is anything interesting.
[code]
All normal even in events:
[code]
From the pod logs... thousand of line like this:
[code]

But we're not doing a cluster upgrade right now.

[2021-05-05 12:37] pierluigilenoci commented on #787
I updated the software to version 1.79.1 and I asked Azure engineers to redo the measurement of the requests to the VMSS. As soon as they pass me the data, I update the ticket.

[2021-05-05 13:51] pierluigilenoci commented on #766
This is exactly what I was looking for. ❤️

I've tried both APIs and there are some things I don't understand.

**setBudget**

When I call `setBudget` I get as a result the list of budgets of all namespaces but in the head, there is an empty JSON.
[code]

Is this normal?

**setNamespaceAttributes**

If I want to configure all the namespaces I have to send a payload with all the namespaces.
If one

[2021-05-05 14:38] pierluigilenoci opened #792 "How to re-subscribe an email unsubscribed from the notification emails?"
At the bottom of the notification emails, there is the link to be removed from the notifications. By clicking, you end up on SendGrid, and you are unsubscribed.

![Screenshot from 2021-05-05 16-24-59](https://user-images.githubusercontent.com/36044817/117158909-1dc97480-adc0-11eb-84c2-18af7ad73ad4.png)

If someone changes his mind, however, there is no way to be added again.
I tried reapplying the

[2021-05-06 14:24] dwbrown2 commented on #792
@pierluigilenoci you're right that this isn't self-serve today. You can email team@kubecost.com if you'd like to have yourself manually resubscribed.

@AjayTripathy was going to investigate making this self-serve. Ajay, can share updates as they are available?

[2021-05-06 16:57] pierluigilenoci commented on #792
@dwbrown2 thank you, but it is not so much for the email that has been unsubscribed, but for the fact that I would like end-users to be able to handle it without the need for external help.

I will wait until it can be managed on my own before implementing this in our clusters.

Please, keep me posted.

[2021-05-06 17:46] AjayTripathy commented on #791
Hi @iamgeef -- thanks so much for this report. It sounds like you're trying to view AWS and GCP external costs on the same k8s cluster-- is that right?

I'll get this prioritized. We can definitely do a better job supporting cross-cloud provider usecases here, but in the meantime as a workaround, does this work when not setting up the spotdatafeed?

[2021-05-06 19:27] dwbrown2 commented on #792
Sounds good, @pierluigilenoci. Totally understand the need. Just let us know you do need manual help in the short-term, while @AjayTripathy investigates!

[2021-05-07 10:21] pierluigilenoci opened #793 "Discrepancy in the Saving panels"
Following the documentation, we have configured the various namespaces with the [Availability Tiers](https://github.com/kubecost/docs/blob/master/availability-tiers.md).

I expected the suggestions proposed by the "Saving - Request Sizing Recommendations" page to respect the configured tier.

<img width="857" alt="Screenshot 2021-05-07 at 12 11 24" src="https://user-images.githubusercontent.com/36

[2021-05-07 14:42] AjayTripathy opened #794 "Re-visit Abandoned Disks/Abandoned Loadbalancer features"
The Abandoned Disks/Abandoned Loadbalancer features need a revisit. They predate the Assets pipeline and multicluster kubecost views.

Option 1  could be to use the Assets pipeline on AWS and Azure by enumerating cloud data from the Assets pipeline and diffing it against the data on the Allocation pipeline.  This presents problems on GKE or any cloud provider where reconciliation is made difficult

[2021-05-07 14:42] AjayTripathy commented on #266
Hi @marcportabellaclotet-mt , looks like that module hasn't been updated in some time and needs additional work to use the newer authentication flows and be made useful. I've filed https://github.com/kubecost/cost-model/issues/794 to take a look

[2021-05-07 14:48] dwbrown2 commented on #794
Can you share what you view as the issues with the current implementation and why it need to be revisited?

[2021-05-07 15:55] pierluigilenoci commented on #792
@dwbrown2 wrote it in the Slack Support Channel. Thanks.

[2021-05-07 16:26] AjayTripathy commented on #794
1. It seems at the very least we need to make a change to migrate it to use a new authentication flow as reported in #266
2. Needs an expansion of permissions to view compute resources-- the less permissions users have to configure the better. I wanted to at least discuss the possibility of doing this fully through "reconciliation" of k8s data and the CUR-- that is, mark a a disk  or LB that hasn'

[2021-05-11 18:27] dwbrown2 commented on #793
Dedicated namespace page, e.g. <your-kubecost-url>/namespace.html?name=kubecost

[2021-05-12 13:45] pierluigilenoci commented on #793
Really interesting. I tried to understand what is the REST call that builds this is but I couldn't figure it out. Can you help me?

<img width="535" alt="Screenshot 2021-05-12 at 15 45 33" src="https://user-images.githubusercontent.com/36044817/117985565-1adb0080-b339-11eb-9988-273882f8b522.png">

[2021-05-12 18:52] dwbrown2 commented on #793
Can you share a bit more about the specific information that would be most helpful?

[2021-05-14 08:10] pierluigilenoci commented on #793
The information I would like to have is simply the list of pods with current and recommended memory / cpu by namespace. Obtained with one or more rest calls (preferably one)

[2021-05-14 13:31] pierluigilenoci commented on #787
I'm still waiting for the Azure engineers... 🤦🏻

[2021-05-17 11:07] danlester opened #803 "Annotations for owner/team cost allocation seem to be ignored"
Hello!

I have installed version 1.80.0 via Helm chart. The [documentation](http://docs.kubecost.com/cost-allocation.html) seems to suggest that owner/team etc cost allocations can be made either through labels or annotations.

However, annotations seem to be ignored. Labels work fine.

Is it possible to use annotations for this purpose? This could be preferable, not least because it gives a wider

[2021-05-17 15:02] pierluigilenoci commented on #793
This page also has a discrepancy in values with the dedicated namespace page mentioned by @dwbrown2.

Let's take for example two pods ([kube-slack](https://github.com/wongnai/kube-slack) and [kubernetes-dashboard](https://github.com/kubernetes/dashboard)), "Saving - Request Sizing Recommendations" page with the correct tier selected in the drop-down list, 7 days timespan:

<img width="1553" alt="S

[2021-05-17 15:07] kbrwn commented on #803
hi @danlester, thanks for reporting this issue. Let's try to confirm through debugging if this is a configuration issue or bug. Could you send more info such as the values.yaml file or helm command used to launch kubecost to support@kubecost.com?

[2021-05-17 15:34] pierluigilenoci commented on #787
Still waiting... 😡 please be patient... 🙏🏻

[2021-05-17 15:54] pierluigilenoci opened #804 "Deprecated kube-state-metrics metrics"
According to kube-state-metrics [documentation](https://kubernetes.io/blog/2021/04/13/kube-state-metrics-v-2-0/#what-is-new-in-v2-0) and [repo](https://github.com/kubernetes/kube-state-metrics/tree/release-1.9/docs#metrics-deprecation) the metric `kube_pod_container_resource_requests_memory_bytes` is deprecated and removed from version v2.0 of kube-state-metrics.

Since [May 15th](https://github.c

[2021-05-17 20:44] dwbrown2 commented on #737
Now that we've migrated alerts to Go, @mbolt35 is going to review adding this functionality!

[2021-05-18 16:57] danlester commented on #803
OK thank you, I've sent an email.

To be clear though, it's entirely possible you don't support annotations - some of your GitHub issues etc suggest not any more.

[2021-05-19 07:24] pierluigilenoci commented on #793
@dwbrown2 any feedback?

[2021-05-19 07:31] pierluigilenoci commented on #787
Azure engineers do not log 429 errors in their backends with the current configuration (Kubernetes 1.19.9 (on AKS) and Kubecost 1.80.0). We have a cluster update schedule next week, let's see what happens.

[2021-05-19 09:00] pierluigilenoci commented on #804
@dwbrown2 could you please take a look?

[2021-05-19 16:08] dwbrown2 commented on #804
@pierluigilenoci this is a duplicate of https://github.com/kubecost/docs/issues/74

[2021-05-19 16:08] #804 closed

[2021-05-19 16:40] DerrickMartinez opened #806 "Data doesn't persist more than one day?"
Not sure if this is intentional or just misconfiguration. But data (reports, assets etc) only seems to persist a single day. How long should it persist for the free community version?

[2021-05-19 16:44] dwbrown2 commented on #806
@DerrickMartinez should persist for 15-days by default. This assumes that PVs are enabled and no long-term storage setup. Happy to review a [bug report](http://docs.kubecost.com/bug-report) if you want to send one to support@kubecost.com or can provide input on this issue. Just let us know what is best!

[2021-05-19 17:24] pierluigilenoci commented on #804
Ok thanks, but mine was more liked and in the right repo. :P

[2021-05-20 17:24] dwbrown2 commented on #803
@danlester we do support annotations in cost allocation. But these actually need to be enabled. They are disabled by default because for some teams they can generate a lot of new Prometheus metrics.

[2021-05-20 18:05] AjayTripathy commented on #803
Hi @danlester , you can turn these on with, for example,

--set kubecostMetrics.emitPodAnnotations=true
--set kubecostMetrics.emitNamespaceAnnotations=true

[2021-05-21 07:44] danlester commented on #803
Thank you for letting me know - definitely one for the docs! By the way, some of the pages in your docs only seem to appear via the right Google search, and don't seem to be linked internally.

[2021-05-21 07:44] #803 closed

[2021-05-23 23:06] dwbrown2 commented on #806
@DerrickMartinez can we help further here? Just let me know if we can!

[2021-05-24 16:55] kbrwn opened #808 "Allow filter by cluster on "Local disks with low utilization" saving page"
Multicluster/Federated customers would like to be able to filter by cluster on this page as in some clusters low disk utilization is not a concern.

[2021-05-24 17:16] kbrwn opened #809 "testing gh -> zd via email notification"
test plz ignore

[2021-05-24 17:24] kbrwn commented on #809
test

[2021-05-24 19:06] dwbrown2 commented on #808
Strong +1, there's a couple structural changes that we will want to make here. This will bring this API to be more consistent with our other savings APIs. Let us plan to review in an upcoming sprint session!

[2021-05-24 19:48] dwbrown2 commented on #803
Great suggestion, @danlester. We have [this annotations resource](https://github.com/kubecost/docs/blob/ef803156421396b0db30a655d1240244a9346931/annotations.md) but we'll link from cost allocation page.

We're also going to be investigating other docs solutions soon to provide easier discoverability.

[2021-05-26 16:42] kbrwn opened #812 "Support static list in "Available Clusters" view"
In multi/switch cluster the initial select available cluster view should be a static list, always in the same order, rather than a dynamic list as it is now.

[2021-05-26 17:20] AjayTripathy commented on #812
Duplicate of https://github.com/kubecost/cost-analyzer-helm-chart/issues/916 ?

[2021-05-26 17:27] kbrwn opened #813 "Grafana not loading data (missing "cluster" source)"
![bad-grafana](https://user-images.githubusercontent.com/4100493/119704754-df4a3700-be0c-11eb-8f3a-94e0f98e4d63.gif)

gz#302

[2021-05-26 18:36] #812 closed

[2021-05-26 18:37] #809 closed

[2021-05-26 18:37] kbrwn opened #814 "testing issue to zd via gitzen"
test

[2021-05-26 20:40] #814 closed

[2021-05-26 20:40] kbrwn opened #815 "testing issue to zd via gitzen #2"
test

[2021-05-26 21:27] #815 closed

[2021-05-26 21:27] kbrwn opened #816 "gitzen test #3"
now with webhooks!!!

gz#324

[2021-05-26 21:35] kbrwn commented on #816
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus nulla, dignissim quis pretium non, consectetur a tellus. Nullam vulputate, lectus in consequat sodales, magna arcu vestibulum leo, at venenatis arcu dolor nec purus. Suspendisse egestas enim eu egestas ultrices. Nam iaculis facilisis dolor, ac imperdiet felis ultrices dapibus.

[2021-05-26 21:36] stacy-tumarkin commented on #816
I am commenting on this issue1!!

[2021-05-27 22:22] kbrwn opened #818 ""Assumed use discount" should be renamed "Sustained use" discount"
We should be matching terminology used by GCP: https://cloud.google.com/compute/docs/sustained-use-discounts

<img width="495" alt="assumed use discount" src="https://user-images.githubusercontent.com/4100493/119904432-38929300-beff-11eb-999d-9532cc662091.png">

gz#330

[2021-05-28 00:59] dwbrown2 commented on #818
+1, I think we should update title & subtitle

[2021-05-28 18:52] dwbrown2 commented on #813
I was able to reproduce this with @AjayTripathy. He's investigating.

[2021-06-01 16:19] nikovacevic commented on #816
Not sure what's going on, but looks fun!! Does this need to remain open, or can we close?

[2021-06-03 01:03] AjayTripathy commented on #818
I think we should actually just remove this. This is actually 3 numbers  (30% on n1, 20% on n2, 0% on e2) and is no longer controlled by user input. Users should instead use "negotiated discount" to supply flat discounts on the cluster.

[2021-06-03 15:56] #816 closed

[2021-06-04 18:49] kbrwn opened #822 "INR currency conversion not working"
After selecting INR as the Currency in /setting.html and saving the only change in the kubecost UI is the currency symbol. The numbers are still in USD.

gz#359

[2021-06-06 23:39] dwbrown2 commented on #818
That approach doesn't seem right... you're assuming that each user receives
the full sustained use discount, which is not always true. Why not support
an estimated % of possible discount realized?

Webb
Kubecost, Co-founder

ᐧ

On Wed, Jun 2, 2021 at 6:04 PM Ajay Tripathy ***@***.***>
wrote:

[2021-06-08 01:18] AjayTripathy opened #824 "Show difference between RIs/Savings Plans pricing and public API pricing in Allocation Pipeline"
Use cases:

* Custom analysis: Certain organizations can't bill their dev teams based on savings plans because the dev teams don't have control over making reservations/buying savings plans.

* Clearly show the effectiveness of savings plans/RIs for users using savings plans.

Implementation ideas:
* Create a flag that stops using savings plan data to estimate costs, then create an adjustment colu

[2021-06-08 01:22] dwbrown2 commented on #824
Would it be more appropriate to support a blended cost measurement? In most cases, I've seen someone should received from RIs.

[2021-06-08 08:32] AjayTripathy commented on #824
I think we can generalize to support different pricing breakdown styles but I think if we're starting somewhere public pricing + adjustment to amortized makes sense.

[2021-06-08 08:33] AjayTripathy commented on #813
https://github.com/kubecost/cost-analyzer-helm-chart/pull/921

[2021-06-08 16:17] AjayTripathy commented on #818
Ok-- how abou "Estimated Sustained Use Discount?"

[2021-06-08 16:46] wiceywkus opened #825 "Move the product 'key' in 'product-configs' be moved from a ConfigMap to a Secret"
Proposal: to help protect the product key and provide cleaner integration with other tools for managing protected data, like AWS SSM, Hashicorp Vault, etc., consider switch the 'product-configs' ConfigMap to a Secret.

gz#366

[2021-06-08 16:47] amit-solanki opened #826 "why does plans mention different retention period when we could update those values with prometheus.server.retention"
And in absence of Prometheus where does kubecost stores the metric data?

gz#367

[2021-06-08 17:35] dwbrown2 commented on #825
@wiceywkus you should be able to directly supply an existing secret name!

Ref: https://github.com/kubecost/cost-analyzer-helm-chart/blob/00f667512297abf467e270b80333adc935049ac2/cost-analyzer/values.yaml#L660

Is this helpful?

[2021-06-08 17:39] dwbrown2 commented on #818
I like that idea!

And this value would get scaled by instance type? For example, would never be applied to e2?

[2021-06-08 19:11] AjayTripathy commented on #818
Right now a fixed 0% gets applied to e2 and a fixed 20% gets applied to n2... so it's "scaled" to e2 but not to n2.

I think the proposal makes sense but let's not blow up the scope here.

[2021-06-09 17:33] wiceywkus commented on #825
YES!
I built a Secret.yaml like:
[code]
where
<base64-encoded string>'s source was formatted like ```"{key: '<my-pkey>'}"``` and looks like ```elotsoflettersandnumbers=``` post encoding.

[2021-06-09 17:34] #825 closed

[2021-06-14 16:44] kbrwn commented on #826
hi @amit-solanki please feel free to email questions like this to support@kubecost.com or join our slack at kubecost.slack.com.

[2021-06-14 16:44] #826 closed

[2021-06-14 19:13] xhejtman opened #834 "Namespaces grouping"
It would be great, if we can group all system namespaces into a single one aliased System, so we have a single item as system costs and we can focus on user's namespaces.

gz#398

[2021-06-14 20:25] kbrwn commented on #834
hi @xhejtman this info is available in the "Totals" row when viewing cost allocation by namespace. You can also select "Cluster" from the breakdown menu which shows the combined cost of all namespaces across the cluster(s).

[2021-06-14 20:30] xhejtman commented on #834
that is not exactly what we would like to see here. We would like to see something like permanently group some of namespaces. E.g., the system ones. So nowhere in overview you find kube-system ns. Only System ns.

[2021-06-14 21:35] kbrwn commented on #834
@xhejtman you are able to create a cost allocation report with a filter on namespaces. I suggest you create one for the various "system" namespaces and then save it so you can go back and review regularly.

[2021-06-14 22:31] xhejtman commented on #834
But I cannot do it for Overview and Cost allocation dashboard, can I?

[2021-06-15 00:29] dwbrown2 commented on #834
I agree with Kyle on filters being one good solution. You can also add _namespace labels_ and group by this this label. You can do both approaches on the the Cost allocation dashboard + Saved Reports. Not yet on Overview.

[2021-06-15 00:36] xhejtman commented on #834
can I filter like *-ns ? to mach any namespace ending with -ns ?

[2021-06-15 00:46] dwbrown2 commented on #834
We currently support wildcards at the end of a filter string.

cc @SheepGotoHeaven who is reviewing more advanced filter options.

[2021-06-15 16:27] dwbrown2 commented on #737
We've just added the ability to generate recurring reports based on any aggregation, e.g. label and deployment.

It's available in our latest RC build -- https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.82.0-rc.0

Would love to hear your feedback on this addition if it's useful for you!

[2021-06-16 10:50] pierluigilenoci commented on #737
@dwbrown2 is there any documentation of use of the feature?

[2021-06-16 14:07] dwbrown2 commented on #737
@pierluigilenoci here you go: https://github.com/kubecost/docs/pull/93/files

Let me know if you have questions or issues!

[2021-06-18 08:28] AjayTripathy opened #836 "Helm use apiVersion: 2 and move the dependencies into the Chart.yaml from requirements.yaml"
Let's finish our migration from helm2 to helm3. The two outstanding steps are setting the apiVersion and moving the dependencies into Chart.yaml

gz#414

[2021-06-23 18:47] alexmnyc opened #838 "Is this free or not? It's not clear"
When going to get the helm chart there is a clause about pricing. Please clarify if installing this supposedly OSS product requires paying for it or not. The installation seems to require a token
[code]

gz#443

[2021-06-23 19:27] dwbrown2 commented on #838
@alexmnyc this project is both free and open source.

Kubecost itself is "open-core" and you can find all of our free install paths available here: http://docs.kubecost.com/install. You can optionally upgrade over to a paid plan if you like the community release and want more features, but it's definitely not required!

Let me know if you feel we can share more of update our documentation to be mo

[2021-06-23 19:35] alexmnyc commented on #838
So can I use it on multiple clusters at work without any support plans? Or do I have to pay a fee. Typically OSS projects are free and companies make money by providing enterprise features and/or support plans. Before i try to pitch the product at work I need to understanding the cost model

[2021-06-23 19:53] kbrwn commented on #838
Hi @alexmnyc , the code you see in this repo is free and open source and can be installed via kubernetes manifest with no limitations. The [helm chart](https://github.com/kubecost/cost-analyzer-helm-chart/) installs kubecost community edition, which many individual users will be able to use for free and is based around the open core product in this repository. Check https://www.kubecost.com/pricin

[2021-06-23 20:02] alexmnyc commented on #838
Ok. So I can install the product as a manifest myself without limitations on as many clusters as I need but usage of the helm chart you provide is subject to the commercial licensing beyond one free cluster. Is that correct?

[2021-06-23 20:06] kbrwn commented on #838
@alexmnyc yes that is correct.

[2021-06-23 20:16] alexmnyc commented on #838
Thank you for clarifying it

[2021-06-24 18:38] #838 closed

[2021-06-25 17:35] AjayTripathy commented on #772
This is done and in production!

[2021-06-25 17:35] #772 closed

[2021-06-25 21:31] kirbsauce opened #841 "Sharing resources only within the clusters they run in"
Add functionality to the Allocation view (and API) to support sharing certain resources only within the cluster they run in, rather than across all clusters.

gz#462

[2021-06-28 18:31] AjayTripathy opened #844 "Consider eks default CNI pod per node limits by class when recommending instance sizes"
The EKS default CNI has per-node pod limits that deviate significantly from the 110 pods-per-node limit most k8s CNIs support (https://kubernetes.io/docs/setup/best-practices/cluster-large/). Our current recommendation for cost-conscious teams is to migrate away from the default CNI (https://medium.com/@swazza85/dealing-with-pod-density-limitations-on-eks-worker-nodes-137a12c8b218), but we should

[2021-06-28 23:39] dwbrown2 commented on #765
This should now be supported in Enterprise Kubecost.

[2021-06-29 12:41] kitianFresh opened #847 "There is a bug in UI about cucrrency"
I have set the currency to CNY as following,

![image](https://user-images.githubusercontent.com/8846958/123798346-acb6c100-d919-11eb-88d1-7d4afdb60242.png)

but when i click the item in assets, it show USD

![image](https://user-images.githubusercontent.com/8846958/123798583-e4be0400-d919-11eb-8e33-122a275d5667.png)

I use the Kubecost v1.81.0

[2021-06-30 18:07] nikovacevic opened #849 "Panic in ComputeAssets/ClusterLoadBalancers"
Reported by @AjayTripathy

[code]

gz#483

[2021-07-01 17:55] nikovacevic opened #854 "Default shared tenancy costs to false and provide setting to turn on"
We've had several reports of inexplicable behavior from our own developers (not to mention our users, who will surely have the same question) with regard to the appearance of substantial shared costs when no shared namespaces, labels, or overhead are set. After some investigation, we found that they are coming from the relatively new "shared tenancy cost" feature, which defaults to "true" and does

[2021-07-01 17:58] nikovacevic commented on #854
A workaround in the meantime to is to pass `sharedTenancyCosts=false` with Allocation API calls.

[2021-07-01 18:08] AjayTripathy commented on #854
We did this in part to address the question "Why do my k8s costs differ from my total cloud costs? I just want to match them to my bill"-- or at least to reduce any gaps there. It seems logical to break those out into a separate column and allocate them as they should be allocated. I _think_ that any questions are just as a result of people familiar to kubecost coming to expect _only_ k8s costs on

[2021-07-01 18:17] nikovacevic commented on #854
That's fair, and it's good context for the discussion. With that context, we have several questions to answer:
- What percentage of users want this behavior? Right now, 100% of users will get it 100% of the time, which I suspect differs from the rate of users asking for their k8s allocation costs to match their total cloud costs, especially with idle allocation off.
- Even if we default this setti

[2021-07-01 18:23] Sean-Holcomb commented on #854
I think adding a column is overkill, since it is a feature that can be turned off. It would increase the visual complexity of the page and expand the allocation schema again. I think adding a control with explanation, which includes having it in the api call from the FE, makes the most sense and is the most flexible.

[2021-07-01 18:27] nikovacevic commented on #854
Agree with @Sean-Holcomb, personally. I'd even advocate for such a control to be placed with the rest of the shared costs controls in the Settings page, so that we don't even need to add anything to the Allocation page controls. Open to other ideas there.

[2021-07-01 18:29] michaelmdresser commented on #854
Wherever this lands, we should at least add the `shareTenancyCosts` flag to the Allocation API instructions: https://github.com/kubecost/docs/blob/master/allocation.md#querying

[2021-07-01 18:37] Sean-Holcomb commented on #854
@michaelmdresser that one is my bad, I had the updates but didn't push them [104](https://github.com/kubecost/docs/pull/104)

[2021-07-01 19:30] nikovacevic commented on #854
Thanks, @Sean-Holcomb, that's a huge improvement.

[2021-07-05 09:14] kitianFresh opened #859 "Support Tencent Cloud Provider's TKE kubernetes"
Hi Team, recently i am developing [tencent cloud](https://cloud.tencent.com/) which is a top2 cloud provider in China.

I can contribute the tencent cloud provider for kubecost. and now i am testing my code.

@AjayTripathy

gz#503

gz#479

[2021-07-06 00:31] dwbrown2 commented on #859
That is great to hear, @kitianFresh! Looking forward to reviewing and helping you get this merged as soon as you are ready.

[2021-07-06 14:21] kitianFresh opened #862 "kubecost UI display nothing"
Hi Team, any one can help me?  i write an provider for qcloud, and i test my cost model api is ok, but the ui always display nothing.

when debug chrome, i found there are some apis not found, it is strange

![image](https://user-images.githubusercontent.com/8846958/124612606-0c2a4900-dea5-11eb-965c-a234bc0cece1.png)

my cost model service is ok, and i can request the api such as allNodePricing
![

[2021-07-06 14:41] dwbrown2 commented on #844
+1, I actually think there are several other constraints we can review when adding new features to cluster right-sizing

[2021-07-06 16:36] AjayTripathy commented on #862
Hi @kitianFresh happy to help. Any chance you could go through some of the troubleshooting steps here about loading the app and let us know what you find? https://github.com/kubecost/docs/blob/master/troubleshoot-install.md#issue-unable-to-load-app

[2021-07-07 03:47] kitianFresh commented on #862
I replace  {% raw %}{{ $serviceName }}.{{ .Release.Namespace }}{% endraw %}  with localhost in the cost-analyzer-frontend-config-map-template.yaml
![image](https://user-images.githubusercontent.com/8846958/124697039-b8f1de00-df18-11eb-94c4-4997f4846715.png)

and following is the real configmap after i installed kubecost
![image](https://user-images.githubusercontent.com/8846958/124697241-0a9a6880-

[2021-07-07 03:58] AjayTripathy commented on #862
It shouldn't, are you able to try port-forwarding instead of visiting via your ingress/loadbalancer?

[2021-07-07 04:20] kitianFresh commented on #862
Yes, i use the load balancer in cloud before. but i also use port-forwarding in my local mac machine to test your method, but it does not work.

i found the image build by your team has some api  which is not found in open source version in cost-model.   these api will affect the UI?  and what the cost-model branch and tag you team use, i use the develop branch

![image](https://user-images.github

[2021-07-07 04:45] AjayTripathy commented on #862
AH-- that makes sense, yes we use our open-core as a library on top of our community edition which adds things like key management.

To test changes to the open core-- can you try following these instructions to build/test/deploy? https://github.com/kubecost/cost-model/blob/develop/CONTRIBUTING.md#building

[2021-07-07 06:00] kitianFresh commented on #862
cost-model is ok, and  test all passed

![image](https://user-images.githubusercontent.com/8846958/124704970-86031680-df27-11eb-817c-8ff6394f3d7b.png)

[2021-07-07 06:09] AjayTripathy commented on #862
Awesome! Looking forward to the PR!

[2021-07-07 06:56] kitianFresh commented on #862
But i can not run the entire product when deploy the new version cost-model.  none of the app's UI will load;  When i use your cost-model, it is ok.  I can not find the reason because  server is not open sourced, i do not know any request is blocked?

Is there any constraints  when you only build new cost-model?  Because your version has key management so developer built cost-model can not use dir

[2021-07-07 07:29] AjayTripathy commented on #862
That's correct-- some of the APIs are not open sourced so won't be visible, and some require the key. We also change a few of our routes, which I believe is causing no pages to render. We can take it as a goal to make at least /allocations.html render, which has the open core frontend and shouldn't be too hard to add.

[2021-07-07 07:30] AjayTripathy commented on #862
For now-- this appears to be working as it looks like data is rendering in the open-source.

[2021-07-07 07:43] kitianFresh commented on #862
Thanks, if so, i can issue an pr first to add the cloud provider support.

[2021-07-07 19:32] AjayTripathy commented on #862
That would be great! Happy to look at the PR when it's ready-- let me know if anything else is blocking you!

[2021-07-07 20:07] AjayTripathy commented on #847
HI @kitianFresh , this should be fixed in our latest release, 1.82.2. Let me know if the problem still persists.

[2021-07-13 03:36] dwbrown2 commented on #407
@Sean-Holcomb this is now complete, correct?! If so, feel free to close!

[2021-07-13 16:16] Sean-Holcomb commented on #407
Yes this is complete

[2021-07-13 16:16] #407 closed

[2021-07-14 00:40] AjayTripathy commented on #862
Hi @kitianFresh anything I can help you with here?

[2021-07-14 19:22] nikovacevic commented on #854
Improved in https://github.com/kubecost/cost-model/pull/864

[2021-07-14 19:22] #854 closed

[2021-07-21 16:15] hyj-github opened #872 "How to get kubecost data by python"
I want to use a Python program to get the data in the figure below. What URL and interface should I call?
![image](https://user-images.githubusercontent.com/54680729/126523137-97b63630-d052-4bc9-8506-8cc54c553b29.png)

gz#583

[2021-07-21 18:00] kbrwn commented on #872
Hi @hyj-github you can use the kubecost [allocation api](https://github.com/kubecost/docs/blob/master/allocation.md) with a python library like requests or urllib to get this data.

[2021-07-21 18:21] andronux opened #873 "AWS > Compute costs missing"
Hello,

my kubecost instance isn't showing compute (CPU/RAM) costs

![image](https://user-images.githubusercontent.com/31890696/126539790-8cc05dd1-434d-4859-b00a-e763358c5bb4.png)

Am I missing something?

gz#585

[2021-07-22 17:30] kbrwn commented on #873
Hello, it is possible you are missing metrics in prometheus that provide data on compute resources such as cpu/memory. Please create a [bug report](https://github.com/kubecost/docs/blob/master/bug-report.md) and email it to support@kubecost.com to get more help.

[2021-07-23 11:32] andronux commented on #873
Hi @kbrwn , that's right I was missing metrics. I followed the documentation related to a custom prometheus instance and everything is ok.

Thank you!

![image](https://user-images.githubusercontent.com/31890696/126775975-464a0da4-ce72-4f87-a9d3-0a9206295699.png)

[2021-07-23 11:32] #873 closed

[2021-07-23 16:00] pierluigilenoci commented on #793
@dwbrown2 two months have passed, is there any news?

[2021-07-23 18:55] bboreham opened #874 "Suggest using query_range rather than subquery where possible, to improve caching"
[Hi! Not using your software myself, but I work on a hosted Prometheus where some of our customers use it]

If the Prometheus, Cortex Thanos, or similar source is using a front-end cache, that will be able to cache parts of a `query_range` request and hence be much more efficient as the range moves forward in time. These components do not currently cache parts of a subquery.

Queries like this one

[2021-07-23 20:07] AjayTripathy commented on #874
Hi @bboreham thank you for this feedback! Very excited by any potential promql query optimization :)

cc @mbolt35 and @nikovacevic

We agree that the "active minutes" sets of queries are the most expensive, and highly prioritize feedback on optimizing it. We actually migrated this _off_ of query_range at some point in the past-- we've had major problems with thanos returning unexpected results and

[2021-07-23 20:29] AjayTripathy commented on #874
Hi @bboreham -- upon further examination, it appears that the reason we migrated and the unexpected results were that thanos was arbitrarily setting the resolution/step size when using query_range. Since we want to know with a high degree of accuracy (or at least a well understood error bound) when a pod came up and started running, we use a subquery with an enforced resolution [1h:5m] for example

[2021-07-23 20:58] AjayTripathy commented on #849
Fixed in 853!

[2021-07-23 20:58] #849 closed

[2021-07-24 00:03] kaelanspatel opened #876 "Allow asset queries to filter on null/undefined values"
Currently there is no way to filter on a value that doesn't exist (i.e. it's not possible to agg and get only assets without a provider ID, cluster, account, etc). This also prevents drilling down into unallocated/undefined rows in the frontend.

gz#598

[2021-07-24 09:01] bboreham commented on #874
Changing the step size would be a bug.
Cortex frontend cache does not do that.
It does quantise start/end time to the step size, which shouldn’t make any difference at the ranges you work at.

I’m seeing queries for 24h every 5 min, sometimes every 1 min.

[2021-07-24 20:46] AjayTripathy commented on #874
Thanks for that context. I'm not sure about Cortex, but that behavior was definitely observed by us in some versions of Thanos.

 Is it possible for you to reach out to the user and ask what version of Kubecost is being run? Or put us in touch directly?  While our cache build times are configurable, as of 1.83+ we should be making the "active minutes" styles of queries only run over 1h ranges. You

[2021-07-24 21:04] AjayTripathy commented on #874
Also-- do you happen to know the offset of those 24h queries? During our ETL "build" process, we build 1 day at a time going back 30-60d, in a way that should not overlap. Ongoing builds for the cache prior to 1.82 were building 24h incrementally every 10 minutes, but we've reduced this to 1h incrementally every 10 minutes in later versions.

[2021-07-26 01:14] dwbrown2 commented on #793
Planned for this week, thanks.

[2021-07-26 20:04] kbrwn commented on #847
@kitianFresh Closing this out since it has been fixed in a release. If you are still having any issues re-open this bug report or feel free to email support@kubecost.com

[2021-07-27 05:22] AjayTripathy commented on #818
"Estimated Sustained Use Discount (GCP Only)" is the name here.

[2021-07-27 05:22] #818 closed

[2021-07-27 20:17] fujin opened #879 "3rd Party Controller (Argo Rollouts) cost allocations"
Hi,

I have recently setup kubecost in my work environment. We have it running in a single cluster (for evaluation), with external costs at GCP going into BigQuery.

Some of our software makes use of the [Argo Rollouts](https://argoproj.github.io/argo-rollouts/) projects and object (`Rollout`) for progressive delivery and canary analysis. It mostly works like a normal Deployment with additional fa

[2021-07-28 01:31] dwbrown2 commented on #879
Hi @fujin, thanks for the report! It's my understanding that Argo deploys these pods with a CRD. Is there any chance you could share one your example YAML specs? Kubecost would be by default for ownerReferences/Kind directly in the spec. We should be able to leverage the ReplicaSet that is actually controlling but it may be using a custom defined field.

Also, you should be able to compare/join co

[2021-07-28 02:16] fujin commented on #879
I'm working on labelling/annotating things properly to suit the default configuration now. Unfortunately, I'm not able to share one of our complete Rollout specifications (proprietary).

Hopefully instead, this maybe helpful? I have Argo Rollouts in my local KinD cluster and created their sample Rollout, output follows.

[code]

The Rollout object in YAML form here:
[code]

That is created from ht

[2021-07-28 11:55] pierluigilenoci opened #880 "Inexplicable numbers in the saving panel"
The numbers shown inside the "Saving - Request Sizing Recommendations" page makes no sense to me.

We have configured the page this way:

<img width="598" alt="Screenshot 2021-07-28 at 13 32 20" src="https://user-images.githubusercontent.com/36044817/127316141-ea636482-758f-40a9-8c11-ccbcfc55798d.png">

These lines appear in the "Breakdown" list:

<img width="1318" alt="Screenshot 2021-07-28 at 13

[2021-07-28 12:26] pierluigilenoci commented on #880
Could it be connected to #793?

[2021-07-28 15:28] ethirolle commented on #874
The user in question is using Kubecost v1.83.2.

I have asked the customer to reach out to you directly, and to leverage this existing issue.

Thanks!

[2021-07-28 15:56] AjayTripathy commented on #874
Thank you @ethirolle ! We are in touch and examining their configurations. We would not expect minutely/five minutely queries against the backing prometheus and are investigating.

[2021-07-29 09:09] pierluigilenoci commented on #880
Today another report attracted my attention, always in the "Saving - Request Sizing Recommendations" tab.

<img width="1109" alt="Screenshot 2021-07-29 at 11 05 38" src="https://user-images.githubusercontent.com/36044817/127464528-b48a573e-58ac-452a-a867-018d40bd958c.png">

Here the recommended values are lower than the current request but the pods are still reported "underprovisioned".

Why?
Is t

[2021-07-29 10:20] pierluigilenoci commented on #880
@AjayTripathy could you please take a look?

[2021-07-30 16:51] kirbsauce commented on #15
Closing for now, as #16 has been done.  Please feel free to reopen if necessary.

[2021-07-30 16:51] #15 closed

[2021-07-30 23:49] teqwve opened #882 "Suspicious spot prices calculation for AWS when no spot data feed enabled"
Hi,

after deploying kubecost on AWS cluster without changing default prices, or configuring spot feed I got suspiciously low CPU and RAM prices on spot nodes.
<details>
<summary>A fragment of response from `/model/costDataModel'.</summary>
<p>

[code]

</p>
</details>

As you can see calculated price for on-demand instance is `0.034190 * 4 + 0.004583 * 8 = 0.173424` and matches numbers from AWS p

[2021-07-30 23:58] dwbrown2 commented on #879
Thanks, @fujin! This is what I expected.. CRD without direct owner reference in the spec. Kubecost will provide accurate cost calculations here when aggregated by label, namespace, annotation, etc. but let us explore options for owner/controller agg.

Let us know if you have any suggestions on what you'd like to see!

[2021-08-01 20:21] AjayTripathy commented on #882
Hi @teqwve thank you for the detailed report. We'll look into this-- to clarify, it sounds like spot pricing is WAI intended when the spot data feed is applied but our configured estimates until that data is available are not taking into account the number of CPU on a node?

[2021-08-02 08:43] teqwve commented on #882
Yes, I think it's a good description - in this case node price is estimated using spot CPU price from the configuration, but number of cores isn't taken into account, so node price (and thus final CPU / RAM cost) seems to be way too low.

[2021-08-03 04:50] AjayTripathy opened #884 "AWS VGPU over-allocated"
container vgpu requests exceed the total gpucount of a node-- they represent shares of GPU:

https://aws.amazon.com/blogs/opensource/virtual-gpu-device-plugin-for-inference-workload-in-kubernetes/

Let's create a test cluster with some of the GPUs above and make sure these are right.

gz#640

gz#388

[2021-08-03 22:09] nikovacevic commented on #880
Hi @pierluigilenoci. It is possible that, if you open the details dialog for one of those rows, one of the individual pods within the deployment may have been under-provisioned. If that is not the case, then we'll have to investigate more thoroughly.

We're also planning to make some improvements to this API in the near future to clear up some ongoing confusion about what certain numbers mean. Whe

[2021-08-04 16:52] zelin-l opened #887 "Configurable queries"
Hello! Would it be possible to configure queries to match the labels that are in existing prom setups?

For example:
In this query
https://github.com/kubecost/cost-model/blob/08174a7d5c071297adb68931af9a7feac851a258/pkg/costmodel/allocation.go#L24

If the existing prom setup uses container as the label but the query uses container_name, is it possible to configure that query to use a different lab

[2021-08-04 17:27] kbrwn commented on #887
hi @zelin-l While I am not sure if there are plans to make these configurable we do plan to update kubecost to make use of the default cadvisor labels rather than the `pod_name`, `container_name` labels that are used right now which require a relabel/rewrite rule.

[2021-08-04 17:31] dwbrown2 commented on #887
Confirming Kyle's message! We actually have a PR for testing now -- https://github.com/kubecost/cost-model/pull/881

[2021-08-04 17:46] nikovacevic opened #888 "Prevent submission of queries with duration of 0"
Sometimes, the cost-model will submit queries to Prometheus or Thanos with `0m` for a duration. We should understand why this is happening (hypothesis: rounding down to 0m from some number of seconds) and prevent it from happening by either (1) submitting queries in seconds, or (2) not submitting such a query.

Example:
[code]

gz#651

[2021-08-04 18:47] zelin-l commented on #887
Thanks!

[2021-08-04 18:50] AjayTripathy commented on #888
To clarify-- there is no expected impact here, other than these queries fail and occasionally produce errors in logs.

[2021-08-06 07:20] zelin-l commented on #887
Hello! I have related question to the above:

Would it be possible to change the cluster_id label to "cluster"?
https://github.com/kubecost/cost-model/blob/068510c25953fc176d85c0ac756f31579f78a67d/pkg/env/costmodelenv.go#L23

[2021-08-08 19:01] dwbrown2 commented on #887
@zelin-l that's fully configurable in our multi-cluster deployment! Do you have an enterprise key currently to access?

[2021-08-09 06:37] zelin-l commented on #887
Thanks for the update! I do not have an enterprise key at the moment but I will reach out if needed

[2021-08-09 07:08] AjayTripathy commented on #874
After taking a look at the user's infra + query log, we were seeing 10k+ persistent volumes, meaning this group_right was likely the most expensive. I've created https://github.com/kubecost/cost-model/pull/891 to remove the group_right-- it adds no additional queries so I suspect this will have improvements.

[2021-08-09 09:31] pierluigilenoci commented on #880
@nikovacevic the cpu/memory values shown are the maximum cpu and memory values across all pods in the deployment. So there can't be any pod that uses more cpu/memory than the values shown. How then can they be underprovisioned?

[2021-08-09 09:33] pierluigilenoci commented on #880
@nikovacevic I suggest making it possible for the user to be able to hide pods that do not need configuration from the report, leaving only the ones to focus attention on.

[2021-08-09 15:23] #872 closed

[2021-08-15 22:26] dwbrown2 commented on #887
Sounds good, please feel free to reopen this issue if you have any questions!

[2021-08-15 22:26] #887 closed

[2021-08-16 22:49] AjayTripathy commented on #882
Looking into this soon-- assigned to @nealormsbee !

[2021-08-18 19:26] AjayTripathy commented on #884
Released as a beta in 1.85.0!

[2021-08-18 23:10] AjayTripathy commented on #765
Auth support and SAML integrations often have a pretty hefty lift on the support side, and occasionally custom work depending on SAML provider ,so we feel we can't provide a good experience on the open source model. Closing as this is now supported on enterprise.

[2021-08-18 23:10] #765 closed

[2021-08-19 00:16] dwbrown2 commented on #880
@nikovacevic were you able to reproduce? I unfortunately haven't been able to yet.

[2021-08-19 10:52] pierluigilenoci commented on #880
Keep seeing the problem.

<img width="1491" alt="Screenshot 2021-08-19 at 12 44 35" src="https://user-images.githubusercontent.com/36044817/130056492-35083e7e-8f6c-4589-9b2b-430b154a6e4c.png">

For me, the simplest solution to recreate it is to run a simple empty container that does nothing on a cluster and adapt the requests to Kubecost's suggestions.

[2021-08-19 14:49] nikovacevic commented on #880
I have not been able to reproduce yet, but I can try @pierluigilenoci's suggestion.

[2021-08-19 16:45] nealormsbee commented on #882
Hi folks 👋
I spent a chunk of time on this yesterday; here's a status update and some questions. I'm not all too familiar with this part of our codebase; careful scrutiny is appreciated.

The proposed solution of multiplying `nodePrice` by `cpu` to get `cpu` in the numerator does help with the directional accuracy of the pricing in this case (more nodes no longer gets cheaper). However, I think we

[2021-08-23 11:52] pierluigilenoci commented on #787
@Sean-Holcomb we have not had this problem anymore, I would say that this issue can be closed.

[2021-08-23 11:53] pierluigilenoci commented on #793
@dwbrown2 any news about this?

[2021-08-23 17:26] Sean-Holcomb commented on #787
Great! Thank you for letting me know.

[2021-08-23 17:26] #787 closed

[2021-08-24 00:41] dwbrown2 commented on #793
This should be resolved in 1.84. @nikovacevic would you be able to confirm?

[2021-08-24 23:24] nikovacevic commented on #793
That's correct.

[2021-08-24 23:30] dwbrown2 commented on #793
Thanks! Marking as closed, but please reopen if there are questions.

[2021-08-24 23:30] #793 closed

[2021-09-01 11:49] pierluigilenoci commented on #880
@nikovacevic any update?

[2021-09-01 16:31] nikovacevic commented on #880
No update yet, @pierluigilenoci

[2021-09-04 19:29] #884 closed

[2021-09-07 21:05] srpomeroy opened #921 "Add additional breakdown and filter for cloud/location"
I feel there would be value in adding an additional breakdown and filter so I can view my clusters by what cloud or datacenter(on-prem) they reside in. Additionally, it would be nice if there was a quick visual indicator when viewing the breakdown by cluster to see where each is running.

Poor Example of visual indicator:
![image](https://user-images.githubusercontent.com/15660532/132410639-75d0f9

[2021-09-07 21:22] dwbrown2 commented on #921
Love this idea!

@Sean-Holcomb don't we already support breakdown by cloud provider? I thought we did but don't see it supported on our nightly build.

[2021-09-08 17:04] Sean-Holcomb commented on #921
Break down by provider is supported for assets, although there are some slight caveats with this. Provider is not currently a field in allocation properties. To add this we would need to update Allocation properties and then emit the value in one of our pod metrics, once there it could be added to allocations in the ETL, where it could then be used for a breakdown. I believe this change would requ

[2021-09-08 17:44] AjayTripathy commented on #921
We should be able to guess based on providerID, no? You could have func() ClassifyProvider(Asset) that just takes a best guess...we'd be accurate in like 99% of cases.

[2021-09-08 18:07] Sean-Holcomb commented on #921
There is probably a workaround here somewhere that involves a second query, but these are allocation cluster aggregates, they only keep properties that they all share (cluster in this case). Unfortunately cluster is an arbitrary string. It would have to be some sort of non-aggregated query, but it does look like there `func() ClassifyProvider(Allocation)` would be possible though if you did that.

[2021-09-09 07:25] AjayTripathy opened #927 "Workaround for observed strange responses from k8s APIs"
The Issue:
Observed on v1.20.7-eks-d88609, we've seen the k8s api emit very low but nonzero results for node.spec.ram.capacity numbers:

![image (50) (1)](https://user-images.githubusercontent.com/453512/132640862-0546b6fc-7e33-4548-ab63-d223c871ba7a.png)

This is causing our per unit RAM prices to fluctuate wildly on AWS in the relatively rare event that this happens, since our price-per-node mus

[2021-09-09 08:46] pierluigilenoci commented on #792
@dwbrown2 any news about this?

[2021-09-09 19:41] kirbsauce commented on #874
Hi @bboreham , @ethirolle ,

The modifications outlined by @AjayTripathy are in last night's release of 1.86.0.  Feedback welcome!

[2021-09-09 20:14] ethirolle commented on #874
On our hosted Prometheus, after customer implemented your fix, we saw a definite improvement:

Thanks for your help with this!

[2021-09-09 21:00] kirbsauce commented on #874
Thanks for the quick response, @ethirolle !  I'll close this issue out for now.

[2021-09-09 21:00] #874 closed

[2021-09-09 22:08] isra17 opened #928 "PV hourly cost are using the default value instead of AWS terms"
Here's the response I get from calling `/model/costDataModel`:

<img width="1138" alt="image" src="https://user-images.githubusercontent.com/1420974/132768636-e0823926-a7da-494c-8588-0ee7760d2238.png">

If you look at the `hourlyCost`, the given value is `0.00005479452`, however the AWS json file https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-east-1/index.json shows:

[2021-09-09 22:47] kbrwn commented on #928
@isra17 Which version of kubecost are you running? Have you integrated with the AWS[ cost and usage report](https://github.com/kubecost/docs/blob/main/aws-cloud-integrations.md)? If you fetch a [bug report](https://github.com/kubecost/docs/blob/main/bug-report.md) that may tell us more.

[2021-09-09 22:53] isra17 commented on #928
I found the bug and a simple fix. See the PR linked above!

[2021-09-10 05:03] AjayTripathy opened #932 "Do not emit cost data for azure virtual kubelets"
Sample spec:
[code]

[2021-09-10 05:29] AjayTripathy commented on #792
No updates or ETA here, it's still on our list though.

[2021-09-10 17:42] etsyamitra opened #933 "Attribute costs for jobs running from kfp/tfx ml pipelines"
## Problem
Both kubeflow pipeline and tfx has been very prominent, but there is no way to attribute cost incurred by them.
Each component of the pipeline spins up a resource (could be a vm, gpu, ai platform train jobs or basic traffic)
<img width="621" alt="Screen Shot 2021-09-10 at 10 38 39 AM" src="https://user-images.githubusercontent.com/75339656/132894942-98424310-e1fc-46a6-8134-413cbe3f52f4.

[2021-09-10 18:22] kbrwn commented on #933
@etsyamitra

Is it possible to label(k8s) / tag(cloud) all these resources as they are spun up? Then you can create an allocation or asset filter based on the common label/tag shared among the resources to attribute cost to the entire pipeline.

[2021-09-13 00:51] dwbrown2 commented on #932
This was previously supported. Regression?

[2021-09-15 12:48] pierluigilenoci commented on #880
@nikovacevic since I opened the ticket many cost-analyzer versions have been released so I thought I'd check again. Unfortunately, the problem always exists. 😞

<img width="1406" alt="Screenshot 2021-09-15 at 14 28 07" src="https://user-images.githubusercontent.com/36044817/133436186-1b9e2e5d-7411-4081-a307-314b7486fac9.png">

[2021-09-15 17:42] AjayTripathy commented on #932
Yes, think so. I'll look into it.

On Mon Sep 13, 2021, 12:51 AM GMT, Webb Brown ***@***.***>
wrote:

This was previously supported. Regression?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/kubecost/cost-model/issues/932#issuecomment-917751050>,
or unsubscribe
<https://github.com/notifications/unsubscribe-auth/AADOXC

[2021-09-16 16:12] artemlive opened #939 "Messed up labels for metric kube_persistentvolumeclaim_info"
Hello, I have a strange labeling issue with _kube_persistentvolumeclaim_info_ metric.
Labels "storageclass" and "volumename" are messed up.

Here is the example result from kubecost job:
`kube_persistentvolumeclaim_info{instance="10.249.241.208:9003",job="kubecost",namespace="api-develop",persistentvolumeclaim="redis-ha-data-rfr-upgrade-mechanism-api-develop-php-fpm-redis-2",storageclass="pvc-5ea7

[2021-09-16 16:19] kbrwn commented on #939
@artemlive thanks for the PR. Will work on getting it reviewed shortly.

[2021-09-16 16:20] #939 closed

[2021-09-16 17:26] #928 closed

[2021-09-16 20:22] AjayTripathy commented on #933
I think @kbrwn 's idea of tagging/labeling these as they spin up plus our GPU allocation strategy described here: https://github.com/kubecost/docs/pull/128/files should work for this.

[2021-09-17 17:45] etsyamitra commented on #933
Thanks will go over the docs, the trick would be being able to propagate labels from pipeline level through components to the resources/vm's level. Please feel free to share any recommendations or anything in the roadmap to make it easier.

[2021-09-20 14:09] kbrwn opened #945 "Support a label/tag that can be used to prevent cost allocation for a resource or cloud asset."
Kubecost should support a label/tag that can be used to prevent cost allocation for a resource or asset. This would provide flexibility in situations where regular cost allocation may not suit the end-user needs.

[2021-09-22 17:17] #927 closed

[2021-09-28 02:44] dwbrown2 commented on #945
Thanks for reporting, Kyle! Can you think of a recent example where you'd use this? Would this almost be like a permanent filter applied to all reports? If so, would our RBAC filter options be pointed in the right direction?

[2021-09-28 15:30] kirbsauce opened #954 "Net Amortized Costs"
This feature request is to add net amortized costs calculations.

Net amortized costs adds logic to amortize discount-related information, in addition to savings plans or reservation-related charges.  For example, it amortizes the upfront and monthly reservation fees while including discounts such as RI volume discounts.

gz#848<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tic

[2021-09-29 21:38] dwbrown2 commented on #954
@AjayTripathy would you be able to comment? I know you have a lot of expertise + wrote some documentation.

[2021-09-29 23:14] kirbsauce commented on #933
hi @etsyamitra , curious if you've had a chance to go over the docs and, if so, we're you able to make any progress based on those and Kyle's idea?

[2021-10-01 15:59] AjayTripathy commented on #954
Yep! This was a request that seems pretty reasonable. Net unblended costs are incompatible with our model but this is relatively simple. We'll get this prioritized and done.. cc'ing @Sean-Holcomb who is refactoring some things here in our Assets schema to make this stuff simple.

[2021-10-05 21:29] kbrwn commented on #954
goal: net amortized cost which includes also the EDP discount

in use:

[code]

need to use:

[code]

[2021-10-11 05:32] AjayTripathy commented on #933
Hi @etsyamitra what components specifically does kubeflow create? It should be possible to label the constituent pods created by the kubeflow pipeline right?

[2021-10-11 12:35] brunowego opened #962 "Kubecost not running with Calico/Cilium"
I'm unable to find the issue, any tip is welcome. I put bellow the complete steps to reproduce locally the issue. Thanks.

## Logging Oputput

[code]

## Complete Installation Process

[code]

[2021-10-12 19:34] brunowego commented on #962
Thanks for your quick feedback @brunowego. Seems not a issue with RBAC. Take a look:

[code]

[2021-10-13 21:46] dhoffman3 commented on #954
I have a comment about it.
Starting 1/10/2021, I have a new EDP plan with full upfront.
Apparently, AWS has limitation that in this specific case, they use a manual mode for discount to update the billing and I just learned they pulled out the net fields from my schema.
AWS told me they plan to fix it also for this scenario.
As such, I suggest that you will have a checkbox in your setting indicati

[2021-10-18 20:25] AjayTripathy opened #964 "Oddly high root disk sizes"
k8s version: v1.21.2-eks-55daa9d
node type: t3.medium

This is likely a node-exporter issue, local nodes are pretty high:
![Image from iOS (2)](https://user-images.githubusercontent.com/453512/137801521-b97866c5-0287-4adc-b81f-9d6ef088a19b.png)

Some sort of crazy number in the exabyte range is showing up. We should
1. Drop very high local storage sizes from our analysis
2. Trace this issue in cad

[2021-10-20 16:25] kirbsauce opened #968 "Estimate costs based on user-provided request sizes"
It would be beneficial to have a feature whereby one could enter in CPU, RAM, and possibly a profile (Production, Dev, etc), and combine with historic usage and cloud provider pricing to estimate cost.

Currently, we try to seek out something similar in our installation, but it's often difficult to find something similar and likely not as close as what might be estimated by Kubecost.

[2021-10-20 21:11] alexec opened #969 "How can one use Kubecost to tune requests for Argo Workflows?"
Our users often run workflows with large pods, the need lots of CPU/GPU/memory.

I'd like to show users how to optimise these workflows. I'm not an expert on tuning requests, I'm more like a user myself. So as a user I want to know:

* How do I know which workflows are costly?
* How should I tune the workflow?
* How can I monitor cost change over time?

Would anyone be interested in help me out wi

[2021-10-21 16:06] dwbrown2 commented on #968
If we have historic usage on a workload, then we can already have an opinion on what it should cost as part of right-sizing. Is that that helpful? Let me know if there's more!

[2021-10-21 22:53] dwbrown2 commented on #969
@alexec i'd absolutely love to see Kubecost support this and also provide content!

have you seen the integration with spinnaker? https://blog.kubecost.com/blog/spinnaker-kubecost-integration/

i've talked with half a dozen join users that also expressed interest in something similar to this. let me know if'd want to chat about it or if there is more you can share!

[2021-10-26 21:40] kirbsauce opened #975 "Expand size and configuration recommendations to HPA"
While one might be able to extrapolate the necessary HPA adjustments from the individual pod recommendations and metrics, it would be more straightforward to simply recommend, for example, the minimum number of pods.

[2021-10-29 05:11] hyj-github opened #977 "The Kubecost page cannot read data from Prometheus"
I set Kubecost to read data from existing Prometheus, but could not display the data on the page and got the following error.
Cost Allocation page:
![image](https://user-images.githubusercontent.com/54680729/139378595-0a71705d-2192-4f15-bd4d-ed3ad0b7e832.png)
Setting Page:
![image](https://user-images.githubusercontent.com/54680729/139378695-a75c6c39-0930-4fcc-aeb0-fdbc93be022a.png)

kubecost vers

[2021-10-29 23:54] dwbrown2 commented on #964
cc @kirbsauce as this will be part of next release.

[2021-10-29 23:58] kirbsauce commented on #964
I believe it went out in 1.88.3.

[2021-10-30 01:54] AjayTripathy commented on #977
Hi @hyj-github can you upgrade to latest? This should be fixed in later versions of kubecost.

[2021-10-30 02:51] hyj-github commented on #977
You mean the new version of Kubecost will connect to existing Prometheus?
Is this problem caused by the Kubecost version?
Can you recommend a version of Kubecost compatible with Prometheusv2.18.2?

[2021-10-30 03:30] AjayTripathy commented on #977
Yes, the newest version of kubecost. version 1.87.3 (latest) should be compatible with prometheus 2.18.2.

[2021-10-30 05:47] hyj-github commented on #977
I found the following quote in the official document：
**Note: integrating with an existing Prometheus is only officially supported under Kubecost paid plans.**
Does it indicate that the free version does not integrate with existing Prometheus？

[2021-10-30 05:55] dwbrown2 commented on #977
This integration is fully functional with free Kubecost, it’s just best
efforts support.

On Fri, Oct 29, 2021 at 10:47 PM hyj-github ***@***.***>
wrote:

--
Webb
Kubecost, Co-founder

[2021-10-30 08:21] hyj-github commented on #977
I found the following quote in the official document：
**Note: integrating with an existing Prometheus is only officially supported under Kubecost paid plans.**
Does it indicate that the free version does not integrate with existing Prometheus？

I want to upgrade Kubecost to V1.87.3 using helm3, do I need to reinstall using helm3 install?
Or just need to update with helm3 upgrade?

[2021-10-31 11:37] hyj-github commented on #977
I updated the version to 1.87.3, but I still have the same problem.

[2021-10-31 12:08] hyj-github commented on #977
Do you know how to solve this problem?

[2021-10-31 14:10] kirbsauce opened #978 "Support AWS OOC costs via CUR CSV residing in S3 bucket"
To negate the need for Athena/Glue, provide the ability to process the CUR in CSV format via access to an S3 bucket.

cc @kbrwn

[2021-10-31 20:14] AjayTripathy commented on #977
Could you share a bit more about how you upgraded and verified that the upgrade happened? That query does not exist in 1.87.3

[2021-11-01 00:58] hyj-github commented on #977
I downloaded cost-Analyser-1.87.3 using Helm3 and then updated release with Helm3 Upgrade, setting Prometheus not to be installed in value.yaml. The update success message is displayed.

The release information is queried.
![Uploading 捕获.PNG…]()

[2021-11-01 02:39] dwbrown2 commented on #978
This should be fairly quick, but can we confirm/verify the set of cols we're expecting from early users? This may not be an issue on AWS, but it was a good amount of work on Azure.

[2021-11-01 16:09] hyj-github commented on #977
I found that the reason for the error is that one PVC corresponds to two PVS, and one of them is deleted. Then **use the same statement on Prometheus to query normal, but the same error occurs on kubecost.** I have deleted one PV, but it still appears in the error message. Feel that the request did not reach Prometheus.
Is it possible that kubecost caches the previous error request results and ret

[2021-11-01 16:13] kirbsauce commented on #978
Request out to obtain cols.  Will update here when they land.

[2021-11-01 16:43] dwbrown2 commented on #964
@AjayTripathy can you confirm and update?

[2021-11-01 16:54] AjayTripathy commented on #964
Yes, this is available in 1.87.3. Closing!

[2021-11-01 16:54] #964 closed

[2021-11-03 09:47] hyj-github commented on #977
@dwbrown2 @AjayTripathy

[2021-11-03 09:50] hyj-github commented on #977
I found that this error only occurs when I query the data for that day. Data from previous query dates is returned with dates.
@dwbrown2 @AjayTripathy

[2021-11-03 10:47] paalkr commented on #882
Even after enabling the spot feed this bug is annoying, because it can take a few hours before the spot feed bucket is updated with data about a particular instance. So the first few hours a node runs, the price will be totally wrong. This is especially problematic when using Cluster Auto Scaler. A workload, say some data processing, running for a few hours on a fresh node will get a to low cost.

[2021-11-04 07:32] AjayTripathy commented on #882
Hi @paalkr , understood. We support [tuning our estimates ](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L640) via our configs to reduce the difference. What else would you like to see here?

[2021-11-05 03:44] dwbrown2 commented on #969
Great, I just grabbed time. Sorry for my delay... I recently had a kid, and have been... busy!

[2021-11-05 12:57] hyj-github commented on #977
Now query the cost of the day will not appear the above error, but only show kubecost cost? What's going on?
![当天的成本数据](https://user-images.githubusercontent.com/54680729/140513752-25c44ca6-2fc3-4a41-bfcc-63fd55fc36c0.PNG)

[2021-11-05 12:58] hyj-github commented on #977
@dwbrown2 @AjayTripathy

[2021-11-05 17:05] kirbsauce opened #984 "Support for additional regions in Azure"
The following region from Azure needs support:

norwayeast

#gz739

[2021-11-06 00:21] kirbsauce opened #985 "Restrict sizing recommendations to supported instance types"
We are recommending resizing to a1 instance types in AWS, however A1 instance types aren't available in some regions a cluster is operating in. AWS has the nasty habit of rolling out new instance types to only a handful of regions. Can we ensure an instance type is available in the region we are recommending a change in?

@srpomeroy @kbrwn @michaelmdresser
#gz967

[2021-11-09 22:14] michaelmdresser commented on #985
For clarity: this is a request to fix feature incompleteness of cluster right-sizing.

Current cluster right-sizing recommendations are based on a snapshot of available instances in a single region. We need to update this to either have a snapshot of all regions (easier) or live-load data for relevant regions (harder, but more robust long-term if implemented correctly).

[2021-11-10 04:43] AjayTripathy commented on #933
Hey @etsyamitra just wanted to circle back after our in-depth chat on this-- you can do this via grouping with cloud tags then view those groupings on kubecost Assets page. More planned here soon!

[2021-11-10 17:17] r4t8 opened #986 "Savings / Breakdown show resources info per container. How does this help?"
As the table header below shows, I can see the savings that can be made per container.

![image](https://user-images.githubusercontent.com/94070041/141160547-e475f7fc-1228-48b3-95f2-0abe8e959f08.png)

I don't understand how one can apply the recommended RAM/CPU to a certain container.

Shouldn't this table provide the same info per POD and not per CONTAINER?

I'd really appreciate if someone can s

[2021-11-10 18:51] dwbrown2 commented on #969
@alexec saw this was meeting was canceled on the argo side. know if that was intentional?

[2021-11-11 02:05] dwbrown2 commented on #986
Hi @r4t8, resource requests are actually set at the individual container level and so this view of data tries to help with those very granular insights. Here's some [docs](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/) but let me know if we can share more info. Apologies I misunderstood the question.

[2021-11-11 09:26] r4t8 commented on #986
Thanks for reply, @dwbrown2.
When I go to Savings I see this menu.
![image](https://user-images.githubusercontent.com/94070041/141269189-5b4e13e6-a531-44a4-9288-7b8e9f898ad5.png)

After clicking on underlined item I was expecting to discover a list of pods that are over-provisioned and some recommendations for each pod - as the resources can be configured at pod level.

With container granularity

[2021-11-12 16:22] kirbsauce commented on #986
Hi @r4t8 , can you forward along both the request and response from the API call? If you like you can email it to team@kubecost.com and reference CM986.

[2021-11-15 10:01] hyj-github opened #988 "Kubecost's Cost Allocation page shows only kubecost's costs"
I added Kubecost to my own Prometheus, and the query cost assignment was found to show kubecost costs only. Can anyone offer a reason and a solution?Details are as follows.
![kubecost异常](https://user-images.githubusercontent.com/54680729/141760467-0921beb2-cba7-49df-b46d-069c37156b27.PNG)
The state of the Prometheus:
![状态异常](https://user-images.githubusercontent.com/54680729/141760735-6597c1d4-8d7

[2021-11-15 16:02] kbrwn commented on #988
@hyj-github It looks like you are missing metrics that would be needed when using custom prometheus. First, I suggest you upgrade to [v1.88.0](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.88.0) as v1.73 is a much older release and then review the [custom prometheus documentation](https://guide.kubecost.com/hc/en-us/articles/4407595941015-Custom-Prometheus). If you are able

[2021-11-15 16:51] kbrwn commented on #988
@hyj-github Customer support for custom prometheus is not available for free/community edition of kubecost. I suggest you revert back to the bundled prometheus if you are unable to debug your custom prometheus deployment. If you are a business/enterprise user please email support@kubecost.com for further assistance with custom prom.

[2021-11-15 17:06] hyj-github commented on #988
Is this why the cost display is abnormal, showing only the cost of Kubecost?

[2021-11-15 17:08] dwbrown2 commented on #988
Take a look at the diagnostic page in your Kubecost deployment to learn more.

This looks like a potential `honor_labels` issue if you only see one namespace...

[2021-11-15 17:18] kbrwn commented on #986
@r4t8 As Webb mentioned containers within pods can be assigned requests and limits therefore this is why the request sizing granularity is at the container level. Here is an example:

[code]

The backing savings/requestSizing API does not perform all tasks to determine savings numbers so the data presented may not be as useful as the UI. I am not sure if there is a way to get the data you seek out

[2021-11-15 17:56] michaelmdresser commented on #986
Hi @r4t8,

`target: {cpuCores: 0, ramBytes: 0}` does sound concerning. It'd really help to see a full response from the API. If you don't want to post such a response publicly in case of revealing sensitive data, you can redact or [join our Slack](https://join.slack.com/t/kubecost/shared_invite/enQtNTA2MjQ1NDUyODE5LWFjYzIzNWE4MDkzMmUyZGU4NjkwMzMyMjIyM2E0NGNmYjExZjBiNjk1YzY5ZDI0ZTNhZDg4NjlkMGRkYzFl

[2021-11-15 18:18] michaelmdresser commented on #985
@AjayTripathy I'd like to get this prioritized, even if we want to do something really small to make this less confusing for users. Your thoughts?

[2021-11-15 18:37] kbrwn commented on #969
agro v2.2 now has a more specific annotation to track resources:

[code]

[2021-11-15 20:26] AjayTripathy commented on #977
Hi @hyj-github -- is it possible you're looking at the deprecated details.html page? That's since been replaced by /allocations.html . Is the error occurring there?

[2021-11-17 03:21] hyj-github commented on #977
All I've been looking at is the details.html page, can't find /allocations.html

[2021-11-17 03:32] dwbrown2 commented on #977
I'm not sure what version you're running now but that page has been deprecated for many months.

[2021-11-17 18:25] Sean-Holcomb opened #990 "Rate Card API fails for users of Azure Gov Cloud"
# Issue
User on Azure gov cloud is unable to access Rate Card api and due to use of public cloud endpoint receiving error
[code]
# Resolution
Add optional cloud variable to Rate Card configuration to allow the specification of users cloud (PublicCloud, USGovernmentCloud,  ChinaCloud or GermanCloud) which defaults to public cloud. This can be applied here to resolve the issue. https://github.com/ku

[2021-11-17 18:31] kirbsauce commented on #990
thanks @Sean-Holcomb !

[2021-11-17 18:57] AjayTripathy commented on #977
Based on what I'm hearing, it seems to me something is not upgrading properly. Are you maybe upgrading the chart but not pulling the correct kubecost images or hardcoding them in your values.yaml?

[2021-11-18 05:14] AjayTripathy opened #991 "Minutes Running Inaccuracy for Uncontrolled Pods with Same Name/Namespace"
Because of the way start/end times are calculated and because of the way we key on pods, when accumulating pods over some windows, the minutes running calculation may be inaccurate.

Pod A

X-------------X       X-------------X
12                    5        7                     10

Currently the start/end will be listed as 12-10 and 600 minutes running, because an uncontrolled pod with the same

[2021-11-18 16:46] michaelmdresser commented on #991
Reformatting for clarity.

Namespace `N1`
Uncontrolled Pod `A`
[code]

As Ajay noted, cost will be reported accurately because we consider average resource usage/request over an entire window.

The likely best approach to disambiguating between any Kubernetes object with similar properties (e.g. namespace, pod name) is to use [Kubernetes UIDs](https://kubernetes.io/docs/concepts/overview/working-w

[2021-11-18 20:23] kbrwn commented on #988
@hyj-github Please join [kubecost.slack.com](https://kubecost.slack.com) to get more help! You can join the #support channel or dm me.

[2021-11-19 20:55] kd7lxl commented on #517
We deploy multi-AZ Kubernetes clusters in AWS with kops. I enabled kubecost network cost allocation and was disappointed to see all our traffic attributed to internet egress. I expected Kubecost to discover networks via the VPC API or something.

Anyway, I wrote a script to convert our kops subnet configurations and the published AWS IP ranges into values that can be used with the [Kubecost cost-a

[2021-11-19 21:10] AjayTripathy commented on #517
This is awesome Tom! Thank you so much for this. Love the idea of autodiscovering the internal subnets and updating periodically. We'll look to make this enhancement and upstream more of the subnet discovery, though there are some gotchas like additional permissions on our AWS key we'll need.

[2021-11-19 21:22] kd7lxl commented on #517
Glad you appreciate it. The scope of this ticket is simpler than the private subnet discovery -- S3 networks are published by AWS, so that part at least should be possible without additional permissions.

[2021-11-19 22:58] dwbrown2 commented on #984
@kirbsauce any input on priority here? Not sure if @Sean-Holcomb has taken a look yet.

[2021-11-19 23:22] kirbsauce commented on #984
Yep...usgovvirginia is being addressed by https://github.com/kubecost/cost-model/issues/990, PR being https://github.com/kubecost/cost-model/pull/994 and is pending review.  interested parties updated earlier this morning.

[2021-11-22 04:21] dwbrown2 commented on #991
This seems to me like it would rarely happen in a way that would materially impact time running calculations. Are there certain scenarios where this would be more common?

[2021-11-22 08:03] janlauber opened #995 "[FEATURE] Ingress Calculation"
Dear Kubecost Team/Community

Is there any ingress calculation planned?
Because it would be awesome to collect all ingress ressources and calculate them with a fix price per month per instance(team, namespace, whatever just like CPU/RAM/Storage).

Thanks and greez

gz#1063

[2021-11-22 20:13] kbrwn commented on #995
hello @janlauber thanks for the request. Are you thinking of a like a fixed price per ingress k8s resource or some other metric for allocation? Kubecost collects network and cloud metrics to allocate cost for ingress related objects such as load balancers. Cloud/LB cost are usually the variable cost associated with ingress resources.

[2021-11-23 12:32] janlauber commented on #995
Hey @kbrwn
I think about a fix cost we define for our onPrem cluster environment.
Since we are using the Citrix ADC in front of our clusters as an ingress/load balancer, we want to add a fixed amount to each ingress resource (we need to pay our license for the Citrix ADC o.c.).

[2021-11-23 16:20] kbrwn commented on #986
Hi @r4t8 please provide an update you are still interested in debugging this issue.

[2021-11-23 16:21] #988 closed

[2021-11-24 09:18] r4t8 commented on #986
@kbrwn as your Pod template example suggests, I was wrong at the granularity part. Indeed, that's ok. Sorry for that.

@michaelmdresser after a discussion with a member of the Kubecost team (I'm omitting his name intentionally),  `target` key at the pod and controller levels is not meaningful and should be ignored. Only at these levels I found `target: {cpuCores: 0, ramBytes: 0}`. At container lev

[2021-11-24 10:47] pierluigilenoci commented on #880
@dwbrown2 @nikovacevic any update on this?

[2021-11-24 10:48] pierluigilenoci commented on #792
@AjayTripathy any update?

[2021-11-24 16:06] michaelmdresser commented on #986
I'm glad to hear that this is clearer for you now. The pod- and controller-level targets are defunct and unfortunately a result of some legacy cruft in this API. The API deserves a revisit to avoid confusion.

Is there anything else you're having trouble with here?

[2021-11-24 16:33] r4t8 commented on #986
@michaelmdresser all clear. Closing this. Thanks!

[2021-11-24 20:50] dwbrown2 commented on #792
We've not had a single request since yours @pierluigilenoci. Still low priority for now.

[2021-11-24 20:51] dwbrown2 commented on #880
Our team has still be unable to reproduce this, @pierluigilenoci. Is there any more context you can share? Does this happen in many workloads? Are there common traits for those it does happen with?

[2021-11-29 17:20] Sean-Holcomb commented on #990
https://github.com/kubecost/cost-model/pull/994 has been merged to open source, which attempts to detect the correct cloud api to use based on region name, there is no additional configuration required.

[2021-11-29 22:51] kbrwn commented on #977
@hyj-github Please join our [slack](kubecost.slack.com) and re-post this issue in the #support channel to receive further help.

[2021-11-29 22:51] #977 closed

[2021-11-29 22:52] kbrwn commented on #933
@etsyamitra Let us know if you still need any help with this issue.

[2021-11-30 02:18] etsyamitra commented on #933
Thanks for circling back Kyle, we can close this issue.

[2021-11-30 02:18] #933 closed

[2021-12-01 14:01] michaelmdresser commented on #990
@Sean-Holcomb can we close this issue?

[2021-12-01 16:48] Suchitpandya1 commented on #991
We reported this issue and are still experiencing it. This has been a happening often on our platform. We show platform users a recently created container/Jupyterhub notebook details and decent number of users create/start the exact same Notebooks/Containers/Pods.

[2021-12-02 06:06] AjayTripathy commented on #991
Yep, sorry for not clarifying the reporter @Suchitpandya1 . We're tracking this closely and expect to tackle this in Q1 of the new year.

[2021-12-02 09:51] pierluigilenoci commented on #880
@dwbrown2 did @nikovacevic do as I suggested here? https://github.com/kubecost/cost-model/issues/880#issuecomment-901813476

[2021-12-03 18:59] dwbrown2 commented on #995
Hi @janlauber

The network costs daemonset has actually been emitting ingress metrics for many releases. So you should be able to see these in raw prometheus metrics if interested in exploring. However, we don't yet consume it into our ETL pipelines yet. It's definitely something we'd like to consider in the future.

[2021-12-03 23:37] nikovacevic commented on #880
@pierluigilenoci I have not, but you will be the first to know when someone on the team is able to get to your request.

[2021-12-06 18:04] kbrwn commented on #862
@kitianFresh Please email support@kubecost.com if you still need help with this issue.

[2021-12-06 18:04] #862 closed

[2021-12-07 16:43] hyj-github commented on #988
How to register kubecost.slack.com account, need invitation？
![捕获](https://user-images.githubusercontent.com/54680729/145070258-0d6f0880-ce20-47c0-94e3-d6bd018f8b6f.PNG)

[2021-12-07 16:48] kbrwn commented on #988
@hyj-github You don't need an invitation to join the kubecost slack. You do need a slack account to join. You can create a slack account if you don't have one already by clicking "Don’t have an account yet? Create an account" in the top right corner of the screen.

[2021-12-07 17:03] kbrwn commented on #988
Oh I guess you have to use this special link: https://join.slack.com/t/kubecost/shared_invite/enQtNTA2MjQ1NDUyODE5LWFjYzIzNWE4MDkz[…]kwMzMyMjIyM2E0NGNmYjExZjBiNjk1YzY5ZDI0ZTNhZDg4NjlkMGRkYzFlZTU

[2021-12-09 22:03] srpomeroy opened #1008 "Add ability to set prices for different classes of storage in my on prem environment."
**What problem are you trying to solve?**
The ability to assign different prices for different classes of storage for the PVs in my on-prem environment.

**Describe the solution you'd like**
To be able to assign different prices for storage classes based on names and/or labels.

**Describe alternatives you've considered**
None.

**How would users interact with this feature?**
Using the custom CSV

[2021-12-13 09:11] katrinleinweber opened #1011 "Include regional CO2 ratings"
GCP started rating [their regions](https://cloud.google.com/sustainability/region-carbon#data) with `CFE%` & `Grid carbon intensity`. Would it be possible for kubecost to ingest and present that numerical data? Or at least the `Low CO2` summary flag?

Your users could then integrate such data into their (not just monetary) cost calculations.

Probably, other providers will offer similar data in th

[2021-12-13 09:11] katrinleinweber opened #3554 "Include regional CO2 ratings"
GCP started rating [their regions](https://cloud.google.com/sustainability/region-carbon#data) with `CFE%` & `Grid carbon intensity`. Would it be possible for kubecost to ingest and present that numerical data? Or at least the `Low CO2` summary flag?

Your users could then integrate such data into their (not just monetary) cost calculations.

Probably, other providers will offer similar data in th

[2021-12-13 12:54] dwbrown2 commented on #1011
Love this idea! Have a sense for where you'd want to see this information in the kubecost UI?

Also, looks like they currently just have 2020 data in machine format. https://github.com/GoogleCloudPlatform/region-carbon-info/blob/main/data/yearly/2020.csv

[2021-12-13 15:25] michaelmdresser commented on #1011
cc @kaelanspatel I recall you were interested in this.

[2021-12-14 12:33] katrinleinweber commented on #1011
I think in `/savings.html` (to the right of the Savings Rate) there could be a 3rd figure like `X% to Y% CO2 reduction possible`, with a link to an entry `/warn.html` **if a cluster is not** in the lowest third (for example) of regions in terms of carbon intensity of the grid. X & Y could quick calculations based on the alternatives of `lowest on same continent` and `lowest globally` for example.

[2021-12-22 20:54] kirbsauce opened #1018 "Ignore savings plan/reserved instance costs in allocation showback"
Filing on behalf of a customer:  The ask to be able to include the savings plan costs in some queries (higher-level reporting) and remove them from the lower-level/showback information since the savings plan costs are out of the control of the showback recipients.

[2022-01-02 21:19] AjayTripathy commented on #836
This has been done,closing!

[2022-01-02 21:19] #836 closed

[2022-01-04 19:06] mbolt35 commented on #991
@michaelmdresser Looked into the pod UID label on metrics. The KSM v1.9.8 does _NOT_ include a `uid` label on the emitted pod metrics. Our replicated KSM metrics _DO_ include a `uid` label on the emitted pod metrics (foresight I guess), and KSM v2+ pod metrics also include the `uid` label.

It does seem like the users who are turning off the replicated metrics we emit are primarily KSM v2+ users.

[2022-01-05 08:06] AjayTripathy commented on #1008
This has yet to be prioritized, @srpomeroy please let me know if this is pressing or blocking.

[2022-01-05 10:47] pierluigilenoci commented on #880
@nikovacevic have you tried to replicate the issue with my suggestion?

[2022-01-05 17:21] kbrwn commented on #880
@pierluigilenoci It seems likely that this issue is specific to your cluster and may be the result of incomplete resource utilization data coming from ksm, cadvisor, or possibly the k8s api. It would be preferable to debug this issue via a support ticket rather than a github issue so that we can share information privately and discuss specifics of your cluster. Could you fetch a bug report from /s

[2022-01-06 19:32] Sean-Holcomb commented on #921
There is a solution to this issue, but it is pending schema upgrade

[2022-01-06 19:42] Sean-Holcomb commented on #954
Adding my comment from the ZD ticket here

See the section "Net amortized costs"[ on this AWS doc page](https://docs.aws.amazon.com/cost-management/latest/userguide/ce-advanced.html).

It is still unclear to me if the available information in the CUR can create the desired values

[2022-01-07 03:10] AjayTripathy commented on #1018
Just a note, the ability to apply/remove/configure savings plan / RI information has been brought up a few times. It's definitely something worth considering.

[2022-01-10 16:54] ivankube commented on #859
@kitianFresh are you still working on this issue? Thanks!

[2022-01-11 11:23] pinlast opened #1027 "Custom charts for overview page"
Looks like on the overview page I have access only to pre-defined charts, but we would like to add  `Product Allocation` chart next to the existing `Controller Allocation` and `Service Allocation`. Is there any way to add custom charts on the overview page?

gz#1222

[2022-01-11 18:39] AjayTripathy commented on #1027
Hi @pinlast that's not possible today but sounds like a great feature request!

[2022-01-11 19:42] kirbsauce opened #1029 "Allow simulator to be configured to match autoscaler"
Improve savings recommendations accuracy by allowing the simulator to be configured to better match the user's autoscaler.

[2022-01-12 15:49] mimmus opened #1030 "AWS 'eu-south-1' (Milan) region not supported"
Lot of:
`I0112 15:39:41.110895 1 costmodel.go:946] Error getting node pricing. Error: Invalid Pricing Key "eu-south-1,m5.2xlarge,linux"`
in cost-analyzer logs.

gz#1270

gz#1403

[2022-01-12 16:43] dwbrown2 commented on #859
We're seeing a growing number of users ask for Tencent support!

@AjayTripathy weren't you working on a PR with @kitianFresh?

[2022-01-12 17:41] kbrwn commented on #1030
@mimmus Thanks for reporting this. We would be happy to investigate further. Could you capture a full [bug report](https://guide.kubecost.com/hc/en-us/articles/4407601805975-Capture-a-bug-report) from settings.html and e-mail it to support@kubecost.com?

[2022-01-12 18:30] michaelmdresser commented on #1029
Which savings recommendations? Cluster node right-sizing?

Which autoscaler parameters should we look into?

[2022-01-12 18:37] AjayTripathy commented on #1029
http://demo.kubecost.io/action.html?a=unusednodes this is the cluster-autoscaler simulator

[2022-01-13 10:11] mimmus commented on #1030
I use kubecost as included in D2iq Konvoy distro.
I opened a support case with D2iq and they will check with you.

[2022-01-13 17:00] korjek commented on #995
we are also interested in ingress cost, because AWS charges for both ingress and egress traffic from/to EC2 instance (sure, there are some exceptions like communication with ALB is free of charge, but still).

[2022-01-14 02:56] kirbsauce opened #1033 "Ability to filter out project-level information at the time of CUR ingestion"
We would like to filter out data at the project level.  As opposed to filtering it out from the front end, we would prefer to have it filtered out at the time of CUR ingestion.

[2022-01-14 04:04] dwbrown2 commented on #1033
Thanks for submitting, @kirbsauce! Can you share more about why this would be valuable?

cc @Sean-Holcomb and @AjayTripathy for further input

[2022-01-14 04:55] kirbsauce commented on #1033
Sure @dwbrown2 .  There are simply those projects they're never interested in seeing. You could constantly filter everything on the UI, or preprocess the CUR before KC processing, or have it filtered while importing. @AjayTripathy , am I capturing the spirit of the ask?

[2022-01-14 16:56] michaelmdresser commented on #888
This specific query is addressed in https://github.com/kubecost/kubecost-cost-model/pull/612. It is unclear if other queries cause this error log.

[2022-01-17 16:55] dwbrown2 commented on #969
@alexec draft outline available here! https://docs.google.com/document/d/1JmvkyJe0iJ8TFGX3fT5kP_S6jB_CJ6u_yn9H0YH03So/edit

[2022-01-18 18:02] Sean-Holcomb commented on #1033
A short term fix for this for AWS users is to put their data into a view which excludes the accounts they are not interested in. For a more general solution, assets could be filtered by Kubecost properties (account, project, label), this wouldn't help with build times, but hopefully helpful with query times. As some push back, isn't this functionality what reports are supposed to accomplish?

[2022-01-18 22:51] kbrwn commented on #990
https://github.com/kubecost/cost-model/blob/422435faddfe6a3b5adae66bb918ea8987500d67/pkg/cloud/azureprovider.go#L774-L781
authorizer = a   means authorizer won't ever be nil so the function to trigger gov cloud selection never occurs

[2022-01-19 04:21] dwbrown2 commented on #1033
I like this suggestion! @kirbsauce any feedback?

[2022-01-19 22:13] AjayTripathy commented on #1033
That works short term for a class of users not using our beta "no-athena" mode. We still likely want to do this.

[2022-01-19 22:15] AjayTripathy commented on #859
@kitianFresh just wanted to ping this in case you're ready to pick it back up and submit a PR! It would be a priority for us to review!

[2022-01-20 17:32] dwbrown2 commented on #1027
@pinlast I'd like Kubecost to offer more flexibility here. We're slammed on other projects now but would love to see if we can offer something in the future.

It's not a perfect substitute but we do see teams doing lots of customization with our Prometheus metrics in Grafana dashboard. Just wanted to see in case you wanted to explore right away.

[2022-01-20 22:19] keithhand commented on #1030
@mimmus That sounds great. In the meantime, to get you running ASAP, we could look through the configuration of your environment via a [bug report](https://guide.kubecost.com/hc/en-us/articles/4407601805975-Capture-a-bug-report) sent to support@kubecost.com. If that's something that you're interested in, of course.

[2022-01-24 17:08] dwbrown2 commented on #990
@Sean-Holcomb still work needed on this one?

[2022-01-24 17:28] Sean-Holcomb commented on #990
I would like to hear back from the user before we close

[2022-01-24 20:37] souenzzo opened #1039 "Window has default values in some API's, don't in others"
Some API's, like `api-request-right-sizing` has a default value for the `window` parameter.
Other API's throws an error when `window` parameter is not present: `window is a required parameter`

Would be nice if they have a homogeneous behavior.

Also is not clear which is the default value for the window in `api-request-right-sizing`

Refs:
- https://docs.kubecost.com/api-request-right-sizing.html

[2022-01-24 20:54] #888 closed

[2022-01-24 22:33] keithhand commented on #1039
Hi @souenzzo, I can answer your question about the default window for `api-request-right-sizing`; it is `2d` by default. Adding this information to the documentation would be very helpful, so thank you for pointing it out!

Homogenous behavior between the `allocation` and `api-request-right-sizing` sounds like an excellent goal to have. A couple of questions that come to mind that could might be h

[2022-01-24 22:54] kaelanspatel commented on #1039
Just a guess, but I would assume the difference is because `request-right-sizing` generates a total savings number which can be more-or-less independent from the window, whereas `allocation` explicitly describes cost allocations over a window.

To put it another way,  `request-right-sizing` generates an insight based on the window's data, while `allocation` describes the window itself (and it woul

[2022-01-25 16:07] dwbrown2 commented on #995
We're going to discuss bringing this into ETL after this upcoming release... were the Prometheus metrics helpful here?

[2022-01-29 02:51] kirbsauce opened #1045 "automated repair of CUR Athena table"
If the CUR is setup outside of CloudFormation, the necessary components to periodically repair the Athena table(s) might not be present.  The feature request is to ensure those CUR installation outside of CloudFormation are provided this same functionality.

[2022-01-29 19:32] obowersa commented on #781
Slightly older issue, but came across it while looking for something related.

Teams has two forms of integrations, channel level webhooks and then bot integrations.

The main difference (aside from bots being interactive) is bots can also be added to private chats. A suprisingly common use case for a lot of orgs. With that said, most folk just use channels + webhooks as the MS bot framework side

[2022-01-29 19:55] kirbsauce commented on #781
@obowersa , thanks for the offer!  We'd love to have something to provide to users who are interested in sending our alerts to Teams.  Let us know how we can help!

[2022-01-29 20:33] obowersa commented on #781
No problem at all!

The only thing I'm not sure on is where it would be best placed. The kubecost docs side of thing is a pretty flat structure at the moment (one of the drawbacks with the architect theme for docs ). I'll raise a seperate issue against the docs page to raise the question on where best to place these kinda specific implementation details.

[2022-02-03 16:10] AjayTripathy opened #1048 "CSV Provider does not schedule a retry if it fails to read the CSV"
Currently, if the csv file is unavailable for whatever reason, the CSV provider will not retry pulling data from the endpoint. It should instead always trigger a reload of the pricing data on a loop.

[2022-02-07 08:28] juanjoselopezroldan opened #1053 "Support different OfferDurableId in cost model directly"
We need change the OfferDurableId for cases that is need use other different to defined "MS-AZR-0003p".
Is possible change this value ? or You have already defined in your roadmap?

The possibility that we desired is we can change the differents types of Microsoft Azure Offer from settings of kubecost through text camp customized (https://azure.microsoft.com/en-us/support/legal/offer-details/)

gz

[2022-02-07 19:15] kbrwn commented on #1053
@juanjoselopezroldan Can you provide little bit more information about your use case? For example do you need multiple different OfferDurableIds or do you have a different one that you would like to use in all cases?

cc @Sean-Holcomb

[2022-02-07 21:08] keithhand commented on #1039
@souenzzo, were Kaelan and my answers enough to clear things up about this? If there is still some confusion, I'm happy to answer any additional questions you might have.

[2022-02-08 07:58] juanjoselopezroldan commented on #1053
In my use case will be ideal that exist a text camp that permit me the possibility of indicate in this camp the differents types of Microsoft Azure Offer for that the request that do to azure is flexible and dynamic.

For example, we indicate the offerdurableid MS-AZR-0017G in the text camp and that in the backend do the request in the next URL:
"https://management.azure.com/subscriptions/SUBSCRIP

[2022-02-08 17:28] Sean-Holcomb commented on #1053
The issue is here is that the pricing data gathered from that api informs our metric emission. The answer I am trying to get from you is whether or not you would want to switch back and forth between `MS-AZR-0017G` and `MS-AZR-0003p` or if you would switch to `MS-AZR-0017G` and leave it there.

[2022-02-08 18:32] kbrwn opened #1056 "Add a NOTICE file"
Apache 2.0 guidelines state:

https://infra.apache.org/licensing-howto.html

[2022-02-08 19:23] kbrwn commented on #882
@paalkr Do you have any further comments on this issue?

[2022-02-08 19:30] kbrwn commented on #880
@pierluigilenoci Are you interested in debugging this issue further via a support ticket?

[2022-02-09 07:16] juanjoselopezroldan commented on #1053
In my case would want to switch back and forth between both of them as i need it.

[2022-02-09 17:56] Sean-Holcomb commented on #1053
Unfortunately this request will not be possible as the results of the of this api are exclusively used for our metric emission loop. Changing the value of the durableId will not retroactively change the historic pricing data but only the node costs moving forward.

That being said there are ways to make Kubecost more closely match your billing costs, have you tried using [this](https://guide.kubec

[2022-02-10 23:02] kbrwn commented on #880
@pierluigilenoci I am going to close this issue out. Please feel free to email support@kubecost.com if you would like to follow up. We would be happy to look into your cluster data specifically.

Furthermore our most recent release [v1.90.1](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.90.1)  has some code to improve consistency across the application.

[2022-02-10 23:02] #880 closed

[2022-02-11 11:26] juanjoselopezroldan commented on #1053
Ok thanks for the info.

[2022-02-11 11:26] #1053 closed

[2022-02-11 19:10] kbrwn commented on #879
@fujin We have more more info about argo+kubecost here: https://docs.google.com/document/d/1JmvkyJe0iJ8TFGX3fT5kP_S6jB_CJ6u_yn9H0YH03So/edit

[2022-02-11 19:12] kbrwn commented on #859
@kitianFresh If you have any code that you would like to share on this we would be happy to take a look. Even if you have not finished implementation. You can also email it to support@kubecost.com if you would prefer.

[2022-02-11 19:31] fujin commented on #879
@kbrwn thanks! though this issue is around [Argo Rollouts](https://argoproj.github.io/argo-rollouts/) (separate part of the "argo suite".).

[2022-02-14 17:38] Sean-Holcomb commented on #954
Revisited the CUR documentation today and saw that they have added the required "net" columns to implement this function. My proposal is to use these columns for pricing when they are available.

[2022-02-14 22:02] keithhand commented on #1039
@souenzzo, I just wanted to check in to see if I can mark this issue as resolved. Do you still have any clarifying questions? If you do, I'll work to answer them right away. If not, great! Just let me know, and I'll close this out.

[2022-02-15 13:26] souenzzo commented on #1039
@keithhand yes, i think that we can close this issue.

[2022-02-15 13:26] #1039 closed

[2022-02-17 16:34] ivankube commented on #1030
"eu-south-1" is missing from https://github.com/kubecost/cost-model/blob/master/pkg/cloud/awsprovider.go#L100-L124

We are also missing:

"af-south-1"
"ap-southeast-3"

[2022-02-21 13:33] behofer opened #1067 "[Suggestion] Support storage class in cost model"
## Summary
We are working with different, partially on-prem, storage providers that have different pricing models (e.g. NFS and longhorn storage).

## Suggestions:
Add support for different storage classes in cost model

## Goal
The user has the ability to have different prices for storage, dependent on the storage classes in a cluster.

This can also be regarded as discussion if similar features

[2022-02-21 17:17] AjayTripathy commented on #1067
Hi @behofer have you seen:
https://github.com/kubecost/cost-model/issues/1008

Would that satisfy your usecase? If so could you +1 that issue and we can merge the two?

[2022-02-22 11:39] behofer commented on #1067
Hi @AjayTripathy yes, I haven't seen #1008 - it indeed addresses our requirements.
So you can link those two.

[2022-02-22 13:44] vhristev commented on #872
[code]

From there you can use Pandas to play with the data.

[code]

[2022-02-22 17:59] MarkSRobinson opened #1068 "kubecost.com fails to render in Firefox"
Going to https://www.kubecost.com/ renders a blank page when viewed with Firefox.  Disabling extensions does not solve the issue.  Visiting with a private tab also does not fix the issue.  The page renders correctly in Chrome.

gz#1418

[2022-02-22 18:00] kbrwn commented on #1068
@MarkSRobinson Thanks for reporting this. We will get it looked at right away.

[2022-02-22 18:02] dwbrown2 commented on #1068
@AjayTripathy @nealormsbee can you please review this morning?

Thanks for reporting @MarkSRobinson

[2022-02-22 18:13] dwbrown2 commented on #1068
This should now be addressed, Thanks, @nealormsbee!

All good for you @MarkSRobinson? Thanks again for reporting.

[2022-02-22 19:22] ivankube commented on #1067
These issues are linked now.

[2022-02-22 19:22] #1067 closed, assigned to nobody

[2022-02-22 19:56] MarkSRobinson commented on #1068
Yup, it's rendering correctly now

[2022-02-22 20:05] dwbrown2 commented on #1068
Great, thank you again!

[2022-02-22 20:05] #1068 closed, assigned to AjayTripathy, nealormsbee

[2022-02-23 21:00] AjayTripathy opened #1070 "Strange duration value passed to prometheus query"
[code]
This should be enforced to 1m:5m-- curious how we're issuing this query.

gz#1435<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/1435'>Zendesk ticket #1435</a>)</i>

[2022-02-24 19:22] nikovacevic commented on #1070
This query is only run in the legacy `ComputeClusterCosts` function. I would recommend that this user, whomever they are, use the Assets API instead.

That said, I will add some logic to check the given window so that it's greater than or equal to 10m and make sure it's formatted for Prometheus consumption.

[2022-02-28 19:20] #1030 closed

[2022-02-28 20:30] #990 closed

[2022-02-28 21:11] AjayTripathy commented on #990
Just a note that I do not think this will make v1.91.0 and we expect it in nightly/1.92.0

[2022-02-28 21:20] kirbsauce commented on #990
Thanks for the confirmation @AjayTripathy , that's my understanding.

[2022-02-28 22:45] #1070 closed, assigned to nikovacevic

[2022-03-01 22:17] mbolt35 commented on #991
The most basic example of where this would be a problem is any StatefulSet in kubernetes. Since StatefulSets implement an ordered naming convention, you end up with pod names that collide (potentially many times).

[2022-03-01 22:25] mbolt35 commented on #991
It occurred to me that all kubernetes resources have the `creationTimestamp` and I followed that up with a search for metrics that may contain this timestamp. [Latest KSM](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/pod-metrics.md) has the two metrics: `kube_pod_start_time` and `kube_pod_completion_time` which leverage the timestamps on the kubernetes objects themselves. Usin

[2022-03-01 22:28] dwbrown2 commented on #991
@nikovacevic couldn't those potentially simplify things greatly? guessing those metrics might have their own nuances though...

[2022-03-02 01:32] AjayTripathy commented on #991
We can already note that two pod lifecycles are distinct, but I believe @kaelanspatel mentioned he was having trouble keying on things like timestamps since they varied from collector to collector/metric to metric.

The decision I think makes the most sense is to get minutes running accurate by uniquely identifying pods, then to normalize our usage and request metrics based on runtime.

[2022-03-02 19:01] mbolt35 commented on #991
@AjayTripathy How do you note that two pod lifecycles are distinct with a single metric and pod name? If one pod goes down and comes up in a single scrape, how can you determine that one pod ended and the other started?

[2022-03-02 19:05] AjayTripathy commented on #991
Scrape intervals are pretty small, so I suspect it's ok to estimate there?

[2022-03-03 12:57] pgold30 commented on #1011
is there an option to also show co2 on AWS?

[2022-03-03 12:57] pgold30 commented on #3554
is there an option to also show co2 on AWS?

[2022-03-03 17:51] everpeace opened #1095 "More flexible node pricing for On-Prem use-case"
## The Problem

Currently, kubecost supports multiple [pricing providers](https://github.com/kubecost/cost-model/tree/develop/pkg/cloud). I think [CSVProvider](https://github.com/kubecost/cost-model/blob/develop/pkg/cloud/csvprovider.go) or [CustomProvider](https://github.com/kubecost/cost-model/blob/develop/pkg/cloud/customprovider.go) would be options for On-Prem use-cases.

In my on-prem cluste

[2022-03-03 17:57] everpeace opened #1096 "Pricing on extended resource other than GPUs"
Do you have a plan to support pricing [extended resources](https://kubernetes.io/docs/tasks/configure-pod-container/extended-resource/#assign-an-extended-resource-to-a-pod) other than GPUs in cost-model? It seems that the current node cost model is somewhat [static (CPU, RAM, GPU)](https://github.com/kubecost/cost-model/blob/v1.91.0-rc.2/pkg/costmodel/aggregation.go#L55-L76).

We have on-prem clus

[2022-03-03 18:32] keithhand commented on #1095
Hi @everpeace, for some added context, I think you have a solid understanding of how the CustomProviders and CSVProvider classes work. If you have a set pricing model, you can assign catch-all categories for custom CPU, RAM, and GPU costs. Then, if you need multiple types of nodes, you would use the CSVProvider to load a CSV with your on-prem node data. To calculate the MarketPriceHourly for that

[2022-03-03 18:39] dwbrown2 commented on #1011
Looks like AWS is just launching an initiative here! I haven't closely investigated yet though. https://www.zdnet.com/article/this-new-aws-tool-shows-customers-the-carbon-footprint-of-their-cloud-computing-usage/

[2022-03-03 18:39] dwbrown2 commented on #3554
Looks like AWS is just launching an initiative here! I haven't closely investigated yet though. https://www.zdnet.com/article/this-new-aws-tool-shows-customers-the-carbon-footprint-of-their-cloud-computing-usage/

[2022-03-03 19:12] nikovacevic opened #1098 "Outlier detection can prevent ingesting new data"
We check "outlier" data by comparing one datum to the average of recent data, dropping a datum if its value exceeds 30x the average of historic values. (I don't know any more details, but @nealormsbee can possibly help.) It seems that sometimes that will prevent ingestion of real data, especially after configuration changes are made that will cause such an anticipated spike.

Proposed solutions in

[2022-03-03 19:17] nealormsbee commented on #1098
^ No additional info really. a 30x price spike on node CPU or RAM cost relative to an in-memory running average results in dropping the data point.

PR for that code is https://github.com/kubecost/cost-model/pull/935
Written to address https://github.com/kubecost/cost-model/issues/927

I'm all for both proposed solutions

[2022-03-04 01:45] everpeace commented on #1095
Thanks, @keithhand for your quick reply.

In our cluster, both CPU pods (that requests no GPUs) and GPU pods (that requests some GPUs) are scheduled to GPU nodes.

For example:
- node-A: 36 CPU, 380Gi, 8 GPUs
- two pods are running on node-A
  - pod-X: 10CPU, 100Gi, 0GPUs
  - pod-Y: 26CPU, 280Gi, 8GPUs

In this case, [the mentioned formula](https://github.com/kubecost/cost-model#how-do-you-determi

[2022-03-04 02:51] hyj-github opened #1101 "How do you get the cost allocation"
I can see the Cost of the pod on the Cost Allocation page. I want to know how does this work out exactly?
For example, using Kubecost to monitor the cost of an AWS cluster, there are two pods on one EC2, the first using 40% of EC2's resources, and the second using 10% of EC2's resources. Is the cost data ratio between them 4:1?
@kbrwn

gz#1459

[2022-03-04 16:16] kbrwn commented on #1101
Hi @hyj-github, in the scenario you describe kubecost collects pricing data about EC2 nodes from AWS then based on node price each container/pod is allocated cost per CPU-hour, GPU-hour, RAM-Gb-hour. This allocated cost reflects a percentage of the cost from the node where the workload was running. So yes the 4:1 ratio would be correct although other factors such as external costs or idle cost all

[2022-03-04 16:39] keithhand commented on #1095
@everpeace, I think that shows a perfect use case for us extending this support; thank you! I'm going to tag this issue to ensure our engineering team can also look at how we might better prioritize this.

[2022-03-04 19:00] AjayTripathy commented on #1096
Hi @everpeace this sounds like a great feature request. Maybe we'd create a mapping of pod: request and then import a pricing sheet for those definitions?

[2022-03-04 20:42] #1048 closed

[2022-03-04 20:42] AjayTripathy commented on #1048
Fixed in 1055

[2022-03-06 19:35] AjayTripathy commented on #1045
This likely belongs in the community edition project more so than the open source, since maintenance of data sources is beyond the scope of the open core.
What you want to do there is create a small utility that:
* Checks if Cloud Assets is enabled and there are assets from Athena. If so, start the utility.
* ~50h after the start of the month, issues a query to the Cloud Assets code
* If there is

[2022-03-07 12:43] everpeace commented on #1096
Yes, I think so overall.  But I think price information should be loaded from various methods (because I'm not sure what 'sheet' means).

And, for a long-term goal, I think GPU would be treated as this mechanism, too.

[2022-03-07 21:02] AjayTripathy commented on #1096
A pricing sheet is a CSV as defined here:
https://github.com/kubecost/cost-model/blob/develop/configs/pricing_schema.csv

We could adapt the AssetClass field to be arbitrary, but we'd still need to know a prometheus metric that is emitted to capture which pod requested it.

[2022-03-08 01:19] everpeace commented on #1096
AS I mentioned in https://github.com/kubecost/cost-model/issues/1095#issuecomment-1058743730, there is a case in which normalized `MarketPriceHourly` does not fit. So, I suppose that a more generic method that can configure prices per resource would be needed (for example, my proposal described in #1095).

[2022-03-08 04:34] everpeace commented on #1095
@keithhand I noticed an example described in https://github.com/kubecost/cost-model/issues/1095#issuecomment-1058743730 can be applied in GPU instances in public cloud.
 Even in a public cloud environment, if users scheduled CPU pods (requesting no GPUs) to GPU nodes, price information per resource type will be required.

[2022-03-08 22:06] AjayTripathy commented on #1096
Hey @everpeace the documentation is a little out of date-- that formula extends to GPUs. We should update the documentation. I've filed https://github.com/kubecost/cost-model/issues/1105

[2022-03-08 22:08] AjayTripathy opened #1105 "Update node->resource breakdown formula documentation to note GPUs are accounted for"
https://github.com/kubecost/cost-model#how-do-you-determine-ramcpu-costs-for-a-node-when-this-data-isnt-provided-by-a-cloud-provider

We've already extended this forumla to cover GPUs-- we should update the docs.

[2022-03-10 04:29] dwbrown2 commented on #1105
This feels really quick. Do you plan to tackle @AjayTripathy?

[2022-03-10 04:42] AjayTripathy commented on #1105
@biancaburtoiu and I are working on this one!

[2022-03-11 12:40] pierluigilenoci opened #1107 "Pod cost-analyzer initial restart"
During the updates (via the official chart) the `cost-analyzer` pod has a restart each time at the first start and then works perfectly.

It is absolutely not a big problem but I still wanted to point it out to you.
Is there any log or detail I can share to make your job easier?

[code]

gz#1497

[2022-03-11 15:02] dschunack opened #1108 "High memory usage after update on v1.91.0"
Hi,

we updated today kubecost to use the latest release v1.91.0 and the kubecost-cost-analyzer POD crashed duo to an OOM.
The costs-model Container used a lot of memory, means GB's of memory. We saw today spikes up to 120GB of Memory.
I think this is not normal. The v1.90.1 costs-model used 100-200MB. We switched back to v1.90.1

v1.91.0
![Xnip2022-03-11_15-57-11](https://user-images.githubuserco

[2022-03-11 15:04] dschunack commented on #1107
Hi,

we noticed also problem today with the latest release v1.91.0. In our Case the costs-model Container used GB of Memory #1108.

[2022-03-11 16:11] maxime-sourdin opened #1109 "Using Kubecost with an Openstack infrastructure (custom prices)"
Hello,
At my company, we are starting to implement a Kubecost, however part of our infrastructure is based on Openstack.

Kubestack does not support flavor billing, which results in correct usage patterns, but incorrect pricing.

I know that cloud providers offering openstack (like infomaniak: https://docs.infomaniak.cloud/user-guide/Billing_Metering_and_Rating/), are based on calculation modes si

[2022-03-11 18:00] kbrwn commented on #1108
hi @dschunack did you happen to look at the logs during this time of high resource usage? Anything stand out? If you have a dev cluster where you can replicate this issue a heap/profile during high usage would help with further debugging: [Kubecost Memory Usage](https://guide.kubecost.com/hc/en-us/articles/4407595921431)

[2022-03-11 18:13] AjayTripathy commented on #1107
Hi @pierluigilenoci thanks for this report. Can we get the --previous logs of the container to see if there was a panic on the restart?

[2022-03-11 18:56] dschunack commented on #1108
Hi @kbrwn ,

I found a running kubecost that consumed only 3GB, the most crashes in seconds.
Logs are attached and also the profile/heap.

Hope it helps.

[cost-model.log](https://github.com/kubecost/cost-model/files/8234628/cost-model.log)
[profile.log](https://github.com/kubecost/cost-model/files/8234640/profile.log)
[heap.log](https://github.com/kubecost/cost-model/files/8234643/heap.log)

[2022-03-11 19:13] AjayTripathy commented on #1108
Hi @dschunack unfortunately that heap seems reasonable (within a few Gi) and isn't that helpful. If we can't get a heap because the pod is crashing too quickly, any way we could get a log from a 1.91.0 instance that crashes? You can use "--previous" to pull data from a crashing or terminating pod.

[2022-03-11 20:16] AjayTripathy commented on #1108
I also think a bug report, plus node, cluster, and storage class architecture would be really useful here, seeing as we can't reproduce this in any of our test clusters.

[2022-03-11 20:41] michaelmdresser commented on #1108
@dschunack, the most important thing that would help us is the logs of the `kubecost-cost-analyzer` pod running `v1.91.0` that OOMs. As Ajay has mentioned, you can use `--previous` if it was the last instance of the pod that crashed, e.g.:

[code]

If you get an error like:
[code]

You may need to specify the _exact_ pod that OOMs, rather than using `--previous`, like so:

[code]

[2022-03-11 21:06] dschunack commented on #1108
Hi,

here are the information's.

We use EKS 1.21 and the Node is a r5a.2xlarge x86_64.
Storage Class is EBS GP3
docker 20.10.7
kernel: 5.4.176-91.338.amzn2.x86_64
k8s: v1.21.5-eks-9017834

`
kubectl -n kubecost get pvc
NAME                     STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS                       AGE
kubecost-cost-analyzer   Bound    pvc-

[2022-03-11 22:01] kirbsauce commented on #1098
@srpomeroy , the current plan is for @nealormsbee to build an image early next week which disables outlier detection.  At that point, you can test out if outlier detection is the culprit.  Sound good?

[2022-03-11 22:14] mac-chaffee opened #1110 "Job costs attributed to the wrong namespace"
I have a strange bug where an old job (which doesn't use that many resources) in one namespace is showing up in kubecost with really high costs and in the wrong namespace.

Here is the job appearing in kubecost associated with the "monitoring" namespace (that's where kubecost is running, for the record)
<img width="1516" alt="image" src="https://user-images.githubusercontent.com/7581860/157976521-

[2022-03-11 22:33] mac-chaffee commented on #1110
This may hint at the issue: It looks like something thinks every pod in the cluster is owned by this job's controller:

<img width="1525" alt="image" src="https://user-images.githubusercontent.com/7581860/157983129-d1ef0036-fd2e-4e53-9925-53c5556e216a.png">

[2022-03-11 22:56] mac-chaffee commented on #1110
Oh I see that kubecost pulls that info from this query: https://github.com/kubecost/cost-model/blob/d5a0730b156656b26485298326e0f3bc61e1bb08/pkg/costmodel/allocation.go#L57

When I check the raw output of `kube_pod_owner{owner_kind="Job"}`, I see duplicate metrics, which lead me to finding this article: https://guide.kubecost.com/hc/en-us/articles/4408095797911-Kube-State-Metrics-KSM-Emission

I'l

[2022-03-11 23:00] AjayTripathy commented on #1110
Hm. Thanks for this detailed bug report. It's surprising that every single pod, or a bunch of pods, shows up as having the same owner there on duplication. What does the raw output look like?

[2022-03-11 23:04] mac-chaffee commented on #1110
The raw output shows two copies of every job, one from my standalone kube-state-metrics (v2) and one from kubecost:

[code]

[2022-03-11 23:06] AjayTripathy commented on #1108
Hi @dschunack it looks like your pod is dying in the middle of loading your cache. It seems fairly unlikely that this is actually dying while holding 120Gi of memory-- is it possible that your memory accounting above is summating terminating pods?

Regardless, I think we want to get one pod stable, can we try to lower our cache size to just a few days to see memory usage? You can set
https://githu

[2022-03-12 00:57] AjayTripathy commented on #1110
I think I see the issue in your raw output here. the "pod" in kube_pod_owner here in the metric we emit is

`pod="monitoring-cost-analyzer-9465d5545-vjw89"`

...that is our pod. All emitted kube_pod_owners would emit that messing up our keying algorithm:

https://github.com/kubecost/cost-model/blob/d5a0730b156656b26485298326e0f3bc61e1bb08/pkg/costmodel/allocation.go#L1424

ie all pods would be giv

[2022-03-12 01:00] AjayTripathy commented on #1110
We can see if it's some sort of recording rule interfering by viewing our raw emitted metric at

<kubecost-url>/model/metrics and searching for kube_pod_owner.

[2022-03-12 04:16] srpomeroy commented on #1098
Thanks, @kirbsauce! @nealormsbee I[ tweaked the code](https://github.com/kubecost/cost-model/blob/spom-outlier-removal-test/pkg/costmodel/metrics.go#L538-L556) and [rolled an image](https://hub.docker.com/r/srpomeroy/cost-model/tags) today and have it running in our AWS dev cluster. I would appreciate a second set of eyes to be sure I disabled it properly. Hopefully, it saves you some cycles as we

[2022-03-12 18:39] mac-chaffee commented on #1110
Ah yes, I am scraping metrics from kubecost using a ServiceMonitor from https://prometheus-operator.dev/ , which does insert extra stuff in the metrics, including overwriting the value of "pod" to be the pod that Prometheus-operator scraped the metric from. Looks like I've forgotten to include `honorLabels: true` as mentioned in the docs: https://guide.kubecost.com/hc/en-us/articles/4407595941015-

[2022-03-12 18:39] #1110 closed, assigned to nobody

[2022-03-13 01:12] nealormsbee commented on #1098
Those code changes look correct to me, @srpomeroy !

[2022-03-14 09:17] pierluigilenoci commented on #1107
@AjayTripathy if you give me detailed instructions on how to do it, I am available to pass you all the information you need.
Maybe I'll forward them to you on the Slack channel in case they're bulky.

Note: The reboot only happens after the update, then the pod doesn't have any more reboots.
If I manually delete the pod and the cluster recreates it this new pod never has any restart.
The test I ca

[2022-03-14 09:52] pierluigilenoci commented on #1107
I ran the command and this is the output:
[code]
I searched a bit and found that the reboot is tied to the frontend, not the backend.

[code]

[2022-03-14 15:39] pierluigilenoci opened #1111 "Pod cost-analyzer initial restart - Part 2"
For no apparent reason (other than updating to the latest version, from 1.90.1 to 1.91.0) the pod started going into CrashLoopBack.
Not related to #1107

[code]

If there is any further information you need just ask.

Thanks in advance.

gz#1509

[2022-03-14 16:22] kbrwn commented on #1111
hello @pierluigilenoci thanks for reporting this. We need a bug report or the logs of the cost-model container within the kubecost-cost-analyzer pod. You probably want to append `--previous` if you fetch this data with `kubectl logs` cmd. You can email these logs to support@kubecost.com if you prefer not to share publicly.

[2022-03-14 16:29] pierluigilenoci commented on #1111
@kbrwn I get the same result:

[code]

[code]

[2022-03-14 16:49] pierluigilenoci commented on #1107
I was finally able to get the logs!

Restart log

[code]

After the restart log:
[code]

[2022-03-14 16:55] pierluigilenoci commented on #1107
Maybe I'm wrong but It would appear that the FE container is faster than the BE starting.
Then on the first call to the BE it breaks.
After the reboot, the BE container is ready and responding, so the FE does not break.

You could try playing with the Handlers.
https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

[2022-03-14 18:13] #1105 closed, assigned to biancaburtoiu

[2022-03-14 18:51] kbrwn commented on #1111
hi @pierluigilenoci Did you modify any of the `command` or `arg` options in any deployments?

[2022-03-15 02:57] AjayTripathy commented on #1095
Hi @everpeace we've updated documentation to note that gpu requests are taken into account. While we understand the label -> resource cost mapping and it's an interesting feature, your current use case should be covered by the automatic distribution of node costs into resources. Pods on the node don't share prices evenly, but by resource allocation so in your example pod x won't be costed for gpu.

[2022-03-15 05:02] AjayTripathy commented on #1109
Curious @maxime-sourdin is the flavor of the node written anywhere in the node label?  If so I think this becomes a lot easier to support, or even already possible with the CSV provider.

[2022-03-15 08:43] pierluigilenoci commented on #1111
@kbrwn these are the complete values with which the chart has been deployed:

[code]

[2022-03-15 08:54] maxime-sourdin commented on #1109
From what I see on the infrastructure, I have labels like this:

[code]

with indeed the flavor indicated in labels

[2022-03-15 10:07] pierluigilenoci commented on #1111
I have done some tests, tried to update to version 1.91.1 and I get the same error.
If, on the other hand, I roll back to 1.90.1 everything works perfectly.

Ref: https://github.com/kubecost/cost-model/compare/v1.90.1...v1.91.0

We have clusters on both AKS and EKS.
The problem occurs only on AWS, on Azure it works perfectly.

[2022-03-15 10:23] pierluigilenoci commented on #1111
I was able to get a more comprehensive log:

[code]

[2022-03-15 10:28] pierluigilenoci commented on #1111
Similar error with v1.91.1.

I tried to update because the new version exactly fixed a problem with Athena.
The message has changed slightly but the result has not changed.

[code]

[2022-03-15 10:29] pierluigilenoci commented on #1111
Of course, we haven't changed any of the AWS IAM side configurations.
The interesting thing is that 1.90.1 works and 1.91. * doesn't.

[2022-03-15 14:47] dschunack commented on #1108
Hi @AjayTripathy,

It's the real memory usage of the costs-model container and on r5a.4xlarge instance it used a large amount of memory.
I will change it in our dev environment to check if it helped to reduce the etl. I will inform you soon

[2022-03-15 17:16] kbrwn commented on #1108
Hi @dschunack you might wish to upgrade to the latest kubecost release which fixes a performance regression: https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.91.1

[2022-03-15 18:01] dschunack commented on #1108
Hi @kbrwn , I will test the new release tomorrow. Thanks for the Info.

[2022-03-15 18:13] AjayTripathy commented on #1111
Thanks for the more detailed report @pierluigilenoci . This should never panic, but we did make a change to use sdkv2 that I will take a look at

[2022-03-15 18:17] AjayTripathy commented on #1111
Also-- you were able to access the AWS Athena SDK on v1.90.1? Were there cloud assets available on /assets.html?

[2022-03-16 11:11] pierluigilenoci commented on #1111
@AjayTripathy I'm sorry but I can't roll back to the previous version to check.
In the diagnostics tab, I hadn't detected problems in the past of integration with AWS, the costs were allocated correctly.

This cluster was updated yesterday from version 1.90.1 to 1.91.1.

![Screenshot 2022-03-16 at 12 03 51](https://user-images.githubusercontent.com/36044817/158576276-a7b51e9c-6e83-4a9d-8688-de3848

[2022-03-16 11:13] pierluigilenoci commented on #1111
@AjayTripathy I let myself be carried away by enthusiasm but if you want, for these further integration problems, I can open a new issue.

[2022-03-16 19:17] dschunack commented on #1108
Hi @kbrwn ,

I tested it today with the latest release v1.91.2, but it still consumed a lot of memory and crashed.
It's running on one of our EKS and the costs-model consumed between 1.4 to 1.8Gi memory, but it's running.

[code]

![Xnip2022-03-16_20-02-30](https://user-images.githubusercontent.com/19306599/158667235-29993cf3-f803-458c-ae16-9bd218216b32.jpg)

If we check now the data in the kubeco

[2022-03-16 19:24] kbrwn commented on #1108
hi @dschunack do you see results in prometheus when querying for `kube_persistentvolume_capacity_bytes`?

[2022-03-16 19:33] dschunack commented on #1108
Hi @kbrwn ,

yes, we see a lot of results and Prometheus is working fine. ~5400 for the last 6h.

![Xnip2022-03-16_20-31-50](https://user-images.githubusercontent.com/19306599/158675137-d48d99b6-2293-433c-aecd-1312c4e0f85e.jpg)