[2022-03-16 21:02] AjayTripathy commented on #1111
Yeah, happy to review other issues on integrations. But in the meantime we did publish v1.91.2 that should at least stop the pod from crashing. Mind revving the version and giving that a look when you can?

[2022-03-16 21:43] ivankube opened #1120 "Aggregating by label is not working in v1.91.2"
Steps to reproduce:

1. - Add label to any pod.
2. - Aggregate by this label or by Pod and this label.

v.1.91.2
![Screen Shot 2022-03-16 at 5 38 46 PM](https://user-images.githubusercontent.com/97049075/158695659-4a88659b-80d9-42cb-b8cd-182a03a0cc90.png)

v.1.90.1
![Screen Shot 2022-03-16 at 5 22 47 PM](https://user-images.githubusercontent.com/97049075/158695735-aa939658-edaa-439b-aa56-52d25c4a8

[2022-03-16 21:52] AjayTripathy commented on #1120
Seems to work for me?
![Screen Shot 2022-03-16 at 2 51 08 PM](https://user-images.githubusercontent.com/453512/158697348-d26b2fd3-24f5-4971-afb9-845f7105516a.png)

[2022-03-16 22:59] ivankube commented on #1120
Closing: It took some time for Kubecost to pick up the label.

![Screen Shot 2022-03-16 at 6 57 03 PM](https://user-images.githubusercontent.com/97049075/158704895-2581d1d0-f577-470e-b8b1-a19a864d4445.png)

[2022-03-16 22:59] #1120 closed, assigned to nobody

[2022-03-17 07:52] dschunack commented on #1108
Current memory usage of the go process in the cost-model container.

[code]

[2022-03-17 09:47] pierluigilenoci opened #1122 "[FR] Support log level configuration + document this feature"
Trying to [change the verbosity of the software](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-deployment-template.yaml#L254-L256) to produce a lower number of logs (only warnings and errors, the info level logs do not interest us) I searched for the documentation that specified all the [args](https://github.com/kubecost/cost-analyzer-helm-

[2022-03-17 16:24] mbolt35 commented on #1108
@dschunack I'm confused about how you are measuring this. Your first image has `WSS` in the heading (your comparator). I'm not even sure how you're measuring WSS on a *nix kernel, can you shed some light there?

VSZ memory is also not necessarily indicative of the overall physical RAM usage by the application. While RSS isn't perfect, it's probably closer to actual physical memory usage. One sugge

[2022-03-17 16:57] dschunack commented on #1108
Hi @mbolt35 ,

The first Picture was the memory usage with version v1.91.0 and now with the latest v1.91.2.
With the latest release is the memory usage quite better, but not good.

The [memory output](https://github.com/kubecost/cost-model/issues/1108#issuecomment-1070485927) comes directly from top in the cost-model container.

We use Prometheus and the NodeExporter on the Nodes to get metrics of

[2022-03-17 18:09] mbolt35 commented on #1108
@dschunack The heap you posted lines up fairly closely to the `1866Mi` from kubectl top. The go runtime appears to have freed `500mb` that the kernel has yet to reclaim.
[code]
Nothing in that heap looks suspiciously high, and it appears to be running as expected from our side.

What I would like to understand is the first image you posted which shows `cost-model` running at `99MiB` compared to wh

[2022-03-17 19:15] ivankube commented on #1122
Thanks for submitting this feature request! Although it's not possible to configure log verbosity now, It’s one we’ve heard before, so we’ll make sure it’s on our list of features to consider when we’re ready to make some changes.

[2022-03-18 01:27] AjayTripathy commented on #1110
Honor labels work out for you here?

[2022-03-18 08:19] pierluigilenoci commented on #1122
@ivankube thanks. Is there any documentation of the possible arguments that exist to date somewhere?

[2022-03-18 15:13] mbolt35 commented on #1122
@pierluigilenoci You can pass `-v` which gets passed through to the klog library for logging. The only other arguments accepted are `cost-model` (which is automatically applied) and `agent` which is undocumented.

[2022-03-18 16:34] pierluigilenoci commented on #1122
@mbolt35 thanks!

Is only the `-v` option passed? `--logtostderr` or `--stderrthreshold`?

Unfortunately `klog` is affected by a fairly serious bug. 😢
https://github.com/kubernetes/klog/issues/212

[2022-03-18 17:19] mbolt35 commented on #1122
@pierluigilenoci I have not tried to use the flags mentioned; however, it looks like we are piping `logtostderr` through as well. We're using the cobra library to process command line args, and it captures flags differently than the built-in go flags, which unfortunately means that we have to pipe flags through if they're used by other libraries. For klog, this is done here:

https://github.com/ku

[2022-03-20 07:21] evgenii-denisov commented on #882
I have the same issue.
Typical spot nodes cost for m4.2xlarge around $0.210 per/h
But kubecost use $0.007 per/h
Spot feed enabled, and i'm download a csv file from feed and found exactly one of problematic instance.
This file in s3 available  at least for 2 hour after data for this specific instance is appeared.
Instance created at 01:15:15 UTC and s3 file uploaded at 06:06:42 UTC (5 hour lag)
But

[2022-03-20 21:31] AjayTripathy commented on #882
Hi @evgenii-denisov can you look at /diagnostics.html and let us know if you've correctly connected to the spot feed? An error log would be helpful as well.

[2022-03-21 11:58] evgenii-denisov commented on #882
![Screenshot 2022-03-21 at 14 47 49](https://user-images.githubusercontent.com/100626206/159255187-33730a51-29ee-4f0c-bf66-9fabaa9814e7.png)

@AjayTripathy  I can't find any error in `cost-model` container, just a lots of following warnings:
[code]
and few
[code]

[2022-03-21 12:01] evgenii-denisov commented on #882
Connecting to `spot feed` seems does not matter, as sometimes feed data for node comes to s3 already then node removed from cluster after 5-6 hours. We should somehow recalculate cost after getting real numbers from AWS.

Or may be at least fallback to previous average values as source of cost for spot instance for the same type of nodes.

[2022-03-21 14:50] dschunack commented on #1108
HI @mbolt35

It's a single POD and only the cost-model container was selected in grafana. After the Update on v1.91.0 the memory grows and grows without stopping and reached the Node limit.

At the moment we monitor with prometheus/grafana only the WSS Memory usage and not the RSS.
WSS is also used for kubectl top pod memory output. Both Pictures shows the WSS Memory usage of the cost-model Contai

[2022-03-21 16:47] AjayTripathy commented on #882
Hi @evgenii-denisov we do support backdating prices-- but they do not backdate in Prometheus or via the spot feed. Changes are reflected in our UI, not prometheus, by connecting to the AWS CUR : https://guide.kubecost.com/hc/en-us/articles/4407595928087-AWS-Cloud-Integration#step-1-setting-up-the-cur

[2022-03-21 16:53] AjayTripathy commented on #1109
In that case, we should already be able to use custom pricing with flavors. Take a look at how the pricing CSV works:
https://github.com/kubecost/cost-model/blob/develop/configs/pricing_schema.csv

You can set InstanceID to the flavor and InstanceIDField to the label where you're reading flavor, eg:
InstanceID: small-node
InstanceIDField: spec.metadata.label.type

[2022-03-21 18:18] keithhand commented on #1095
Hi @everpeace, I wanted to check back in to see if Ajay's comment cleared things up for you regarding the distribution of GPU prices. Let me know if there's anything else I can help clarify.

[2022-03-21 23:39] nikovacevic opened #1124 "Idle allocation accuracy when shared resources, filters, and idle separation/filtration are all enabled"
If filters and shared resources and shared idle are all enabled then we will over-count idle by exactly the portion that gets shared with the filtered allocations -- and idle filtration will miss this because it only filters the non-idle filtered costs.

Consider the following example, from unit tests:
- namespace1     28.000
- namespace2     36.000
- namespace3     18.000
- cluster1/idle  20.000

[2022-03-21 23:40] nikovacevic commented on #1124
Ideally, we deprecate sharing resources in the aggregation step, which would resolve this.

[2022-03-22 08:54] MohamedTalhaoui opened #1125 "GCE metadata "instance/attributes/cluster-name" not defined"
I am having issue deploying kubecost from the helm chart in a private GKE cluster

I have the following logs:
[code]
Although I have restrictive network policy in place, I am pretty sure that this is NOT the root cause.
I have followed the docs here:
https://guide.kubecost.com/hc/en-us/articles/4407601830679-Troubleshoot-Install#metadata

Also, I have issued a curl command from the cost-analyzer-f

[2022-03-22 19:57] kbrwn commented on #1111
@pierluigilenoci did you have a change to upgrade to v1.91.2? Did this release fix issues with CUR access?

[2022-03-23 00:32] nikovacevic opened #1126 "Asset queries result in data off by 1m"
It's common to get warning logs like this for nodes and disks:
[code]

And it's common to get 59m or 1439m as the duration for nodes and disks that ran for the full 1h or 24h.

The asset query accuracy should improve so that (start, end) are more precise.

[2022-03-23 08:25] pierluigilenoci commented on #1111
@AjayTripathy @kbrwn the new version seems to have no problems with Athena.

[2022-03-23 08:48] pierluigilenoci opened #1128 "Spot Data Feed integration error"
I open this as suggested by @AjayTripathy in #1111

The diagnostics page shows integration errors for `Spot Data Feed`, specifically `Config awsSpotDataBucket is missing` and
`operation error S3: ListObjects, serialization failed: serialization failed: input member Bucket must not be empty`.

![Screenshot 2022-03-23 at 09 28 22](https://user-images.githubusercontent.com/36044817/159658101-16b3ed0c

[2022-03-23 08:50] pierluigilenoci commented on #1111
@AjayTripathy as you suggested I created #1128

[2022-03-23 09:10] pierluigilenoci commented on #1122
@mbolt35 thank you very much for the explanation and for your availability.
To complete the picture it might be interesting to have `stderrthreshold` and `alsologtostderr` passed to Klog.
In this way, it is possible to direct the logs according to personal preferences.

[2022-03-23 14:23] jcharcalla commented on #1128
@pierluigilenoci Thank you for reporting this issue, I'll work with the team to find a solution.

[2022-03-24 02:06] AjayTripathy commented on #1125
It looks like private GKE clusters don't have a metadata field. We should look to make that metadata field optional and use cluster-name or a default cluster name (GKE Cluster #1) if none exists.

[2022-03-24 02:08] AjayTripathy commented on #1108
Hi @dschunack we've identified a few performance regressions that will be fixed in an upcoming release but a heap of an older version would be great as well.

[2022-03-24 08:17] MohamedTalhaoui commented on #1125
Hi @AjayTripathy
that does not explain why the curl command works from the cost-analyzer-frontend container and the cluster name is there correctly returned (non-prod-management-plane-gke-cluster).

[2022-03-24 16:32] biancaburtoiu commented on #1125
Looking into how the GCE metadata is processed ([see here](https://github.com/kubecost/cost-model/blob/4b3f80128a0f42e8d6216482baa4ae28792e7c00/pkg/cloud/gcpprovider.go#L310)), the `GCE metadata ... not defined` error shouldn't be blocking. Could you confirm @MohamedTalhaoui whether this error actually terminates your program or not? Please share more logs if you have them.

In the meantime I've r

[2022-03-24 17:40] kbrwn opened #1130 "Trivvy reports vulns in v1.92.2"
[code]

gz#1574

[2022-03-24 17:48] dwbrown2 commented on #1130
Assigning to @AjayTripathy

[2022-03-24 17:51] AjayTripathy commented on #1130
Thanks, what's the scan being run here? Our image scan at least is coming back clean. Happy to update our nightly scanner to whatever is being run here to remediate these earlier.

[2022-03-24 17:54] AjayTripathy commented on #1130
I will also note that while it is high priority to get these addressed, the impact of these CVEs on the app are low to nonexistant.
* CVE-2021-42576 https://nvd.nist.gov/vuln/detail/CVE-2021-42576: Users on the kubecost frontend are expected to be trusted. We also do not use any of the affected policies
* CVE-2021-3538   : These generated UUIDs are not used cryptographically or to identify any use

[2022-03-24 18:00] MohamedTalhaoui commented on #1125
You are right @biancaburtoiu the error is not blocking and the pod can start but remains Unhealthy
[code]

[2022-03-24 19:06] kbrwn commented on #1130
@AjayTripathy The trivy cmd was:  `aquasec/trivy image --exit-code 1 --severity CRITICAL --ignore-unfixed {imagename}`

[2022-03-24 19:42] biancaburtoiu commented on #1125
@MohamedTalhaoui could you try to manually define the name of the cluster in the [`kubecostProductConfigs.clusterName` field in the values.yaml](https://github.com/kubecost/cost-analyzer-helm-chart/blob/dee480976e3c07ffb1f204dc8d6daea2085216f7/cost-analyzer/values.yaml#L765) file you're using?
[code]

Please share all the logs you get so we can investigate!

[2022-03-24 20:57] MohamedTalhaoui commented on #1125
@biancaburtoiu I tried setting the clusterName value but still have the exact same log and behaviour with the pod status Unhealthy.
Is there a way to increase the log level ? I found nothing in the values file.

[2022-03-24 22:19] AjayTripathy commented on #1130
@biancaburtoiu seems like a good one to learn about go dependencies!

[2022-03-25 17:09] biancaburtoiu commented on #1125
@MohamedTalhaoui It is likely that due to your restrictive network policy the call to fetch the [GCP Billing Data](https://cloudbilling.googleapis.com/v1/services/6F81-5844-456A/skus?key=AIzaSyDXQPG_MHUEy9neR7stolq6l0ujXmjJlvk&currencyCode=USD) fails. You might need to modify your policy to allow outbound traffic on that path. Alternatively, you could look into using a Custom or a CSV Provider.

[2022-03-25 20:06] biancaburtoiu commented on #1130
Hi! I've done some investigation into this:
-  **github.com/microcosm-cc/bluemonday**: We're actually aligned with the fixed version on the `develop` branch for both KCM and CM repositories, using `v1.0.16` ([kubecost-cost-model/go.mod](https://github.com/kubecost/kubecost-cost-model/blob/develop/go.mod#L20), [cost-model/go.mod](https://github.com/kubecost/cost-model/blob/develop/go.mod#L32)). I r

[2022-03-28 12:22] MohamedTalhaoui commented on #1125
@biancaburtoiu thanks for your suggestion but I am pretty sure netpols are ok.
I tried calling the GCP billing data with curl from the cost-model pod and I can reach the server but have 403.
Here is the complete log:
[code]

[2022-03-28 14:42] biancaburtoiu commented on #1130
It seems I was looking at the wrong repositories! The issue should be fixed by this PR: https://github.com/kubecost/cost-analyzer-server/pull/20

[2022-03-28 16:17] #1130 closed, assigned to AjayTripathy, biancaburtoiu

[2022-03-28 16:29] kbrwn commented on #1111
@pierluigilenoci Thanks for creating another issue about spot. I agree that there should be an option to disable the diagnostic when not relevant.

In regards to this issue, I believe it was resolved by v1.92.2, is this correct? If so I will close this. Let me know.

[2022-03-28 19:45] kbrwn commented on #1125
Hi @MohamedTalhaoui GKE private clusters often have limitations for instance metadata. There are two ways this is managed on GKE via [Workload Identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) or [metadata concealment](https://cloud.google.com/kubernetes-engine/docs/how-to/protecting-cluster-metadata#concealment) with service account access. Would you be able to c

[2022-03-28 23:20] keithhand commented on #1095
Hey @everpeace, just circling back on this to see if there was anything else we can do to clear things up. If not, let me know, and I can get this issue closed out for you.

[2022-03-29 03:42] #1126 closed, assigned to nikovacevic

[2022-03-30 15:55] pierluigilenoci commented on #1111
@kbrwn yes, this is solved.

[2022-03-30 15:55] MohamedTalhaoui commented on #1125
Hi @kbrwn, thanks for your hint, Workload Identity is definitely needed and was missing in my setup.

However, after setting up WI, I still can see the exact same error.
I am not a golang expert, but looking at the code, it looks like you rely on the key.json provided by the gcp-secret to authenticate to google apis. When using Workload Identity, this should not be needed since the binded GCP serv

[2022-03-30 16:15] kbrwn commented on #1111
@pierluigilenoci Thanks for confirming!

[2022-03-30 16:15] #1111 closed, assigned to nobody

[2022-03-30 16:31] kbrwn commented on #1101
@hyj-github Closing this issue out. Please email support@kubecost.com in the future with any follow up questions.

[2022-03-30 16:31] #1101 closed, assigned to nobody

[2022-03-30 17:18] AjayTripathy commented on #1128
Seems like a quick fix to simply not query the spot data feed when spot data configs are unset.Maybe a quick one for @biancaburtoiu ?

[2022-03-30 18:51] kbrwn commented on #1108
hi @dschunack A new RC is available: https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.92.0-rc.0

It would be great to compare performance with this rc vs the current release in your environment if possible. You can append `--devel` cmd to `helm upgrade` to install the latest rc.

[2022-03-31 14:38] dschunack commented on #1108
Hi @kbrwn ,

Thanks for the Update and we will try it out. The link is not working, but i think you mean release v1.92.0-rc.0.

[2022-03-31 16:33] kbrwn commented on #1108
@dschunack Sorry I guess the release wasn't public quite yet! I updated the link.

[2022-04-01 08:57] dschunack commented on #1108
Hi @kbrwn ,

We updated one of our kubecost to RC0 and the Memory usage is 50% less then before, but not as good as before.
Working memory (WSS) goes down from 4Gi to 2Gi for the cost model container.

I wanted to deploy a second kubecost on the same EKS but in a different namespace to deliver the heap/profile of a different version.
However, I noticed that some templates are not ready to roll out

[2022-04-01 10:48] dschunack commented on #1108
PR created: [#1344](https://github.com/kubecost/cost-analyzer-helm-chart/pull/1344)

[2022-04-01 21:09] rumstead opened #1139 "Proxies when deploying kubecost"
Hello,

We set [proxies](https://github.com/kubecost/cost-analyzer-helm-chart/blob/c98f4856bc96d50c5a8a775547ac8ce539e7037b/cost-analyzer/values.yaml#L179) on our kubecost deployment so it can access our central Prometheus running outside of our clusters.

What we quickly realized is, if we rebuild the cluster and the internal IP of the API server changes, our deployment doesn't work.

Could we se

[2022-04-01 21:20] ErnestG4 commented on #1139
@rumstead thanks for reaching out. It would indeed be helpful to submit a PR if you have a moment to do so. Even if it's not the solution we ultimately go with, it's something we need to consider.

Will

[2022-04-01 23:27] rumstead commented on #1139
Added a WIP PR. I will add tests and such if the overall approach is ok.

[2022-04-04 17:27] srpomeroy commented on #978
This is supported as of [v1.90.0](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.90.0)

[2022-04-04 17:27] #978 closed

[2022-04-04 22:19] keithhand commented on #1095
Hi @everpeace. I'm going to mark this as closed, as I believe Ajay was able to answer your questions here. If you still need any assistance, please feel free to re-open this, join our [Slack community](https://join.slack.com/t/kubecost/shared_invite/enQtNTA2MjQ1NDUyODE5LWFjYzIzNWE4MDkzMmUyZGU4NjkwMzMyMjIyM2E0NGNmYjExZjBiNjk1YzY5ZDI0ZTNhZDg4NjlkMGRkYzFlZTU), or email us at support@kubecost.com, and

[2022-04-04 22:19] #1095 closed, assigned to nobody

[2022-04-06 12:41] gkaskonas opened #1145 "Kubecost is miscalculating storage costs when using gp3 volumes"
GP3 volumes can be configured to have higher throughput and IOPS count which costs more money. This is not reflected in kubecost analysis at all making costs inacurate, especially when using large volumes.

For example:
If you have a 4TB gp3 volume, daily costs with default IOPS/throughput is ~11$ but with max IOPS/througput it becomes ~14$. That is a big difference, especially at scale.

Is there

[2022-04-06 16:01] kbrwn commented on #1145
HI @gkaskonas There may be some hardcoded disk prices in the frontend that are related to this issue. I will request one of our engineers review how this may be resulting in inconsistent disk prices.

cc @nealormsbee @mbolt35

[2022-04-06 16:27] pzimno commented on #1122
+1 on this feature request. We've had kubecost logs spam our logging infrastructure with millions of records for an ETL misconfig. Currently our only fix is to filter it out from log collection.

[2022-04-07 12:06] smitthakkar96 opened #1146 "opentelemetry integration"
In order to monitor kubecost it's better if kubecost is instrumented with opentelemetry. We can then export this to services like Datadog or jager

gz#1630

[2022-04-07 12:18] smitthakkar96 commented on #264
Hey the checks appearing on `diagnostics.html` would be great to have in metrics. I am happy to contribute this if the maintainers think that this feature is worth having in upstream.

Use-case: Let's say I screw up my IAM Policy, and cost-model is not able to access the spot data feed anymore or my athena table name in config is messed up due to incorrect value during an update. I would like to g

[2022-04-07 15:21] nealormsbee commented on #1145
That is indeed what's happening. Self-assigning this issue and will investigate what it would take to use more nuanced / correct disk pricing pulled from cloud providers

[2022-04-07 15:25] dwbrown2 commented on #1145
@nealormsbee why would reconciliation not be correctly attributing?

[2022-04-07 15:32] nealormsbee commented on #1145
Reconciliation should be attributing correctly. It might be that I misunderstand the original issue or should ask for clarity.

The frontend-coded prices are used in specific places -- savings, audit.html, metric.html, real-time.html.

In places like Allocation / Asset views, we're just be reading reconciled costs, which should be accurate. Or at least, I don't know why they wouldn't be accurate.

[2022-04-07 15:34] dwbrown2 commented on #1145
@gkaskonas can you clarify where you're seeing this behavior and if you have a completed a cloud integration with your AWS account?

[2022-04-07 16:14] dwbrown2 commented on #1146
Hi @smitthakkar96, can you share more on a particular use case you have in mind? Do you have a specific data set you want to export? My understanding is that we support the OpenTelemetry spec in our Prom metrics but can take a closer look in specific areas of interest to you.

[2022-04-07 16:17] smitthakkar96 commented on #1146
I would like to monitor kube-cost like an application running in production, monitoring based on logs isn't great and I am looking to have traces so I can export this to tools like datadog or elasticsearch and see it in APM.

Basically something like this https://opentelemetry.io/docs/instrumentation/go/

PS: I am happy to contribute if it's something the maintainers see value in having

[2022-04-07 18:41] smitthakkar96 commented on #1146
@dwbrown2 regarding metrics I left a comment in another issue https://github.com/kubecost/cost-model/issues/264#issuecomment-1091665054

[2022-04-07 23:01] dwbrown2 commented on #1122
@pzimno, is there a specific log that you can share that's been spamming you? My understanding is that this request would provide general log level configuration but I'd want to do our best to address your very specific case.

[2022-04-08 03:40] dwbrown2 commented on #264
@smitthakkar96 any other checks in diagnostics.html that would be most helpful? All of the check below currently have underlying Prometheus measures that you can monitor.

<img width="646" alt="image" src="https://user-images.githubusercontent.com/298359/162358073-41636702-6609-40c1-bb10-4335f3a15532.png">

I do agree adding one for cloud integrations would be interesting.

[2022-04-08 06:30] gkaskonas commented on #1145
I see it in the Assets page.

Below is a disk that uses gp3, 16000IOPS and 1000 Mb/s throughput. This should cost about 14$ a day but it's showing 10.77$.
<img width="1460" alt="image" src="https://user-images.githubusercontent.com/57504623/162377377-bf5ee36b-9eab-4e17-8821-7e7a89ef8df7.png">

The Cloud Integration tab shows everything is good except the Spot instances feed (We don't use spot inst

[2022-04-08 06:59] gkaskonas commented on #1145
On the cost allocation page, I see the same figure.

We have 14 pods using the same EBS volume type.

Kubecost reports $150.82 cost for 1 day for that stateful set.

$150.82 / 14 = $10.77 which is not correct because it's assuming that we are using default gp3 IOPS/Throughput settings.

[2022-04-08 20:23] kbrwn commented on #1145
@gkaskonas The green check next to Savings Plan, Reserved Instances, and Out-Of-Cluster data available is usually an indication that you have set up the CUR integration.

Would it be possible for you to show the price of this EBS volume in the aws cost explorer?

[2022-04-08 21:29] ivankube opened #1150 "Aggregate by Cloud provider account/project"
Add aggregation by cloud provider account.

Kubecost needs to understand which Cloud Provier account/project a resource is part of and to make that part of the metadata; the resource can be a k8s pod/deployments or a CUR item.

gz#1626<br><br>

[2022-04-08 21:33] dwbrown2 commented on #1150
Thanks for reporting.

Do we already support what is needed on the assets side and just need this in allocation? Or there is more of a need? Any specific use case that has been shared from users?

[2022-04-08 22:04] ivankube commented on #1109
@maxime-sourdin were you able to make custom pricing work with flavors?

[2022-04-08 22:27] kirbsauce commented on #1150
@dwbrown2 , ZD 1626 (noted above) has more information if that helps, but here's the original...

"Good morning -- we've rolled out KubeCost internally to an early set of users! An early question came back whether we can aggregate by AWS account. Specifically, they want to aggregate by their deployment (via a k8s label) and then by AWS account. Today you can aggregate by Cluster -- is there a feat

[2022-04-11 15:56] MohamedTalhaoui commented on #1125
Hi,

additional testing shows that connection is refused from the frontend to the cost model service:
[code]

this is confirmed with curl command:
[code]
I have released my network policy and allow ingress and egress to all (cidr: 0.0.0.0/0)
The frontend and the cost-model containers are on the same pod so there should be no connection issue.
Am I missing something ?

[2022-04-11 16:06] AjayTripathy commented on #1125
Hi @MohamedTalhaoui I wonder if this could be the issue? https://github.com/kubecost/docs/blob/main/troubleshoot-install.md#issue-unable-to-load-app

Can you hit localhost:9003 rather than kubecost-app-cost-analyzer.kubecost:9003 from exec-ing into the frontend pod?

[2022-04-11 16:14] MohamedTalhaoui commented on #1125
same result with localhost:
[code]

[2022-04-11 16:31] AjayTripathy commented on #1125
What happens if you port-forward directly to the service? Does something like
`kubectl port-forward --namespace kubecost deployment/kubecost-cost-analyzer 9003` work? You can verify by seeing our prometheus metrics at:

http://localhost:9003/metrics

[2022-04-11 18:31] #1045 closed

[2022-04-11 20:06] AjayTripathy commented on #264
Maybe it would be helpful to just document what these prometheus monitoring queries are? @kbrwn this will also pertain to monitoring the hosted solution...want to take a first pass at that documentation?

[2022-04-11 22:05] kbrwn commented on #264
@dwbrown2 @AjayTripathy It is not very clear which queries from cost-analyzer-frontend repo which queries are made to make these checks. Maybe I am just looking at the wrong file? queries.js?

There are multiple issues about this topic. I agree we can document right now with the existing metrics some tips for monitoring. Although I conclude the several issues about this topic is because users want

[2022-04-12 07:32] MohamedTalhaoui commented on #1125
Not working s well.
I think the root cause is that there is no process listening on port 9003 as shown here:
[code]

I am running 1.91.0
It seems that the cost-model initialization is hanging somewhere but I can see nothing in the logs:
[code]

[2022-04-12 17:05] ivankube opened #1153 "Add configurable profile to Request Sizing Recommendations"
There are three available profiles: dev, prod, and HA.  Can we add custom profile where user can configure any aim for resource utilization?

gz #1650

[2022-04-13 08:03] jonerer opened #1154 "AWS External resource label matching fails"
Thanks for a great project! It's given us great insights. But I have a question: How can we get AWS external resource tagging to work? We're trying to get Department to work. We've followed the guide at https://guide.kubecost.com/hc/en-us/articles/4407596810519-AWS-Out-of-Cluster-

In General settings, we've set up "Department Label" to "app.kubernetes.io/part-of",
Our k8s resources have the label

[2022-04-13 17:36] kbrwn commented on #1125
@MohamedTalhaoui Can you upgrade to v1.92.0 and try the same port-forward to 9003? If that does not work please list out the endpoint objects for the cost-analyzer. `kubectl -n kubecost get endpoints kubecost-cost-analyzer`

[2022-04-13 17:57] jcharcalla commented on #1154
@jonerer I'm going to close this and work through the ticket created via Slack. If this turns out to be a bug we will create a new github issue.

[2022-04-13 17:57] #1154 closed, assigned to nobody

[2022-04-13 20:03] srpomeroy commented on #1153
Or even be able to adjust the target utilization for the existing profiles.

[2022-04-14 12:54] maxime-sourdin commented on #1109
Hello @ivankube,
I was able to create a csv file with the flavors (approximately 200 lines!!!). As expected, there are some internal problems with the labels that made it difficult to create the csv file.

I have not yet been able to test the integration due to lack of time, sorry

[2022-04-14 12:59] #1128 closed, assigned to biancaburtoiu

[2022-04-17 23:31] MohamedTalhaoui commented on #1125
@kbrwn sorry for my late reply.
As per your suggestion I upgraded to v1.92.0 and faced the same issue.
So I invested some time to add some debug logs, rebuild the docker image and deploy it to my kubernetes cluster.
I was able to narrow the execution was looping indefinitely here:
https://github.com/kubecost/cost-model/blob/0ef5c8319be7e27e3a719a5a3db9c85dc8f807f5/pkg/cloud/gcpprovider.go#L450

I

[2022-04-18 02:56] dwbrown2 commented on #1153
Thanks for reporting, have a particular situation in mind? This can already be done in the backing APIs in case that helps anyone's immediate need.

I see the obvious desire to have more flexibility, but think we need to get this some closer thought ahead of 1.94

[2022-04-18 02:58] dwbrown2 commented on #1150
@AjayTripathy this seems very straightforward if we already have Account in Allocation ETL. Do you know if that's the case?

If we don't want to bring it to ETL for some reason, then this is potentially an Advanced Reporting use case.

[2022-04-18 03:51] AjayTripathy commented on #1150
It does not exist in the allocation API today. It feels like an advanced reporting usecase since this is joining cloud provider concepts with kubernetes concepts. We are actively trying to remove the dependencies of k8s data from cloud provider data.

[2022-04-18 19:38] nealormsbee commented on #1125
Hi @MohamedTalhaoui 👋

The roles applied to your GCP SA should be sufficient to query all of the public billing data that Kubecost needs.

I think you may be onto something with the VPC Service Control. I believe that VPC Services Controls will, by default, block access to public Google APIs [per item 5 in this Medium article](https://medium.com/google-cloud/mitigating-data-exfiltration-risks-in-g

[2022-04-19 02:17] DanTulovsky opened #1161 "Cost for persistent disk not found"
Hi,

I see the following messages in the logs:

[code]

[code]

This is on GCP.  Is there something I am missing?  I did setup a connection to external billing, if that matters at all. There are many of such errors, all, I believe, using the same provisioner...

App version: 1.92.0

Thank you
Dan

gz#1675<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/1675'>Zendesk ticke

[2022-04-19 02:20] DanTulovsky opened #1162 "Failure to save report"
Hi,

I am getting a 400 error trying to save a report:

[code]

The response is a 400 error with: `invalid report: %!s(<nil>)`

The report itself displays just fine.

App version: 1.92.0

thank you
Dan

gz#1676

[2022-04-19 02:26] DanTulovsky commented on #1162
It seems like the problem is just with `treemap`. The others save just fine.

[2022-04-19 03:07] kaelanspatel commented on #1162
Hi Dan,

Thanks for the bug report! I think I see the problem.

We'll get this fixed in the next release.

[2022-04-19 06:56] AjayTripathy commented on #1125
Hey folks, that infinite loop error makes sense to fix and seems pretty straightforward-- @nealormsbee can you pull his notes into here: https://github.com/kubecost/cost-model/issues/1125#issuecomment-1100968126 into a PR?

[2022-04-19 13:11] DanTulovsky opened #1163 "Error: "have relation but no coeff""
Hi,

I am seeing the following error in the logs:

[code]

Is this a concern?  myapp does use mypvc.

Thank you
Dan

gz#1678

[2022-04-19 13:22] DanTulovsky opened #1164 "Pre-cache Cluster Sizing Recommendations?"
Hi,

Is it possible to somehow pre-cache the Cluster Sizing Recommendations (and other) pages?  Sometimes they are very slow to come up. I assume it's rebuilding the information.  This isn't the sort of data that needs to be up to the minute fresh (for us at least), so if it just updated itself in the background and showed whatever the last result was, that would be fine and improve the user exper

[2022-04-19 13:33] DanTulovsky opened #1165 "Cluster Sizing Recommendations: Error and Very Slow"
Hi,

When I click through to the "Cluster Sizing Recommendations" view, the javascript console starts to spit out 404 errors:

[code]

And otherwise it's just spinning... I am not sure how long this should take. This is a cluster of about 350 nodes.

Thank you
Dan

gz#1680

[2022-04-19 13:33] DanTulovsky commented on #1164
Related: https://github.com/kubecost/cost-model/issues/1165

[2022-04-19 13:34] DanTulovsky commented on #1165
fwiw, on the staging install (much smaller cluster) I also get the 404 errors in the logs, so those seem to be a red herring.  And this one comes up very quickly (about 20 nodes).

[2022-04-19 13:53] DanTulovsky commented on #511
I think this would be useful for us as well. For example, we are not going to use GCP e1 instances, so it would be nice to disable recommendations for those.

Alternatively, it would be amazing if I could say (assuming right now we use n1 instance types): "What would this looks like if we were using n2d instance types instead?"

[2022-04-19 14:06] DanTulovsky commented on #1165
It's not been many minutes, and there is still no data.. I don't see anything obvious in the logs.
<img width="1761" alt="Screen Shot 2022-04-19 at 10 06 33 AM" src="https://user-images.githubusercontent.com/509887/164022733-c26a50fc-034a-4284-96b4-1746b7b17f34.png">

[2022-04-19 14:07] DanTulovsky commented on #1165
It's not our of cpu or memory...

<img width="993" alt="Screen Shot 2022-04-19 at 10 07 43 AM" src="https://user-images.githubusercontent.com/509887/164022957-da8284c6-cf1a-412f-a4a3-38381b7ecdc1.png">

[2022-04-19 14:20] DanTulovsky commented on #1165
I wonder if this is related...

The prometheus server seems to also have plenty of cpu/memory...

<img width="1315" alt="Screen Shot 2022-04-19 at 10 20 17 AM" src="https://user-images.githubusercontent.com/509887/164025557-9034aaa4-0968-4d00-af55-fff805b2d5c2.png">

[2022-04-19 14:50] DanTulovsky commented on #1165
It looks like they timeout after 1 min...

[2022-04-19 15:04] nealormsbee commented on #1125
Sure thing :+1:

[2022-04-19 15:09] DanTulovsky commented on #1165
After a couple of restarts of both server and prometheus, diagnostics is now coming back ok... but the recommendation page still isn't working.  Some console error messages.  Those 502s must be coming from prometheus again?

<img width="1743" alt="Screen Shot 2022-04-19 at 11 09 17 AM" src="https://user-images.githubusercontent.com/509887/164035981-d00c6e70-3ee6-4667-b54b-8a1d85b32990.png">

[2022-04-19 15:15] kbrwn commented on #1165
@DanTulovsky It doesn't seem like prometheus or kubecost is stable. This would be expected behavior if this is the case. You should look into the resource usage of both prometheus and kubecost-cost-analyzer pods and ensure these pods are not getting OOM'd or CPU throttled or frequently restarting.

[2022-04-19 15:19] DanTulovsky commented on #1165
They are not.. they both seem to have enough resources.  For example, right now on the "Reserved Instances" savings page it's also timing out. The console shows a bunch of failures like this:

[code]

All with a 502.  I can run that query just fine on the prometheus server itself though.  And now, I just refreshed the page, and it loaded almost instantly. (Is this data cached?)

[2022-04-19 15:20] DanTulovsky commented on #1165
Here's the prometheus server:

<img width="993" alt="Screen Shot 2022-04-19 at 11 20 08 AM" src="https://user-images.githubusercontent.com/509887/164038319-5814a31f-9e37-422c-9359-2c09bf657197.png">

Here's kubecost:

<img width="998" alt="Screen Shot 2022-04-19 at 11 20 35 AM" src="https://user-images.githubusercontent.com/509887/164038400-102ae95d-c430-42e7-8ae0-4cddd7b7622d.png">

[2022-04-19 15:21] kbrwn commented on #1163
@DanTulovsky It is just a warning. It is not critical error. You will find there are many logs and warnings that are present in the kubecost logs that are not completely comprehensible or useful.

[2022-04-19 15:21] #1122 closed, assigned to dramich

[2022-04-19 15:22] DanTulovsky commented on #1165
But the "Cluster Sizing Recommendations" page is still not working.  I am not sure what else to look for. Is there some fundamental mistake I am making here for the size of the cluster we have? It's 384  nodes.

[2022-04-19 15:24] DanTulovsky commented on #1163
Ok thank you.

[2022-04-19 15:24] #1163 closed, assigned to nobody

[2022-04-19 15:27] pzimno commented on #1122
@dwbrown2, cost-model had some sort of etl failure so we would get a couple million logs per minute with messages like
[code]

[2022-04-19 15:35] DanTulovsky opened #1167 "Spot recommendation page is broken"
Clicking on `Check out the new Kubecost Spot readiness guide` takes me to the page, which briefly shows a loading status, and then goes entirely blank.  The console has the following in it:

<img width="1759" alt="Screen Shot 2022-04-19 at 11 35 03 AM" src="https://user-images.githubusercontent.com/509887/164041396-2386fc75-88d5-44b8-a3a6-296267c66f59.png">

gz#1682

[2022-04-19 15:36] kbrwn commented on #1165
@DanTulovsky If you can fetch a [heap/profile](https://guide.kubecost.com/hc/en-us/articles/4407595921431) while attempting to load the cluster-sizing page that may provide more info.

[2022-04-19 15:38] kbrwn commented on #1167
@DanTulovsky It seems you need a lot of help and that your kubecost install is not stable. Could you join our [slack](https://github.com/kubecost) so we can work together there instead of through multiple github issues?

[2022-04-19 15:42] kbrwn commented on #1167
Sorry wrong link to slack there: https://join.slack.com/t/kubecost/shared_invite/enQtNTA2MjQ1NDUyODE5LWFjYzIzNWE4MDkzMmUyZGU4NjkwMzMyMjIyM2E0NGNmYjExZjBiNjk1YzY5ZDI0ZTNhZDg4NjlkMGRkYzFlZTU

[2022-04-19 15:42] jcharcalla commented on #1164
@DanTulovsky Thank you for the suggestion. We have several performance and caching improvements in the works which should improve the UI performance.

Jason

[2022-04-19 15:47] DanTulovsky commented on #1167
Sure, I figured you'd want an easy way to track this. :)

[2022-04-19 15:50] kbrwn commented on #1167
@DanTulovsky 5 issues is a lot in a such small period and many of these are likely resolvable without code changes. We try to qualify if an issue is specific to a cluster or kubecost deployment and get data like bug report from /setting.html and profile/heap.

[2022-04-19 15:54] DanTulovsky commented on #1165
I get a 502 when trying to get a profile.

<img width="884" alt="Screen Shot 2022-04-19 at 11 51 15 AM" src="https://user-images.githubusercontent.com/509887/164044471-7f6eb58f-be2b-4f7f-aa58-0c7e197c16e2.png">

I did get the heap file.

[2022-04-19 16:03] kirbsauce commented on #1163
@DanTulovsky , thanks for the question!  Apologies for the inconvenience.  If there are any other logs which you have a concern with please let us know.  Slack and/or support@kubecost.com are also great ways to pose these questions.  Slack is especially useful as it gives more exposure to our large community there.  Thanks for using kubecost!

[2022-04-19 16:05] AjayTripathy commented on #1165
Hi @DanTulovsky , thanks for this report. I have a couple different theories:
1. What's the timeout between your ingress and kubecost? a 30s profile failing seems like it might be timing out.
2. If that's > 30s were there any restarts of the cost-analyzer-server pod?
3. Is this a standard installation of kubecost with the helm chart or are you using a byo-prometheus setup? If the latter, this page

[2022-04-19 16:13] keithhand commented on #1161
Hi @DanTulovsky, I believe this is because there isn't a custom pricing option for this specific StorageClass, and it is mainly a notification to let you know that object will use a default pricing model. However, I'm not 100% certain of that. Let me tag @nealormsbee to see if he is more familiar with this.

[2022-04-19 16:29] AjayTripathy commented on #1164
@kaelanspatel is working on exactly that! We'll be computing this data from our ETL cache of prometheus metrics starting in v1.93

[2022-04-19 16:30] dwbrown2 commented on #1164
However, when recording rules are available this should be reasonably fast on most clusters... something else may be going on here.

[2022-04-19 16:32] AjayTripathy commented on #1164
Yeah, if recording rules are available I tend to agree-- couple more notes on slowness here: https://github.com/kubecost/cost-model/issues/1165#issuecomment-1102830786

[2022-04-19 16:36] AjayTripathy commented on #1167
@DanTulovsky , love the enthusiasm and thank you for the issues! There's probably some sort of root cause of all of these we're missing without more insight into your cluster setup and slack would be best to figure it out since we may need private data about your cluster setup.

[2022-04-19 16:43] dwbrown2 commented on #511
@DanTulovsky thanks for sharing, let us take a look. Are there particular node classes that are not a fit? For example, would you not use e2 because they are shared-core?

[2022-04-19 17:01] DanTulovsky commented on #511
Exactly!  I don't have any other examples though.

On Tue, Apr 19, 2022 at 12:43 PM Webb Brown ***@***.***> wrote:

[2022-04-19 17:26] DanTulovsky commented on #1165
1.  I was just realizing this might be an issue :)  It was 30 seconds, I updated it to 120s and now I can get a profile.
2. No, no restarts of the cost anayzer or prometheus pods.
3. This is the standard helm chart install with the prometheus brought up by the chart.

[2022-04-19 17:29] DanTulovsky commented on #1165
I just posted the profile to slack: https://kubecost.slack.com/archives/CLFV60Y90/p1650389363028399

thank you!

[2022-04-19 17:35] michaelmdresser commented on #1165
I'm fairly certain the repeated 404 on `/cluster/status` isn't an indicator of the core of Kubecost failing -- I think the cluster sizing page checks that endpoint to see if the cluster controller is enabled for 1-click cluster sizing.

@kaelanspatel is the one who showed this behavior to me. Kaelan, does this description match what you were experiencing?

[2022-04-19 17:41] DanTulovsky commented on #1165
With the change to the ingress timeout to 120s (instead of 120) the page now loads, although it's not very fast.  It takes 2 min.. although maybe that's not slow :)

Caching this would be great.

Thank you all for your help!  Please feel free to close this, unless there is anything else I can provide here...

[2022-04-19 17:42] DanTulovsky commented on #1167
I think this is an actual bug though.  At least it's still broken with the increased ingress timeout. It fails within a few seconds of going to the page.

[2022-04-19 17:43] DanTulovsky commented on #1164
How fast is reasonably fast? It seems to take 2 min right now..

[2022-04-19 17:44] DanTulovsky commented on #1161
Ok, I just wanted to make sure this doesn't mean that these PDs are being ignored...

[2022-04-19 17:44] michaelmdresser commented on #1165
The cluster sizing recommendation should load much faster in the next release of Kubecost. We've made substantial improvements to the backing API. Give it a try when it comes out, and let us know if its still unreasonably slow!

[2022-04-19 18:11] kaelanspatel commented on #1165
@michaelmdresser Yes that's the behavior I was talking about. I've increased the interval to a minute to reduce some of the spam, but the 404 doesn't effect functionality in any way.

[2022-04-19 19:03] nealormsbee commented on #1161
@DanTulovsky @keithhand you're right on. The GCP cloud billing API didn't return custom pricing data for that storage. It won't be ignored; it will be priced using default storage pricing.

[2022-04-19 19:07] keithhand commented on #1161
Perfect; thank you for the clarification, Neal! I will close this out as it seems we have figured out the root issue.

[2022-04-19 19:07] #1161 closed, assigned to nobody

[2022-04-19 19:08] DanTulovsky commented on #1161
And that pricing is presumably based on the type?

parameters:
  type: pd-balanced

On Tue, Apr 19, 2022 at 3:03 PM Neal Ormsbee ***@***.***>
wrote:

[2022-04-19 19:45] keithhand commented on #1161
It gets based on a concatenation of the region and that type (us-central1,pd-balanced), but that will be the main factor.

[2022-04-19 22:30] #1165 closed, assigned to nobody

[2022-04-19 22:32] dramich opened #1170 "Replace klog with a new logging library"
This issue is to gather feedback on a replacements for klog

Currently klog presents us with some challenges:

1. The way it parses args [see here](https://github.com/kubecost/cost-model/issues/1122#issuecomment-1072622457)
2. It's slow (this is known and part of the reason k8s is moving to structured logging backed by zap)

Proposed solution:
1. Update our log package to use this new library and

[2022-04-20 13:34] michaelmdresser commented on #1170
I'm on board! A couple of questions:

1. Do we need `logr`? I'm not familiar with the library or where we would apply it.

2. Since zerolog supports structured logging, do you have any recommendations for what fields to log and when?

[2022-04-20 14:00] AjayTripathy commented on #1167
Thanks @DanTulovsky . We haven't been able to repro but will get this triaged and looked at.

[2022-04-20 14:52] dwbrown2 commented on #1170
Not sure what the lift is here, but would this be a good potential addition for 1.94?

[2022-04-20 14:53] DanTulovsky commented on #1167
The error seems to be from this request:

Request URL: https://kubecost.public.lightstep.io/model/savings/spotChecklistClusterSizing?minOnDemandNodeCount=2&minSpotNodeCount=3&targetUtilization=0.9&allowSharedCore=true&window=1d

which returns a 503 with: error creating spot-ready workload
distributions: failed to create any WorkloadDistributions for
AllocationSetRange

On Wed, Apr 20, 2022 at 10:0

[2022-04-20 14:56] dwbrown2 commented on #1167
@michaelmdresser is likely the most familiar here

[2022-04-20 15:25] dwbrown2 commented on #1122
@AjayTripathy is that particular log worth de-duping or handling differently?

[2022-04-20 15:26] dwbrown2 commented on #1162
Thanks for the report, Dan! cc @AdamStack18 to add to 1.93 release.

[2022-04-20 15:58] dramich opened #1171 "ETL misconfiguration can cause millions of logs"
This is a new issue based off the discussion https://github.com/kubecost/cost-model/issues/1122#issuecomment-1102790936
[code]

[2022-04-20 16:02] dramich commented on #1122
@pzimno I opened a new [issue](https://github.com/kubecost/cost-model/issues/1171) to keep track of this as I don't think it falls under the original issue or the fix added for said issue. If you have more details, like what was misconfigured, please add them to the new issue.

@dwbrown2 This sounds like we something we should at least look into if it caused millions of logs

[2022-04-20 16:16] dwbrown2 commented on #1164
I would call < 15 seconds reasonably performant. Sounds like we have a major improvement here.

[2022-04-20 16:37] michaelmdresser commented on #1167
Hi @DanTulovsky, thanks for the clear report! This is a bug in our frontend error handling. We'll get to work on a fix.

[2022-04-20 17:43] kbrwn commented on #1153
We have received this feedback in a customer call: "The savings tool is not useful to teams who have specific resource utilization targets that do not match the default. Having hardcoded numbers on this page is too simplistic an I feel that my engineering/devops teams will not take the recommendations seriously without the ability to provide a custom profile"

[2022-04-21 08:50] gkaskonas commented on #1145
Hi, I was away on a holiday for the past couple of weeks. I will get back to you as soon as I can.

[2022-04-21 12:05] gkaskonas commented on #1145
![image](https://user-images.githubusercontent.com/57504623/164454391-5b5a8fd6-02c0-443b-b3fe-d57d7f7a959b.png)

This is the price of the volume in 1 day (01/04/2022)

[2022-04-25 10:18] pierluigilenoci commented on #1170
Klog also has another major problem: https://github.com/kubernetes/klog/issues/212

[2022-04-25 10:22] pierluigilenoci commented on #1107
@AjayTripathy any update?

[2022-04-25 17:33] michaelmdresser commented on #1167
We've merged a change that will prevent the UI from fully crashing, it will be part of the next release.

There's still an outstanding problem with the `/spotChecklistClusterSizing` API: we shouldn't be getting a 500. I've been able to reproduce this in dev environments with the latest code. @dwbrown2 / @AdamStack18 I don't have bandwidth this week, just wanted to raise visibility that there's som

[2022-04-25 20:48] dramich commented on #1139
Hey @rumstead, this can be addressed by setting the no_proxy value to a CIDR notation for your cluster network range. This usually defaults to `10.43. 0.0/16` but depends on how you provisioned your cluster, the provider and if it was overridden when the cluster was created. If you are unsure [this answer](https://stackoverflow.com/a/61685899) has a reliable way to see what your CIDR is.

Usually,

[2022-04-25 22:20] dwbrown2 commented on #1167
@michaelmdresser what's the cause of the 500? Should we have someone else run with this if you can't fix for this release?

[2022-04-26 00:13] rumstead commented on #1139
Yup that will definitely work. If you have clusters that span different cloud providers and have some onprem, that CIDR range isn't always the same. It results in many `value.yaml` overrides.

Completely agree, the PR respects whatever additional `NO_PROXY` is set.

Makes sense

[2022-04-26 13:45] michaelmdresser commented on #1167
I don't know the cause. If there's time next week, I might be able to pick this up, otherwise someone else will have to take it (I'm always happy to provide support here).

[2022-04-26 19:07] dramich commented on #1139
It would be 1 per cluster being deployed into, yes. If you are rolling through clusters that often I would hope there is some automation behind cluster creation/deletion.

Does this work for your use case? If so can we close this issue?

[2022-04-26 20:18] AjayTripathy commented on #1145
Hi @gkaskonas just want to note one possibility-- though I'm not sure it's the issue. I see no "Adjustment" figure in the kubecost report, which means the data wasn't available in the AWS CUR. AWS CUR data can lag by up to two days. Can I see a single disk cost for 1d from >48h ago?

[2022-04-27 00:46] rumstead commented on #1139
Gitops and capi is our automation 🙂

[2022-04-27 00:46] #1139 closed, assigned to nobody

[2022-04-27 15:38] AjayTripathy commented on #1107
Hi @pierluigilenoci this is still on our backlog, no updates at this time.

[2022-04-27 20:31] MrColeC commented on #264
We are interested in the entire list @kbrwn posted, with a focus on:

- histogram metric for frontend response times and request
- histogram metric for API response times and request
- histogram metric for etl build times
- histogram metric for etl file sizes
- gauge metric for # of green etl days
- gauge metric for # of NON-green etl days

[2022-04-27 23:22] dwbrown2 commented on #264
This is great, thanks for sharing @MrColeC! We have this on the docket for our upcoming release (1.94). We'll start to review next week and will find owners soon after.

cc @AdamStack18

[2022-04-28 07:50] gkaskonas commented on #1145
@AjayTripathy You want this from kubecost report?
![image](https://user-images.githubusercontent.com/57504623/165701353-1560ed62-e2f3-48b2-b942-79978f1a2741.png)
Here is a report for the disk over 7 days.
In Cost explorer the same volume is $92.66 over 7 days

[2022-04-28 07:51] serakis opened #1182 "Inspect external cost url faulty, missing path in url"
Hi

We have deployed kubecost to our cluster where we have configured AWS resources as external costs using tags which is working great. We can se an overview for each tag and filter them in **Assets** and everything is fine.

However what we want is to get an overview of both kubernetes cost and AWS cost based on the same tag. We follow you guide https://guide.kubecost.com/hc/en-us/articles/44075

[2022-04-28 14:21] SapientGuardian opened #1183 "AWS ALB cross-zone traffic should be classified as in-zone"
Per https://aws.amazon.com/elasticloadbalancing/faqs/

I have my VPC subnets configured under `direct-classification` to ensure that traffic outside of the cluster is properly tagged. This works as advertised, but cross-zone ALB traffic is an exception and should be charged as in-zone. The incorrect classification of this traffic for high-bandwidth services inflates their cost by thousands of doll

[2022-04-28 16:20] keithhand commented on #1183
Hello @SapientGuardian, thank you for submitting this! I will tag our product team to get some more eyes on this request.

[2022-04-28 16:31] dwbrown2 commented on #1183
Thanks for the report, @SapientGuardian! @mbolt35 would love to get your input here while I review this week.

One thing to point out is that AWS cost reconciliation would account for this and revise estimates downwards as soon as your bill is available. Are you seeing this behavior @SapientGuardian?

[2022-04-28 16:42] jcharcalla commented on #1182
@serakis Which version of Kubecost are you currently running?

Additionally have you modified the root url to `xx.yy.zz.com/kubernetes/` at the [ingress](https://github.com/kubecost/docs/blob/master/ingress-examples.md#non-root-path-example)?

[2022-04-28 17:07] SapientGuardian commented on #1183
I'm in an unusual situation in which I actually _want_ estimates based on retail prices rather than what's in our AWS bill. To that end, I have not hooked up kube-cost to our cost and usage report.

Without going into too many details, the company I work for has us budget to the _retail_ cost of AWS services even though we have discounted pricing and things like reserved instances. We also have ou

[2022-04-29 06:31] serakis commented on #1182
@jcharcalla

Current version that we use is 1.92.0.
Yes we have modified the ingress. Ingress configuration (short): host = xx.yy.zz.com/ and path = /kubecost.

Ingress configuration:
[code]
Anything wrong with the ingress?

[2022-04-29 06:48] AjayTripathy commented on #1182
@kaelanspatel is it possible this isn't using the relative URL? Mind taking a quick look?

[2022-04-29 06:57] AjayTripathy commented on #1145
Hi @gkaskonas what would be most useful is looking at a single PV for a single day older than 48h on the assets page with the adjustment column, and that same PV in the cost explorer for the same day. You can find that PV in kubecost by going to Assets > Kubernetes > Disks and modifying the window as well as filtering by a relevant provider ID.

[2022-04-29 08:45] gkaskonas commented on #1145
These PVs are months old and no adjustments have been made.
Like I said, I did not configure CUR integration so Kubecost is most likely misreporting the fact that it can read CUR reports

[2022-04-29 11:17] serakis opened #1186 "Cost allocation based on label/tags dos not work"
In our cluster we have kubernetes labels and AWS resources tags (like s3). The goal is to get an overview of both k8s cost an AWS cost for a certain product using labels and tags but also review deeper in AWS and k8s which parts that cost money for a certain product.

We followed the guide https://guide.kubecost.com/hc/en-us/articles/4407596810519-AWS-Out-of-Cluster- and set in General settings **

[2022-04-29 11:57] jonerer commented on #1186
+1 To this.

For the view "external costs", it should be noted that using the kubernetes-concept-bound things like "cluster"/"namespace"/"deployment" **works**. In the case of namespace, it adds "kubernetes_" so it's "kubernetes_namespace", which is what the documentation tells us to tag AWS resources with. And it works for both "cost allocation" and "external resources" page.

When it comes to th

[2022-04-29 17:50] kirbsauce commented on #1186
Thanks for all the hard work, @serakis!  We'll have a look!

[2022-04-29 19:33] kaelanspatel commented on #1182
@serakis

Just to be clear, when you click the three dots and hit "inspect external costs", it takes you to `xx.yy.zz.com/external.html?env=...`, which 404s, but when you put in the correct `xx.yy.zz.com/kubecost/external.html` path it properly brings you to assets.html?

[2022-04-29 21:37] serakis commented on #1182
Yes !
When I put the correct path
`xx.yy.zz.com/kubecost/external.html`
it will bring me to **Assets** with a filter that is filtering on the AWS resource tag.

Just FYI:
The filter works for tags like kubernetes_namespace, kubernetes_deployment etc bur not for kubernetes_label_name. That is another github issue that I wrote.
https://github.com/kubecost/cost-model/issues/1186

[2022-05-02 15:41] AjayTripathy commented on #1145
Thanks @gkaskonas ... I'll look into the reason for the misconfiguration. We would basically expect that these prices would not be accurate without configuring the cost and usage report-- our recommendation for accurate pricing for your gp3 volumes would be to integrate the CUR.

[2022-05-02 16:28] #1162 closed, assigned to kaelanspatel

[2022-05-02 21:49] ivankube commented on #1109
@maxime-sourdin it sounds like you can theoretically make custom pricing work with flavors. Thus, I'm going to close this issue. Please feel free to re-open if you'll face any issues.

[2022-05-02 21:49] #1109 closed, assigned to nobody

[2022-05-03 16:28] AjayTripathy opened #1190 "CUR integration shows green check mark despite integration not being set"
see https://github.com/kubecost/cost-model/issues/1145#issuecomment-1092487546

The correct behavior is to clearly show the CUR as unintegrated when it's not set up-- cc @gkaskonas

[2022-05-03 16:28] AjayTripathy commented on #1145
To be clear-- could you set up the CUR and let me know if the issue still persists for disk costs > 48h old with reconciliation data? On our side we're investigating why the the diagnostics appear to be wrong for you. https://github.com/kubecost/cost-model/issues/1190

[2022-05-03 20:35] michaelmdresser commented on #1170
I believe this has been addressed in https://github.com/kubecost/cost-model/pull/1178. I'm going to close this issue -- feel free to reopen if needed.

[2022-05-03 20:35] #1170 closed, assigned to dramich

[2022-05-03 20:37] michaelmdresser commented on #150
I believe we support GPUs well now. Feel free to reopen if that isn't the case.

[2022-05-03 20:37] #150 closed

[2022-05-03 20:40] michaelmdresser commented on #395
Hi @hadim and @alexec, I'm going to close this issue because it appears to have been addressed. The aggregated cost model API has been deprecated for a while in favor of the Allocation API. You can find the documentation [here](https://guide.kubecost.com/hc/en-us/articles/4407595916823-Allocation-API). It includes support for aggregating by label, as does the latest Kubecost frontend.

[2022-05-03 20:40] #395 closed

[2022-05-03 20:41] michaelmdresser commented on #433
Hi @robertgates55, I'm going to close this issue due to its age. If you're still using Kubecost and would like to talk further about this feature, feel free to reopen.

[2022-05-03 20:41] #433 closed

[2022-05-03 20:41] michaelmdresser commented on #437
The cost analyzer checks pod has been deprecated for a while, so this should no longer be an issue. Let us know if you're still experiencing problems.

[2022-05-03 20:41] #437 closed

[2022-05-03 20:41] michaelmdresser commented on #473
@AjayTripathy do you know if this is still a problem?

[2022-05-03 20:44] michaelmdresser commented on #565
This issue looks like its been addressed. If you'd still like to discuss this functionality, feel free to reopen this issue!

[2022-05-03 20:44] #565 closed

[2022-05-03 20:46] michaelmdresser commented on #582
We've made recent changes to Grafana configuration management in our Helm chart repo https://github.com/kubecost/cost-analyzer-helm-chart that addressed some outstanding issues, so I'm going to close this.

@CookieMonster70 if you're still having troubles, please feel free to reopen this issue!

[2022-05-03 20:46] #582 closed

[2022-05-03 20:48] michaelmdresser commented on #652
Closing this issue due to age. @daganida88 if you're still experiencing scale problems with Kubecost's APIs in the latest version of Kubecost, please feel free to reach out to us or reopen this issue!

[2022-05-03 20:48] #652 closed

[2022-05-03 20:49] michaelmdresser commented on #680
Closing this issue due to age. @adi0509 if you'd like to discuss this use-case more, please feel free to reopen or reach out to us directly via email or our Slack.

[2022-05-03 20:49] #680 closed

[2022-05-03 20:53] michaelmdresser commented on #784
@AjayTripathy do you know what the status of this is? Have we made progress? Just trying to keep everything up-to-date :smile:

[2022-05-03 20:56] michaelmdresser commented on #737
We believe this issue has been addressed with the latest work on Alerts. See https://guide.kubecost.com/hc/en-us/articles/4407601796759-Alerts-Documentation#type-budget for the official documentation.

[2022-05-03 20:56] #737 closed

[2022-05-04 22:54] Adam-Stack-PM commented on #991
@kaelanspatel Can we close this out? My understanding is that https://github.com/kubecost/cost-model/pull/1131 fixed it.

[2022-05-04 23:08] kaelanspatel commented on #991
Yes, should be fine to close it.

[2022-05-05 04:15] dwbrown2 commented on #1153
Hoping to have this reviewed in next release! I think it fits nicely with the work being done there.

[2022-05-05 13:04] #991 closed

[2022-05-06 02:42] kaelanspatel commented on #1182
@serakis thanks for the report both for this URL bug and the filter once it redirects.

The Inspect External Costs functionality in Cost Allocation will be removed in the upcoming release of `v1.93`, as Cost Allocation will no longer display external costs directly. To view these costs in `v1.93` you can will need to go to the Assets page directly.

Alternatively, you can use the new beta Advanced

[2022-05-06 02:42] #1182 closed, assigned to kaelanspatel

[2022-05-06 02:42] kaelanspatel commented on #1186
There are definitely issues with the current redirect, thanks for the reports guys.

@serakis posted this in your other issue https://github.com/kubecost/cost-model/issues/1182 but will post here as well for clarity. As detailed below, both the Inspect External Costs functionality and the attached `external.html` will be deprecated in the next version.

[2022-05-06 02:42] #1186 closed, assigned to nobody

[2022-05-06 05:28] jonerer commented on #1186
Thanks for the response @kaelanspatel . But ngl that's a real bummer. Being able to easily correlate external costs with products we run on kubernetes is like 50% of the reason we use kubecost.

Well check out the advanced reporting feature thanks.  Is there somewhere we can see the future timeline for the kubecost service so we can avoid spending time to support something that's going to be remov

[2022-05-06 07:06] AjayTripathy commented on #1186
External pricing correlation is not deprecated @jonerer ! We're just moving it to a new advanced reporting feature in v1.93 at the same time the new component is introduced.

[2022-05-06 07:48] AjayTripathy commented on #784
No progress but still something we want to do...

[2022-05-06 07:59] AjayTripathy commented on #473
Yes, it still is.

[2022-05-06 14:58] #1167 closed, assigned to michaelmdresser

[2022-05-07 06:41] gkaskonas commented on #1145
I will let you know once the CUR integration is set up

[2022-05-09 12:06] michaelmdresser commented on #1167
Hi @DanTulovsky, this issue should be resolved in our upcoming release!

[2022-05-09 18:29] mbolt35 commented on #1183
@SapientGuardian Thanks for the report. Because the network-costs pods do not use any provider specific code, it's not currently an option for the implementation to hook in the ALB IPs, but it does seem feasible to create a config that uses direct classification for LBs queried manually. The AWS docs provide details how to locate the ALB IPs:

[code]
Replace **elb-name** with one of the following:

[2022-05-09 19:45] SapientGuardian commented on #1183
Within our VPC we have multiple subnets, spread across availability zones (for simplicity, let's say we have one subnet in us-west-2a and one subnet in us-west-2b).

* Kubernetes nodes exist in both subnets, and the classification of traffic between services on these nodes happens automatically because the nodes are labeled/annotated .
* We have services outside of Kubernetes which also exist in t

[2022-05-09 22:24] mbolt35 commented on #1183
Thanks for providing the details here, this all make sense. Going to discuss this with the team and see what we can come up with.

I know this approach is not optimal, and I do think it's possible for an ALB to update its internal IP (based on the same docs I linked). We're currently investigating live configmap updates for network-costs, and while this doesn't fully resolve the problem, perhaps i

[2022-05-10 12:06] SapientGuardian commented on #1183
Yes, I could certainly rig up a cron job to periodically get the latest set of ALB IPs and put them in a configmap.

[2022-05-11 17:41] kirbsauce commented on #991
Hi @Suchitpandya1.  This issue has been addressed in 1.93.  Looking forward to your feedback when you have a chance to upgrade!

[2022-05-11 17:43] AjayTripathy commented on #991
A Flag is needed to turn this on right @kaelanspatel ? Where is that documented/can we attach that doc to this bug?

[2022-05-12 10:50] aslafy-z opened #1204 "Exclude nodes"
I have some nodes that are underutilized "by-design", these are labeled specifically. Is there a way I could exclude them from the kubecost UI / reports?

gz#1802<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/1802'>Zendesk ticket #1802</a>)</i>

[2022-05-12 13:41] kirbsauce commented on #1204
Hi @aslafy-z , thanks for the enhancement request!  We have something similar here-> https://github.com/kubecost/cost-analyzer-helm-chart/issues/1017 which could probably be broadened to include nodes and other k8s objects.

[2022-05-12 17:22] dwbrown2 commented on #1204
@aslafy-z thanks for sending! can you share more about your situation/goals and what reports you're looking to exclude these assets from?

[2022-05-12 23:28] Adam-Stack-PM commented on #400
I am closing out the issue because of age. Please re-open if needed.

[2022-05-12 23:28] #400 closed

[2022-05-13 19:24] Adam-Stack-PM commented on #1150
@teevans @wolfeaustin  Based on Ajay's last note wanted to get this on your radar for advanced reports.

[2022-05-13 19:26] dwbrown2 commented on #1150
I could be misguided, but I feel like the backend should handle this is some capacity and not push to FE reporting... e.g. when you add a cloud provider integration we should know what provider, account, project that cluster is in.

[2022-05-13 21:02] AjayTripathy commented on #1150
So I think the core question we're trying to answer here is: What are all the pods (or other k8s aggregations) in a particular AWS account?

You can already script an answer to this question out of our APIs; on Assets API, filter nodes by accountID, then take all those nodes and plug them in as filters to the Allocations API. This feels like manipulation of two separate concerns (Cloud data and K8

[2022-05-13 22:28] teevans commented on #1150
So this makes sense - The only question I would ask is what is the cost of executing these queries on the front end in terms of response time, vs us building this query into the BE?

[2022-05-16 08:36] MohamedTalhaoui commented on #1125
Hi,
sorry for the late feedback.
Root cause was that we have VPC Service controls enabled and use restricted google access that only allow Google services supporting VPC SC. Full explanation here:
https://cloud.google.com/vpc-service-controls/docs/private-connectivity#:~:text=Private%20Google%20Access%20offers%20private,control%20access%20to%20protected%20resources.

I worked with our network team

[2022-05-16 08:36] #1125 closed, assigned to nealormsbee, biancaburtoiu

[2022-05-16 19:57] kaelanspatel commented on #991
That's correct, this bug was solved by [adding a flag](https://github.com/kubecost/cost-analyzer-helm-chart/pull/1327) `.Values.kubecostProductConfigs.ingestPodUID` that toggles appending pod UID from KSM metrics to the podname field in Allocations, so that pods with the same name can be uniquely identified.

[2022-05-16 21:36] kirbsauce commented on #991
@Suchitpandya1 , sorry for any confusion.  As @kaelanspatel mentioned above, you'll need to set the `.Values.kubecostProductConfigs.ingestPodUID` flag.  Looking forward to your feedback!

[2022-05-19 17:41] kbrwn opened #1215 "Outlier detection appears to be causing pricing inaccuracy"
Instance type = SPOT ec2 m5.16xlarge
AWS  = 15.70675
Kubecost = 0.158

Kubecost API:

[code]

Logs repeated in bug report:

[code]

Codeblock: https://github.com/kubecost/cost-model/blob/v1.93.1/pkg/costmodel/metrics.go#L532-L549

@nealormsbee Mentioned this logic was perhaps related and maybe should be removed.

[2022-05-23 07:40] airmonitor opened #1217 "No spot instances detected"
Hello Team,

I would like to ask what could be the reason for not recognizing spot nodes?

I'm using kubecost v1.93.1
S3 bucket with spot reports configured (Spot Data Feed data available)
Although I'm getting (No spot instances detected)

Our nodes are labeled - eks.amazonaws.com/capacityType=SPOT

The configuration on the kubecost follows the documentation, in the update spot feed configuration

[2022-05-23 17:14] jcharcalla commented on #1217
Happy to help you with this.

The combination of "Spot Data Feed data available" and "No spot instances detected" visible in the settings page indicates that Kubecost is able to access the S3 bucket but has not found any spot data. This could occur if a "Prefix" was used when configuring the spot data feed which was not reflected in the `awsSpotDataPrefix` Kubecost helm option or the bucket used i

[2022-05-23 19:48] AjayTripathy commented on #1215
Can we get a little more information (maybe in the logs, maybe asking the user) about the magnitude of the data point before making a final decision here?

[2022-05-23 21:00] Sean-Holcomb opened #1220 "Azure LB pricing is inaccurate"
Azure Load Balancer pricing is determined on a per SVC basis with pricing from this [page](https://azure.microsoft.com/en-us/pricing/details/load-balancer/). This is implemented [here](https://github.com/kubecost/cost-model/blob/3582bc7238d434254a972704cb17ec649c91fa01/pkg/cloud/azureprovider.go#L1066). However Load Balancer services in Kubernetes actually correspond to "Microsoft.Network/publicIP

[2022-05-24 18:14] zorrobyte commented on #1220
Relevant case for tracking: https://kubecost.zendesk.com/agent/tickets/1659

[2022-05-24 19:37] rcallphin opened #1223 "Make namespace annotations/labels available when aggregating by namespace"
When using the allocations API you should be able to aggregate by namespace and specify explicitly the annotations/labels you want to be included in the properties field. Today, you can pull in annotations only if you specifically ask to aggregate by the annotation. The reason for this is the possibility for these values to conflict with more granular level objects like pods.  The feature request

[2022-05-24 19:50] AjayTripathy commented on #1223
Thanks for filing this @rcallphin . Historically our precedence model for labeling has been that conflicts are resolved from most specific (pod) to least specific (namespace). But the usecase makes sense here. We may want to make precedence configurable, and additionally add the labels to the aggregation.

[2022-05-25 10:21] hgranillo commented on #518
EDIT: After re reading my entire post I've realized my mistake. I wrongly named the region in the direct-classification map as "us-east1" instead of "us-east-1" :man_facepalming:

I will leave my post here as an example

---------------------
Hi Kubecost team, I'm also facing a similar case where some of my IP CIDR are not getting classified correctly and it seems that is tied to when the traffic

[2022-05-25 16:39] airmonitor commented on #1217
Thx for reply.

I'm puzzled now...

The pod is using SA with the below permissions
[code]
The bucket is encrypted using KMS, although IAM role for SA was added to KMS resource policy with the below rights:
[code]
But still getting the same issue.

[2022-05-25 17:54] AjayTripathy commented on #1217
Hi @airmonitor are there files in the bucket? If so, there should be a resource ID in format "i-something" available. If you filter by that string as a "ProviderID" in kubecost's /assets.html , does a node with that ID exist?

[2022-05-25 19:21] dwbrown2 opened #1224 "Announcement: repo included in CNCF Submission!"
Kubecost has submitted this project to the Cloud Native Computing Foundation (CNCF) for onboarding under the new “OpenCost” effort. We are currently in the queue for review, and we’re excited to share updates on this mission as they develop.

From the start, our goal has been to enable teams using Kubernetes to operate with a single model for measuring and managing cost across all of their environ

[2022-05-27 09:28] airmonitor commented on #1217
Hello.

Our bucket contains those files (created by AWS)

[code]

Although in the logs of cost-model I can see that it's unable to assume a role through the AssumeRoleWithWebIdentity

`WRN unable to get addresses: operation error EC2: DescribeAddresses, failed to sign request: failed to retrieve credentials: failed to refresh cached credentials, failed to retrieve credentials, operation error STS:

[2022-05-27 15:54] jcharcalla commented on #1217
I agree, it appears Kubecost is unable to assume the correct role.

Looking at this portion of the error message. `No OpenIDConnect provider found in your account for https://oidc.eks.eu-west-2.amazonaws.com/id/8175BB95BF8BEEDA432DDA4146DAD965` it's possible you are missing a IAM OIDC provider for the issuer URL of your EKS cluster or have entered a invalid URL.

Please refer to this AWS guide [Cr

[2022-05-30 06:53] TomaszSzusterTR commented on #1217
I think I have OIDC. It was created automatically during creation of EKS cluster.
As I mentioned earlier, we are using already PODs with Service Account linked to IAM role and those are successfully assuming necessary permissions.

I've redacted the full output from the command

[code]

From the above, you can notice that we see section identity.oidc.issuer.

The AWS Console for our cluster is pre

[2022-05-31 16:00] gkaskonas opened #1227 "SYNTAX_ERROR: line 4:25: Column 'line_item_usage_start_date' cannot be resolved"
I am trying to set up CUR integration with kubecost but keep getting this error in athena.

Has anyone encountered this before?

`SYNTAX_ERROR: line 4:25: Column 'line_item_usage_start_date' cannot be resolved`
gz#1895<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/1895'>Zendesk ticket #1895</a>)</i>

[2022-05-31 16:15] #1227 closed, assigned to nobody

[2022-05-31 16:15] gkaskonas commented on #1227
This was simply bad configuration

[2022-05-31 16:53] jcharcalla commented on #1217
I do not think this is due to the `BoundServiceAccountToken`. My understanding is with EKS there is only a warning after the 1hr mark after which the [extended expiry period of 90 days](https://docs.aws.amazon.com/eks/latest/userguide/service-accounts.html) would allow it to continue to function. We do have an open [Github Issue 1428](https://github.com/kubecost/cost-analyzer-helm-chart/issues/142

[2022-06-02 01:05] mark6969 opened #1231 "ask build question"
Hi i want ask some question
when i try build kubecost with this code
![圖片](https://user-images.githubusercontent.com/36353259/171523714-63a43135-2276-4465-80fb-44bdbe55debc.png)
will show this error
![圖片](https://user-images.githubusercontent.com/36353259/171524058-42c34faa-dac4-4cf2-b40a-57d61cc70a49.png)
if i change my code like this
![圖片](https://user-images.githubusercontent.com/36353259/17152

[2022-06-02 15:57] ivankube commented on #1231
You can either remove podSecurityPolicy or use podSecurityPolicy=false when running helm install.

[2022-06-02 23:11] AjayTripathy commented on #1231
Hi @mark6969 it actually looks like the pod is pending because of this:
[code]

It's likely the backing persistent volume didn't get properly provisioned. Do you automatically provision volumes based on persistent volume claims? If not you'll need to manually provision one. Here's a general article that can help support. https://stackoverflow.com/questions/52668938/pod-has-unbound-persistentvolume

[2022-06-02 23:23] mark6969 commented on #1231
i will try your suggestions thanks

[2022-06-03 09:02] airmonitor commented on #1217
Hello @jcharcalla

I was able to get all files from S3 bucket using the below procedure

1. Created POD using the below manifest

[code]
2. Ran commands inside POD:
[code]

My initial test was completed successfully via using the Service Account mapped to the IAM role.
This confirms that OIDC is firmly attached to K8s cluster and we can assume a role via it to IAM.

I'm wondering about your findin

[2022-06-03 23:15] jcharcalla commented on #1217
@airmonitor

Did you use the same service account in the above test? I see that you have it defined as `kubecost-sa` in the Trust policy and SA definition of your earlier post. The default service account for the cost-analyzer pod is `kubecost-cost-analyzer`. This looks to be generated by the [__helpers.tpl](https://github.com/kubecost/cost-analyzer-helm-chart/blob/5871b084d3ce960b6b8e8cc5abe85774

[2022-06-04 18:51] airmonitor commented on #1217
Hello.

Yup, I've used the same SA in my test.

I can pinpoint the name of SA for cost analyzer using the below helm chart values

[code]

[2022-06-06 17:18] jcharcalla commented on #1217
I must have overlooked that, I will test using a different service account.

Are you still seeing the `InvalidIdentityToken: No OpenIDConnect provider found in your account` error in your logs?

[2022-06-06 18:08] TomaszSzusterTR commented on #1217
Hey.

Nothing has changed, did you release a new version perhaps?

```unable to get addresses: operation error EC2: DescribeAddresses, failed to sign request: failed to retrieve credentials: failed to refresh cached credentials, failed to retrieve credentials, operation error STS: AssumeRoleWithWebIdentity, exceeded maximum number of attempts, 3, https response error StatusCode: 400```

The kubeco

[2022-06-07 00:30] jcharcalla commented on #1217
We have a new [RC](https://github.com/kubecost/cost-analyzer-helm-chart/releases) available but you would have to specifically request that version in your helm install command. It's possible the logs rotated and the original error is no longer visible.

It appears you are still getting the `STS: AssumeRoleWithWebIdentity` message which makes me believe the issue is still somehow related to the IA

[2022-06-07 10:20] TomaszSzusterTR commented on #1217
Hello Jason.

[code]
yes, there is " at the end :)

As I mentioned I was able to assume this role using an ubuntu container with a custom pod definition :)

Listing s3 and even copying data from it completed successfully.

Although I'm wondering why kubecost pod is requiring different permissions than accessing s3, example:

- EC2: DescribeAddresses
- EC2: DescribeVolumes

I've added those permiss

[2022-06-07 18:17] jcharcalla commented on #1217
Your trust policy looks correct. To trouble shoot this further would you able to send a [bug report](https://github.com/kubecost/docs/blob/main/bug-report.md) to [support@kubecost.com](mailto:support@kubecost.com).

The `unable to get addresses:` error is typically due to the kubecost fetching addresses from [all AWS regions](https://github.com/kubecost/opencost/blob/73c33bf0edc2baef68efcdb6954e90

[2022-06-07 19:18] AjayTripathy opened #1244 "ETL Accumulation Drops all Node Labels when Labels Differ or are Missing"
Some sample queries:
http://adec8d82f7a954efb8616d9820350e32-74ed9b7b0cfc2502.elb.us-east-2.amazonaws.com:9090/model/assets?window=2022-05-29T00%3A00%3A00Z%2C2022-06-08T00%3A00%3A00Z&aggregate=&accumulate=false&filterServices=Kubernetes&filterTypes=Node&filterNames=ip-172-31-6-46.us-west-1.compute.internal
vs
http://adec8d82f7a954efb8616d9820350e32-74ed9b7b0cfc2502.elb.us-east-2.amazonaws.com:9090

[2022-06-07 19:27] mbolt35 commented on #1244
@nikovacevic Possible this is due to the deferral of Accumulation that I added to the ETL handler, or do you think it's the accumulation function itself?

[2022-06-07 20:04] nikovacevic commented on #1244
Sounds like this is WAI. The behavior for adding two assets is:  attempt to merge their labels by retaining only those labels that are common to both label sets. (See `func (al AssetLabels) Merge(that AssetLabels) AssetLabels`.)

The only "problem" I see here is that labels are missing for some window in the range, so when you add anything with that label-less thing, by definition no labels will b

[2022-06-07 20:07] nikovacevic commented on #1244
To address your four points directly:

1. Yes. See `ClusterNodes` function.
[code]
2. Not easily, and I would not recommend that.
3. I would not recommend that.
4. I do not think the behavior is wrong.

[2022-06-07 20:37] AjayTripathy commented on #1244
Let's focus on issue 1 then. Can we get an event added when an optional query fails? What about specifically which optional query failed?

[2022-06-08 18:35] gkaskonas commented on #1145
With CUR enabled, Kubecost is reporting the volume as US$14.26 per day which is correct. I think this can be closed

[2022-06-09 18:40] alexkubecost opened #1247 "Update the main install page to remove links to guide.kubecost.com"
From here, https://github.com/kubecost/opencost

The "Getting Started" section takes users to: https://guide.kubecost.com/hc/en-us/articles/4407601821207

Proposal is to instead of install documentation live within the opencost.io domain, instead of guides.kubecost.com.

gz#1943<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/1943'>Zendesk ticket #1943</a>)</i>

[2022-06-09 20:22] jcharcalla commented on #1247
There is a docs page at https://www.opencost.io/docs/ we could change the link to, although it just points to github which ultimately sends you back to guide.kubecost.com

@kbrwn is it possible to add a second (guide.opencost.io) domain to the guide page?

[2022-06-09 20:39] kbrwn commented on #1247
@jcharcalla I am not involved in opencost.io/docs. I can set up a similar redirect server to guide like docs.kubecost.com (or a reverse proxy if the url being opencost.io is important.) Although I think that keeping kubecost/opencost docs separated is a good idea.

[2022-06-09 22:09] stacy-tumarkin commented on #1247
I think that even just having complete open source install instructions live within the opencost.io/docs page, with any links back to kubecost documentation (1) explicitly referenced as guides for using Kubecost as a recommended path, and (2) included after we discuss installing the open source tool as a standalone, would be a great first step.

[2022-06-09 22:23] dwbrown2 commented on #1247
Yeah, I agree. I definitely think we need to have fully standalone opencost docs. We made the decision to pull them out piece by piece given there will be a lot to move over. The content should be very similar though.

[2022-06-10 15:04] prakharporwal commented on #1029
Can I contribute to this repo. is it open for public contributions ?

[2022-06-10 16:51] dwbrown2 commented on #1247
PR now open: https://github.com/kubecost/opencost-website/pull/10

[2022-06-11 00:43] andrijaperovic commented on #596
@dwbrown2 can we re-open this? Looks like this breaks with newest version of the helm chart (v1.94.2).

[code]

@Sean-Holcomb

[2022-06-11 10:16] AjayTripathy commented on #596
Hi @andrijaperovic is this specifically when loading the cluster sizing html page? If so @biancaburtoiu can you take a look? I think this json file got removed in favor of hitting the Azure APIs directly...is this error expected if that API call fails?

[2022-06-13 10:15] biancaburtoiu commented on #596
hello @andrijaperovic! Thanks for flagging this. We're periodically caching Azure pricing data in the /var/configs/azurenodeprices.json file. Could you try to restart your cost-analyzer pod? That should create and start populating this cache file. Let us know if that solves the issue.

cc @AjayTripathy the Azure API is currently periodically called in the background, the cache file is initialized

[2022-06-13 23:24] keithhand opened #1256 "Overestimation for underlying node storage on Azure platform root disks"
It seems when gathering metrics on an Azure AKS cluster, the underlying root disks are being overestimated. Possibly due to [this query](https://github.com/kubecost/opencost/blob/develop/pkg/costmodel/cluster.go#L157) needing some additional filters.

Example:

**Node pool settings**:
![image](https://user-images.githubusercontent.com/43491549/173461393-01693c77-c951-40af-bac2-3fd2d5afa80a.png)

*

[2022-06-14 07:50] AjayTripathy commented on #1029
Hi @prakharporwal the cluster autoscaler simulator is not yet open source, but we're exploring options here and can circle back!

[2022-06-14 17:37] AjayTripathy commented on #1256
Taking just the device /dev/sda1 is 123.9GB, which gets much closer to the 128 that we'd expect. We probably need to do this per platform since disk conventions vary from provider to provider.

[2022-06-15 21:55] ErnestG4 commented on #1220
Due to the way load balancers are represented on AKS (a single LB with multiple public IPs), would it make sense to either consolidate LB objects per-cluster on Azure or take the line item for the Cluster's LB and divide it out by the number of LBs represented on the cluster itself?

[2022-06-17 07:22] klemen-df opened #1265 "Assets : You are requesting more than 15 days"
I'm using the free tier with a limitation of 15 days of metrics.

In 'Assets' and 'Cost Allocation' I can only select 7days.

If I select 30 days, I get the warning about the limitation.

In some cases, like 'Right sizing your requests' I can select 30 (and I presume it only displays 15 days of data).

Is this a bug or a feature?

gz#2007<br><br><i>(related to <a href='https://kubecost.zendesk.com

[2022-06-17 14:46] jcharcalla commented on #1265
@KlemenDanfoss Thank you for bringing this to our attention.

I was able to reproduce the 'Right sizing your requests' page allowing a 30 day selection window when using the 15 day free tier. This appears to be a bug to me.

[2022-06-17 14:53] jcharcalla commented on #1265
Screenshot showing the 15 day warning on the assets.html page with a 30 day window..

<img width="1228" alt="Screen Shot 2022-06-17 at 10 47 31 AM" src="https://user-images.githubusercontent.com/17748044/174322721-d3c3cab5-9b84-407f-954c-4cf573f997c6.png">

Warning missing from the request-sizing.html page with a 30 day window.
<img width="1228" alt="Screen Shot 2022-06-17 at 10 48 34 AM" src="htt

[2022-06-17 16:14] jcharcalla commented on #1265
@KlemenDanfoss In regards to the assets page... While there is not a "Last 15 days" selection available in the drop down menu, with the free version you can still select a custom date range of up to 15 days. Additionally in the address bar you can modify the window to `window=15d` to view the last 15 days.

[2022-06-18 06:04] aidapsibr opened #1267 "Unable to reach cluster on AKS"
When I follow instructions to install via helm on either 1.94.3 or 1.94.2 I find the webpage will load, but it is unable to find my cluster. Navigating to /model directly reports a 502 gateway error from nginx. Health check is also failing.

There are no errors in cost model logs. Front-end logs show

[code]

![image](https://user-images.githubusercontent.com/621605/174424950-d26e06b0-37cd-4ad5-8a

[2022-06-18 06:14] aidapsibr commented on #1267
It loaded after 40 readiness failures.

[2022-06-18 06:14] #1267 closed, assigned to nobody

[2022-06-20 07:04] klemen-df commented on #1265
Of course.  It would just be easier if '30 days' would work or if there would be a '15 days' selector.

[2022-06-20 08:21] ShibraAmin18 opened #1268 "Run kubecost locally"
Can we run this tool on our local machine?

I want to set up this as when we need, we would be able to quickly run it by providing **GCP service account key** as an authentication method and check the cost for different clusters.

I see **helm** and **kubectl** method for installation but how can we run this on local linux machine not inside any k8s cluster ?

Also please confirm what is the role

[2022-06-20 11:02] aellert commented on #560
Hi @Sh4d1,
I hope Scaleway is still working to get Kubecost integration, I would love to use Kubecost with Scaleway :)

[2022-06-21 13:58] AjayTripathy commented on #1265
Routing to @teevans -- sounds like we could quickly add a 15d dropdown on the frontend?

[2022-06-21 18:23] teevans commented on #1265
Absolutely, we'll get that added this release! Thanks for pointing this out @KlemenDanfoss!

[2022-06-21 19:37] kbrwn commented on #1268
Hello @ShibraAmin18 kubecost is designed to run on kubernetes.  If you are looking to run locally you can do so by deploying kubecost using a local k8s provider such a minikube, k3s, or docker-kubernetes.

[2022-06-22 09:59] carlos4ndre opened #1270 "Support for __idle__ allocation in opencost"
I've noticed that cost allocation API in opencost does not return any `__idle__` allocation. Looking at the code base I'm assuming it's not implemented yet. Is this something planned in the roadmap?

Sample request in kubecost which works fine:

[code]

Sample request in opencost where `__idle__` allocation seems to be missing or unsupported:

[code]

gz#2024<br><br><i>(related to <a href='https:/

[2022-06-22 13:56] tdinucci opened #1271 "Potential cAdvisor metrics label inconsistency"
I am running v1.94.3 and the diagnostics page shows the following warning:

<img width="741" alt="image" src="https://user-images.githubusercontent.com/35197667/175042769-daf4f82e-1614-4325-9cbe-2819f96ecbb2.png">

I am a bit confused by this for the following reasons:
1. My cluster is running k8s v1.12 and cAdvisor labels are `pod_name` and `container_name`, rather than `pod` and `container`.
2.

[2022-06-22 16:54] jcharcalla commented on #1270
@carlos4ndre Thank you for reporting this. I have confirmed in my test cluster that `__idle__` is not reported when running that query with Opencost.

I also noticed the following warnings in my pod logs, can you check if you have something similar?
[code]

On a side note after following this [install method](https://github.com/kubecost/opencost/blob/master/deploying-as-a-pod.md) the version repor

[2022-06-22 16:59] tdinucci commented on #1271
FWIW I've updated my `metric_relabel_configs` so that cAdvisor series are now recorded with 4 labels (`pod`, `pod_name`, `container` and `container_name`) and this has resolved the warning and also the problem where I wasn't getting recommendations, etc.

[2022-06-22 17:44] carlos4ndre commented on #1270
I don't see any error messages when using Thanos enabled. However if you deploy `cost-model` pod with the [default env vars](https://github.com/kubecost/opencost/blob/c211fbc1244a9da9667c7180a9e4c7f988d7978a/kubernetes/deployment.yaml#L31-L35) where Thanos is disabled by default, then I get the same error message for that particular query, which makes sense because the Prometheus metrics do not ha

[2022-06-22 17:48] carlos4ndre commented on #1270
But the issue remains, the `__idle__` allocation seems to be missing as well, when using a different aggregation, in this example by namespace.

[code]

[2022-06-22 21:50] jcharcalla commented on #1217
@TomaszSzusterTR Not sure if this will help in your scenario but we recently encountered an issue where a production AWS account required an extra `sts:AssumeRole` to be added to the IAM policy used by the service account. The error message was slightly different though.

The PR for the documentation change can be found here. https://github.com/kubecost/docs/pull/275/files

[2022-06-23 15:58] dwbrown2 commented on #560
Would love to see an integration here too! @Sh4d1 anything we can get you guys? One option would be to use a custom pricing sheet if there's still no billing APIs available for Scaleway.

[2022-06-23 18:15] Sh4d1 commented on #560
So just drafted this above ^ , feel free to test it :smile: as I said in the PR, it's still a hacky solution but it should work

[2022-06-23 19:49] zufardhiyaulhaq opened #1277 "Missing Data Aggregate By Deployment/Controller/Controller Kind"
Hi, I am installing kubecost with a helm chart using version `1.92.0`.
This kubecost use an external data source which is VictoriaMetrics installed by [victoria-metrics-k8s-stack](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack)

you can check the full helm chart kubecost value here, https://github.com/zufardhiyaulhaq/community-ops/blob/master/clusters/

[2022-06-23 19:53] zufardhiyaulhaq commented on #1277
Kubernetes version: 1.23
Kubecost version: 1.92.0
VictoriaMetrics version: v1.78.0

[2022-06-24 09:35] kamilkrampa opened #1278 "GCP Spot instances are not recognized"
GCP Spot VM is successor of Preemptible VMs: https://cloud.google.com/compute/docs/instances/spot. Spot instances have a different label: `cloud.google.com/gke-spot`.  Currently, for spot c2-standard-16 kubecost shows the following values
<img width="1269" alt="image" src="https://user-images.githubusercontent.com/93582867/175506845-b427f14e-093d-4102-af34-585f27c5a956.png">

As you can see, disco

[2022-06-24 09:39] kamilkrampa commented on #1278
Proposed fix: https://github.com/kubecost/opencost/pull/1279

[2022-06-24 13:31] Adam-Stack-PM commented on #1033
@kirbsauce @dwbrown2 I'm still learning here, but two concerns.

1) What is essential to one stakeholder may differ from another.  As we expand in an organization, IT may want something very from finance.

2) Having the full CUR could make auditing numbers much simpler.

To accomplish the spirit of the ask.  We could allow the user to set up groups and configure a pre-filter in the settings.

[2022-06-24 14:52] jessegoodier commented on #1277
Have you setup the scrape to kubecost?
#2 here: https://guide.kubecost.com/hc/en-us/articles/4407595941015-Custom-Prometheus

[2022-06-24 14:52] Adam-Stack-PM commented on #876
@kirbsauce Still relevant or can we close?

[2022-06-24 15:24] kirbsauce commented on #876
It appears all PRs are merged, so yes, let's close.

[2022-06-24 17:45] zufardhiyaulhaq commented on #1277
thanks @jessegoodier it's working now. miss that step. I am using VictoriaMetrics CRDs to scrape the kubecost.
[code]

[2022-06-24 17:45] #1277 closed, assigned to nobody

[2022-06-24 21:26] dwbrown2 commented on #1278
Thanks for this contribution, @kamilkrampa! A lot of our team is at Open Source Summit but we'll get this reviewed soon for you.

[2022-06-27 18:23] alexkubecost opened #1281 "Update OpenCost website slack link"
All mentions of "Slack" on opencost.io need to redirect to this channel: https://cloud-native.slack.com/archives/C03D56FPD4G

We are currently linking to the Kubecost organization which is now incorrect.

These are the following areas that I see need updating.

**1) "Join Slack" on the Opencost.io header**

![Screen Shot 2022-06-27 at 11 17 29 AM](https://user-images.githubusercontent.com/89622567

[2022-06-27 19:21] kirbsauce commented on #1271
thanks for the update @tdinucci , and sorry for the delay!

[2022-06-27 20:05] dwbrown2 commented on #1281
@alexkubecost do you plan to take this one or need help?

[2022-06-27 20:09] alexkubecost commented on #1281
@dwbrown2 Help would be great (and much much faster). @trentbroderick mentioned potentially taking this. Otherwise if we can triage as usual that works too.

[2022-06-27 20:15] dwbrown2 commented on #1281
@srpomeroy is all over it!

[2022-06-27 20:24] alexkubecost commented on #1281
Amazing let me know how I can help @srpomeroy

[2022-06-27 22:21] srpomeroy commented on #1281
See conversation in https://github.com/kubecost/opencost-website/pull/26

[2022-06-27 23:36] dwbrown2 opened #1282 "Migrate exporter page to reference OpenCost"
As part of CNCF on-boarding, we'll want to change this file to reference OpenCost instead of Kubecost: https://github.com/kubecost/opencost/blob/develop/kubecost-exporter.md

[2022-06-27 23:42] dwbrown2 commented on #1224
Proud to report that the OpenCost project has been approved by the CNCF TOC and we are now going through onboarding!

[2022-06-28 14:16] carlos4ndre commented on #1270
@jcharcalla is there any update on this issue? Thanks!

[2022-06-28 14:19] Adam-Stack-PM commented on #1282
@avrodrigues5 Would you be game to take this issue?

[2022-06-28 14:26] Adam-Stack-PM commented on #1270
@michaelmdresser, I believe you have experience with our API, wondering if could you look into this issue today?

@carlos4ndre, Apologies for the delay.

[2022-06-28 14:37] Adam-Stack-PM commented on #1281
@srpomeroy Great work!

[2022-06-28 14:37] michaelmdresser commented on #1270
I don't have time this week, but I can check it out next week if that works.

[2022-06-28 14:40] carlos4ndre commented on #1270
@michaelmdresser That's fine by me, and thanks for your help 👍

[2022-06-28 14:49] Adam-Stack-PM commented on #1271
@tdinucci Is there anything else we can help with?

[2022-06-28 14:50] jcharcalla commented on #1270
@michaelmdresser Here is some additional output from my reproducing steps. Note: I used [this method]( https://github.com/kubecost/opencost/blob/master/deploying-as-a-pod.md
) to deploy opencost in the cost model namespace, and the cost analyzer [helm chart](https://github.com/kubecost/cost-analyzer-helm-chart) for kubecost.
Opencost
[code]
kubecost-cost-analyzer
[code]

[2022-06-28 15:58] Adam-Stack-PM commented on #1278
@kamilkrampa Great work. Thanks for your contribution

[2022-06-28 16:07] dwbrown2 commented on #1270
Thanks for testing, @jcharcalla! @carlos4ndre can you share how you installed + what version of Kubecost you're running?

[2022-06-28 16:16] Adam-Stack-PM commented on #1215
@srpomeroy After you merge #1251 could we make sure it addresses this issue?  Thanks for connecting the PR.

[2022-06-28 16:26] carlos4ndre commented on #1270
I've installed `cost-model` as a pod using these [instructions](https://github.com/kubecost/opencost/blob/develop/deploying-as-a-pod.md).

And I'm running the version `1.94.3`, which according to the [releases](https://github.com/kubecost/opencost/releases) page should be the latest.

[code]

[2022-06-28 17:51] Adam-Stack-PM commented on #1282
@dwbrown2 is jumping on this item.  For clarity we should update all references to Kubecost **EXCEPT** items that would cause the application to not work?

Example: kubecost_cluster_management_cost

For clarity should we add a note to the document about the name change from Kubecost to Opencost?

CC @avrodrigues5

[2022-06-28 17:55] dwbrown2 commented on #1282
Yeah, it will be a broader discussion around breaking variable chances.

@avrodrigues5 while this one should be quick, I'd vote we tackle the other CNCF onboarding tasks first! Can discuss more today.

[2022-06-28 17:57] dwbrown2 opened #1285 "Add OpenCost to CNCF Sandbox page"
Submit a Pull request to add your project as a sandbox project to https://landscape.cncf.io/

[2022-06-28 17:58] dwbrown2 commented on #1285
@AdamStack18 have you been able to find exactly where we submit this PR or have a couple example PRs for us to reference?

[2022-06-28 17:59] jessegoodier commented on #1282
Should we move this to opencost-website/docs?

[2022-06-28 18:01] dwbrown2 commented on #1285
Steps: https://github.com/cncf/landscape#new-entries

Example PR: https://github.com/cncf/landscape/pull/2611/files

I would propose we add to `Observability and Analysis - Continuous Optimization` category.

@AdamStack18 do we have SVG file we can share?

[2022-06-28 18:05] dwbrown2 opened #1286 "Add OpenCost project to https://github.com/cncf/contribute"
Example PR: https://github.com/cncf/contribute/pull/112/files

[2022-06-28 18:07] dwbrown2 commented on #1282
Good call, I do think that would likely be better.

[2022-06-28 18:07] AdamStack18 commented on #1285
https://docs.google.com/document/d/14anae77yAPlBMXJLUQ8eIx4Bu-WiSlNsvXEdxU_TBcg/edit

[2022-06-28 18:08] jessegoodier commented on #1282
I have "big" PR that is almost ready. when send for feedback.

Just trying to wrap up what I had put together for the summit.

[2022-06-28 18:16] Adam-Stack-PM opened #1287 "Artwork: Submit a pull request tok with your artwork"
Submit PR here: https://github.com/cncf/artwork
Files Needed:  https://drive.google.com/file/d/1cRKV_WjbSw8ewWY3WazlBYE2iXufTwFf/view?usp=sharing

Also need to research if we need to open a PR to add Opencost to the README doc or if CNCF will add it to the list for us.

[2022-06-28 18:21] Adam-Stack-PM commented on #1285
Here is the file https://drive.google.com/file/d/1cRKV_WjbSw8ewWY3WazlBYE2iXufTwFf/view?usp=sharing

@avrodrigues5 If you need changes @Annalillie is your go to person.

[2022-06-28 18:27] Annalillie commented on #1285
Thanks for the tag @AdamStack18, feel free to reach out to me here or on Slack if you need anything @avrodrigues5

[2022-06-28 18:38] avrodrigues5 commented on #1285
@dwbrown2 ,there's a kubecost entry under continuous optimization already, is it something that was previous done? PR for the same is : https://github.com/cncf/landscape/pull/2563

[2022-06-28 18:42] dwbrown2 commented on #1285
Good catch, @avrodrigues5! Given OpenCost is a new project, we'll want to add a new entry. It will likely be similar, but I believe should reference we're a sandbox project like this entry: https://github.com/cncf/landscape/blob/5752aad46ec45793ed1a304a3c2f6038433d100d/landscape.yml#L88-L97

[2022-06-28 20:15] Adam-Stack-PM opened #1288 "Put you project in its own separate neutral github organization"
As part of CNCF onboarding we need to migrate the Opencost repo to its own organization.

[2022-06-28 20:23] Adam-Stack-PM commented on #1288
@dwbrown2  @AjayTripathy Trying to get a sense of the work that will need to be completed to make this happen and identify any possible breaking variable changes.   Setting up this issue to start the discussion.

Please disregard if this task is simpler than I'm thinking.

CC @alexkubecost

[2022-06-28 20:47] dwbrown2 commented on #1288
@AjayTripathy and @teevans already did this to create the OpenCost repo. This will be similar but just moving to github.com/opencost org. Plan is to do this after 1.95 release.

[2022-06-28 21:48] Adam-Stack-PM commented on #1288
Note adding v1.96 to track all work that we hope to complete over that period.  Can adjust as needed.

[2022-06-28 22:12] avrodrigues5 commented on #1285
Hello @dwbrown2 , Please review the commit on forked branch of landscape repo

https://github.com/cncf/landscape/compare/master...avrodrigues5:add_opencost_to_landscape:master

before raising PR against the original branch.

[2022-06-28 22:12] avrodrigues5 commented on #1287
Hello @dwbrown2 , Please review the commit on forked branch of artwork repo

https://github.com/cncf/artwork/compare/master...avrodrigues5:add_opencost_to_artwork:master

before raising PR against the original branch.

[2022-06-28 22:12] avrodrigues5 commented on #1286
Hello @dwbrown2 , Please review the commit on forked branch of cncf/contribute repo

https://github.com/cncf/contribute/compare/main...avrodrigues5:add_opencost_to_cncf:main

before raising PR against the original branch.

[2022-06-28 22:24] dwbrown2 commented on #1285
I think for crunchbase we would want to put, or at least that's what other cncf projects do.

[code]

also, i see other cncf projects have the following. should we include?

[code]

otherwise, looks good!

[2022-06-28 22:29] dwbrown2 commented on #1286
For `Focus`, is there a set of predefined fields we have to fit into? If not, I may propose `Cost Monitoring`

[2022-06-28 22:30] dwbrown2 commented on #1287
Don't know all the requirements here, but generally LGTM!

[2022-06-28 23:19] avrodrigues5 commented on #1286
looks like the https://github.com/cncf/landscape#new-entries says "We are unlikely to create a new category for products/projects as we'd rather find the best home with the current options." Doesn't state anything about procedure to create new entry.

[2022-06-28 23:24] dwbrown2 commented on #1286
Definitely agree with that on the landscape page, but does that apply to this `Focus` column?

One way to estimate... do other values align with landscape entries?

[2022-06-28 23:36] avrodrigues5 commented on #1286
Looks like few entry like IoT, Edge, Tooling(landscape.yml has Tools), Load balancer and lot of other names are not available on landscape.yml. I think we can change focus area to `Cost Monitoring`.

[2022-06-29 02:32] dwbrown2 commented on #560
Thanks so much for the contribution here, @Sh4d1! We're just getting back from OSS summit and in final phases of a release. Will get you as review here as soon as we can.

[2022-06-29 06:02] tomsunyu opened #1289 "Cost model report warn: "CostModel.ComputeAllocation""
Hi:
    I have installed kubecost by helm, but cost model report many warn：
[code]

gz#2062<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2062'>Zendesk ticket #2062</a>)</i>

[2022-06-29 12:12] srpomeroy commented on #1281
Closed with https://github.com/kubecost/opencost-website/pull/26

[2022-06-29 15:47] dwbrown2 commented on #1281
Maybe out of scope on this issue but I believe there are 1-2 references in this repo too.

[2022-06-29 15:58] srpomeroy commented on #1281
Excellent catch @dwbrown2! See the above-mentioned PR.

[2022-06-29 16:18] keithhand commented on #1289
@tomsunyu, do you notice any missing Disk assets within your Asset reports? If that is not the case, this might be just a warning message and safe to ignore. However, if you are missing assets, this could be a sign of why, and we should likely investigate those specific assets.

[2022-06-29 19:53] AjayTripathy commented on #1271
Let's add this mapping back to our documentation, with a note to support the new metrics relabel configs for versions up to I believe 1.13 @kirbsauce can you assign someone on support?

[2022-06-29 20:02] jcharcalla commented on #1217
@airmonitor I'm following up to see if you were you able to get your OIDC / service account authentication working correctly?

[2022-06-29 21:09] airmonitor commented on #1217
Hey @jcharcalla.

With other services running in our eks cluster yes, with kubecost without luck.

[2022-06-29 21:34] jcharcalla opened #1291 "Make `minsPerResolution` configurable in cluster.go"
We should be reading `minsPerResolution` out of the `kubecostModel.etlResolutionSeconds` parameter instead of hardcoding the value.

Here is the environment variable link.
https://github.com/kubecost/opencost/blob/e5dc00d4fb594f1f4b6dfc098414e09f6eec599f/pkg/env/costmodelenv.go#L68

And here is where it is hardcoded to 1 min.
https://github.com/kubecost/opencost/blob/6ddb2d8c4766a72c7303443487dcaa

[2022-06-29 22:13] avrodrigues5 commented on #1285
Closing this Issue since the PR https://github.com/cncf/landscape/pull/2644 got merged. Will Reopen it if anything is pending related to this.

[2022-06-29 22:13] #1285 closed, assigned to avrodrigues5

[2022-07-01 19:52] jcharcalla commented on #1217
@airmonitor, I apologize for the inconvenience. Can you send a [bug report](https://github.com/kubecost/docs/blob/main/bug-report.md) to [support@kubecost.com](mailto:support@kubecost.com) for us to review this issue further.

[2022-07-05 08:43] kamilsk opened #1295 "opencost.io is unavailable"
Hi! Something went wrong with the domain

[code]

gz#2091<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2091'>Zendesk ticket #2091</a>)</i>

[2022-07-05 14:18] jcharcalla commented on #1295
Thank you for reporting this! We are investigating the cause of the outage.

[2022-07-05 14:28] kamilsk commented on #1295
maybe https://github.com/upptime/upptime will be useful

[2022-07-05 14:31] dwbrown2 commented on #1295
Status available here: https://github.com/cncf/sandbox/issues/215

This was accidentally broken during transfer to Linux Foundation.

[2022-07-05 21:00] Adam-Stack-PM commented on #1295
Note to @Adam-Stack-PM check Opencost in the morning and close out issue when it is up.

[2022-07-05 21:14] Adam-Stack-PM commented on #1291
@teevans Looks like an open issue from last weeks support rotation. Could you assign a priority P0,1,2 and remove the needs triage label?

[2022-07-05 23:46] dwbrown2 commented on #1033
Based on my understanding of these requirements, is that a combinations of 1) advanced reporting and 2) CUR views would help address but let me know if that's overlooking a core need

[2022-07-06 04:37] teevans commented on #1291
@jcharcalla - What do you think is a good priority level for this?

[2022-07-06 07:42] skonto opened #1298 "Define a cost model for Serverless applications"
One common scenario requested by customers for on-premise setups is utilizing a Serverless solution and then try to separate costs based on some multi-tenancy story eg. distribute costs among teams, departments etc. Another topic is the cost model for the Serverless solution itself eg. bill per request or per K8s utilization or both etc. Or billing could happen even per time the container was acti

[2022-07-06 07:45] #1145 closed, assigned to nealormsbee, Sean-Holcomb

[2022-07-06 14:00] fcomte opened #1299 "Network Traffic Cost Allocation is failing to measure ingress traffic"
I am facing an issue with my kubecost network traffic.

When a kubernetes pod download data from Internet (let's say wget something) , I think kubecost does not see this network traffic ( maybe  the traffic is affected to the node IP and not to the pod IP.
I have no problem to see :
- internal traffic between pods
- egress traffic to Internet.

gz#2114<br><br><i>(related to <a href='https://kubeco

[2022-07-06 16:27] avrodrigues5 commented on #1286
Successfully Merged to cncf/contribute repo

[2022-07-06 16:27] #1286 closed, assigned to avrodrigues5

[2022-07-06 16:28] avrodrigues5 commented on #1287
Successfully merged to cncf/artwork repo

[2022-07-06 16:28] #1287 closed, assigned to avrodrigues5

[2022-07-06 16:39] AjayTripathy commented on #1291
I think that this should be done before the release, it's a clear bug and a very small fix

[2022-07-06 17:34] mbolt35 commented on #1299
Hey @fcomte Thanks for filing the issue. We are currently only tracking `egress` traffic in the the application currently, but I believe there are plans to eventually support ingress costs. We are outputting `ingress` metrics which you could use to materialize your own view: `kubecost_pod_network_ingress_bytes_total`

This metric has the following labels:
* namespace: Namespace of the pod receivin

[2022-07-06 20:24] dwbrown2 commented on #1295
Now addressed, more detail here for those interested: https://github.com/cncf/sandbox/issues/215

[2022-07-06 20:24] #1295 closed, assigned to nobody

[2022-07-07 07:37] fcomte commented on #1299
Yes but this counter is false in my case
 It does not count the ingress traffic coming from Internet

[2022-07-07 11:33] dschunack opened #1301 "Requested rows of Asset data which exceeds the limit of 75000"
Hi,

we noticed some problems to visualize the Assets with v1.94 and all is related to Storage Assets.
The problem is the high amount of PVCs and Storage (60TB+) in the K8S.
PVCs are created for a very short time to store artifacts and released after the job.
kubecost lists more than 24000 Disks for the last 13 hours.

All Time ranges are not working from 1d or longer for the Storage or global vie

[2022-07-07 16:51] Adam-Stack-PM commented on #1301
@dschunack, thanks for this issue.

@teevans @nealormsbee Getting this on your radar, any thoughts?

[2022-07-07 16:53] Adam-Stack-PM commented on #1299
@kaelanspatel Can you help triage this issue?

[2022-07-07 17:01] nealormsbee commented on #1301
This limit happens at the API level, it was put into place (I believe) to as a quick solution to prevent the Assets UI from locking up when too many values are returned.

The API does supply an option to bypass this limitation by adding `?noLimit=true` to the query. Maybe a decent UX is to let users control this `noLimit` parameter via some control in the UI?
I.e. "If you flip this switch, it is p

[2022-07-07 17:11] teevans commented on #1301
That's a good idea @nealormsbee - But, until we support that size of a data set I'm going to say we shouldn't enable that. We know the breaking point is right around there, and the experience of trying to view that data isn't going to be good anyhow, so I'd say let's punt on it until we get into the web workers.

[2022-07-07 17:12] nealormsbee commented on #1301
That works for me. Once we have the web workers that ceiling goes way up :+1:

[2022-07-07 18:13] Adam-Stack-PM commented on #1291
@avrodrigues5, How is this item going?  Anything blocking getting a PR opened today?

[2022-07-07 18:26] avrodrigues5 commented on #1291
@Adam-Stack-PM , I will sort out some help for testing and open a PR by EOD.

Just one question, issue mentions only one occurrence of minsPerResolution but there are 4 and 3 occurrence hardcoded to 1 (line No 139, 391, 547) while one occurrence (line No 673) hardcoded to 5 in file https://github.com/kubecost/opencost/blob/6ddb2d8c4766a72c7303443487dcaa1be494b3f7/pkg/costmodel/cluster.go#L391 . Wh

[2022-07-07 19:17] kaelanspatel commented on #1299
Hi @fcomte, can you clarify for me, are you seeing that the `kubecost_pod_network_ingress_bytes_total` metric is not emitting properly i.e. it doesn't show up, or is it that the numbers you're seeing aren't correct?

[2022-07-08 00:52] Adam-Stack-PM commented on #1291
@avrodrigues5 Thanks for getting this out. Where you able to get answers to your questions?

[2022-07-08 04:16] avrodrigues5 commented on #1291
@Adam-Stack-PM
More i looked at this issue more questions i had
1. So the function that's used to compute [ETLResolution](https://github.com/kubecost/opencost/blob/08a98fac21673210f8b52681395e89188b08b7a1/pkg/env/costmodelenv.go#L451-L461) seems to default to 1m for prometheus user and if thanos is enabled only computes it to anything other than 1m default to 5m. Also what happens if user passes l

[2022-07-08 04:18] dwbrown2 commented on #1298
@skonto thanks for filing! I view available serverless solutions (and we've had several community discussions) in two potential buckets:

1) solutions where the k8s api is exposed, e.g. knative
2) solutions that are external to a cluster from an API standpoint, e.g. AWS Lambda

The former feels like a very natural and easy extension of the current OpenCost model, whereas the latter may fall into t

[2022-07-08 08:57] skonto commented on #1298
Yes let's start with the first option. The second one probably requires cloud vendors participation.
How should we proceed with this?

[2022-07-08 16:20] teevans commented on #1291
cc @michaelmdresser

[2022-07-08 16:23] Adam-Stack-PM commented on #1291
Let's hold this PR until to v1.96. @michaelmdresser, had some great points around the importance of testing in this area.

[2022-07-08 17:05] Adam-Stack-PM commented on #1291
@AjayTripath. Based on our conversations with Michael pulling this out of the release to give more time for testing.  If we patch will try to get it in.  CC @avrodrigues5

[2022-07-09 16:47] andrijaperovic commented on #596
Hi @AjayTripathy, apologies for the late reply lost track of this issue. Yes, this happens specifically when loading the cluster sizing HTML page. @biancaburtoiu I restarted the cost-analyzer pod but looks like the issue is still present:
[code]

I'm observing some additional error messages as well:
[code]
Let me know if you require any additional information.

EDIT:

I also see the persistent vol

[2022-07-11 16:45] #1220 closed, assigned to nobody

[2022-07-11 17:36] teevans commented on #1265
@jjarrett21 - Let's get this knocked out this release!

[2022-07-12 05:20] rpashko-lohika-tix opened #1312 "please add IBM cloud support"
please add IBM cloud support

gz#2159<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2159'>Zendesk ticket #2159</a>)</i>

[2022-07-12 13:53] zorrobyte commented on #1312
Howdy @rpashko-lohika-tix

You'll be pleased to know that OpenCost has been accepted into the CNCF, of which IBM is a member and has shown interest in support!

You can learn more about OpenCost here:
https://www.opencost.io

Thank you for the enhancement request. We look forward to expanding our product into the future.

Ross Fisher
Senior Support Engineer
KubeCost

[2022-07-12 16:46] dwbrown2 commented on #1312
Would love to see first party support here!

@skonto any suggested contacts on the IBM team?

cc @alexkubecost @trentbroderick

[2022-07-12 16:48] #1265 closed, assigned to jjarrett21

[2022-07-12 19:46] nealormsbee commented on #1268
Closing.

[2022-07-12 19:46] #1268 closed, assigned to nobody

[2022-07-12 21:51] andrijaperovic commented on #596
@biancaburtoiu any reason why this issue was closed?

[2022-07-12 21:54] AjayTripathy commented on #596
I'm expecting this was closed because it will be fixed in an upcoming release, but will check in with @biancaburtoiu

[2022-07-12 22:58] keithhand commented on #1289
Hi @tomsunyu, I wanted to revisit this and see if you also noticed missing Disk assets within your Assets reports

[2022-07-13 13:14] biancaburtoiu commented on #596
hello @andrijaperovic - as Ajay noted, the fix should be included in v1.95, which will be out shortly. Once updated, please let me know whether the page loads as expected. Thanks for your patience!

[2022-07-13 21:26] Adam-Stack-PM commented on #1301
@sundeepghuman, I wanted to get this on your radar for upcoming work related to pagination and scale.

[2022-07-13 21:53] Adam-Stack-PM commented on #1281
@srpomeroy and @alexkubecost Is the above PR still needed and if so is it ready to be reviewed and merged?

[2022-07-13 22:06] Adam-Stack-PM commented on #1270
@michaelmdresser, I know you have lots on your plate right now with the release, so just a friendly nudge. Could you follow up here or hand it off to @nealormsbee?

[2022-07-13 22:11] Adam-Stack-PM commented on #1271
@kirbsauce Friendly nudge. See the Above documentation request.  Possibly a good task for Brett?

[2022-07-13 22:15] dwbrown2 commented on #1270
Might be worth a quick chat too first. cc @sundeepghuman

[2022-07-13 22:26] alexkubecost commented on #1281
@Adam-Stack-PM I defer to @srpomeroy , but these all look updated from my side.

[2022-07-13 23:49] kirbsauce commented on #1271
@keithhand and I are investigating the history.  Well, @keithhand is and I'm just trying to keep up.  Doc update forthcoming.

[2022-07-14 00:21] keithhand commented on #1271
@AjayTripathy I opened a PR [here](https://github.com/kubecost/docs/pull/300) with what I believe is the relevant information. Does that look right to you?

[2022-07-14 05:30] AjayTripathy commented on #1271
Left a few notes thanks!

[2022-07-14 05:31] AjayTripathy commented on #1301
iirc this was more of a "the frontend is crashing" limitation than something on the backend necessarily. We should actually simulate a number of assets in the 500k range, bump the cap, and see what happens.

[2022-07-14 12:13] PatTheSilent commented on #1217
To add to the peculiarity of this case.

I have the same errors in my kubecost deployment. The role was created from a slightly modified version of https://github.com/kubecost/cloudformation/blob/master/kubecost-sub-account-permissions.yaml

What I find terribly interesting is that kubecost managed to assume that role and query Athena (judging from the query history) but still throws those EC2-rel

[2022-07-14 15:07] teevans commented on #1301
^^ This. I suspect we'll be able to tackle this sometime this month given the work being done on scale testing.

[2022-07-14 16:23] jcharcalla commented on #1217
@PatTheSilent Can you share which error you are seeing?

There are a two warnings which are common but do not necessarily indicate an issue with OIDC or IAM policys. These are safe to ignore.
[code]

And
[code]

[2022-07-14 17:33] nealormsbee commented on #1270
Replying to @jcharcalla:

Our build automation does not currently update the `latest` tag on Quay -- we produce images with the new version tag (e.g. 1.95.0) but don't update latest. Will create an issue in the release process repo to set `latest` as well.

[2022-07-14 18:28] avrodrigues5 commented on #1291
The corresponding PR changes are in Develop Branch. Closing this Issue

[2022-07-14 18:28] #1291 closed, assigned to avrodrigues5

[2022-07-14 19:42] maximilien commented on #1312
Hi, all, happy to help with this request. Any elaborations and timeframe? I will use this to follow-up with my colleagues in IBM Cloud

@rpashko-lohika-tix ^^^

[2022-07-15 12:43] sundeepghuman commented on #1270
+Adam Stack ***@***.***>

We are working on a formalizing the release process documents. +Michael
Dresser ***@***.***> is this something we can automate with the
RC build button?

On Thu, Jul 14, 2022, 13:33 Neal Ormsbee ***@***.***> wrote:

[2022-07-15 16:31] nealormsbee commented on #1270
@sundeepghuman it is. Created an issue [here](https://github.com/kubecost/release-scripts/issues/21) that should be straightforward.

[2022-07-18 20:19] michaelmdresser commented on #1270
@carlos4ndre Apologies, this fell of my radar. It does seem like `__idle__` is unimplemented or incorrectly implemented in OpenCost right now. I think the `Idle allocation is missing idleID` may be part of this, but it also probably isn't the whole story. You may be able to eliminate that error, at least, by setting the `CLUSTER_ID` environment variable.

My current suspicion is that the Allocatio

[2022-07-19 16:07] carlos4ndre commented on #1270
I confirm that setting up the `CLUSTER_ID` env var removes that error message, but the `__idle__` cost allocation is still missing.

[code]

For reference, I'm using the following env vars:
[code]

[2022-07-19 17:14] mbolt35 opened #1325 "Replace References to Kubecost"
Remove references to `Kubecost` in code. For example:
https://github.com/opencost/opencost/blob/1e92d2f2a0fde8e45fc80ad2340968e27800c68a/pkg/env/costmodelenv.go#L19

We'll need to be careful how we proceed to ensure we can maintain compatibility with older installs.

[2022-07-19 18:10] srpomeroy commented on #1281
@Adam-Stack-PM Yes, still required. Should be a very simple review.

[2022-07-19 18:11] srpomeroy commented on #1281
It appears that I do not have the ability to assign a reviewer or labels since moving to the new opencost GH org.

[2022-07-19 20:09] srpomeroy commented on #1281
@Adam-Stack-PM You are free to close this issue as #1290 has been merged.

[2022-07-20 13:32] atyiadam opened #1329 "Non-related resources in Cost Allocation while aggregating by custom label"
Our organization is trying to introduce a new labelling scheme for better cost visibility in Kubernetes. We installed Kubecost via Helm. Using v1.95.0.

Our experience is that when we are using `namespace` for aggregation in the Cost Allocation page, the breakdown of a namespace contains the correct resources under the Controllers and Performance Insights section. However, as soon as we are trying

[2022-07-20 18:33] AjayTripathy commented on #1312
I've seen a number of users interested in running Kubecost on IBM k8s or OpenShift on IBM cloud. So I'd be fully supportive of helping here. Here's the new provider guide and it's generally pretty fast to add a new provider: https://docs.google.com/document/d/1JVPCeQmvGU88aw0bJJjtTzdl5RhhOqT7FPs2szuHBkc/edit

[2022-07-21 18:33] Sean-Holcomb opened #1331 "Azure ratecard setting azureClientSecret does not update on changes to secret"
I have found that changing the azureClientSecret in the secret does not change the value. This manifests in rate card continuing to fail when it is changed from an incorrect value to a correct value and not failing when changed from a correct value to an incorrect value. This is in contrast with other ratecard configuration values which appear to change when the secret is edited.
Related to ZD#htt

[2022-07-21 18:37] AjayTripathy commented on #1331
Good find, thanks, but this probably belongs in the helm chart repo. https://github.com/kubecost/cost-analyzer-helm-chart/issues

[2022-07-21 19:16] dwbrown2 commented on #1329
Really appreciate this detailed report @atyiadam! Looks like it should be able to repro fairly easily but I haven't been able to yet. cc @teevans who will likely know more here

[2022-07-21 20:55] Adam-Stack-PM commented on #264
Close in favor of https://github.com/kubecost/docs/issues/304

@AjayTripathy or @dwbrown2, Could you add me to the Opencost organization when you have time? Need permissions to close out and label issues.

[2022-07-22 09:50] fedordikarev opened #1332 "ui: v1.95.0 is broken for locations with prefix"
We serve internal tools from our admin portal and use different url prefixes for them, so for kubecost url is `https://admin.example.com/kubecost/`
And that works well for previous versions but in version 1.95.0 all urls are referred from the root.

Some searching in internet gives me an idea that it could be fixed by adding `"homepage": "."` to `package.json` but I'm not so familiar with js/React

[2022-07-22 10:00] fedordikarev opened #1333 "ui: add `crossorigin="use-credentials"` for link rel="manifest""
We use `oauth2-proxy` to authorise access to admin tools and that breaks loading `manifest.json`
I checked that adding `crossorigin="use-credentials"` fixes that problem, but I did it using `sub_filter` in nginx configuration which is not good solution I think.

Should it be added by default to the index.html?

[2022-07-22 16:25] dwbrown2 commented on #1332
cc @nealormsbee @teevans @AjayTripathy

@fedordikarev thanks for reporting. we did make some changes with our nginx config in 1.95.0. rolling back to 1.94.3 should give an immediate fix for you if needed, but would be interested in solving for you in new releases

[2022-07-22 16:31] teevans commented on #1332
@fedordikarev - thanks so much for reaching out on this! If you're comfortable with it, I would love to get some more details on how you're setting up your ingress/service for Kubecost!

Couple of questions so we can reproduce:

- Which cloud provider are you using?
- What ingress type or load balancer are you leveraging?

Our internal testing showed that this particular use case works, but we may

[2022-07-23 16:25] AjayTripathy commented on #1333
Hey @fedordikarev I'm supportive here. Maybe you could open a PR either with your solution or the proposed solution for review?

[2022-07-25 12:56] sylus commented on #1331
Oh this might be the bug that is tripping me up. even though I entered the secret many many times and directly compared to my manifest json file I keep getting:

[code]

Is there any quick mitigations for this bug? @AjayTripathy @Sean-Holcomb

I am 100% my service-key.json is correct as I have checked quite a few times. I directly compared the mounted secrets in cost-analyzer to my service-key.jso

[2022-07-25 14:04] teevans commented on #1329
Hey @atyiadam thanks for the report!! We'll dive into this and see what we figure out!

[2022-07-25 15:36] tdinucci commented on #1271
Thanks for picking this up - the doc update is helpful :)

[2022-07-25 16:07] Sean-Holcomb commented on #1331
In the short term you can run the endpoint '/model/updateConfigByKey' with the body
[code]
A fix to the issue the config not properly updating from the secret should be available in 1.96

[2022-07-27 00:11] dwbrown2 commented on #1298
Talked with @maximilien at last OpenCost community meeting. Would you want to join that in the next couple weeks and we can discuss the best next steps then? Either that or we can start a doc soon for collaboration.

[2022-07-27 09:07] AjayTripathy commented on #1271
Thanks for the feedback! @keithhand anything stopping us from picking this up and merging?

[2022-07-27 15:52] BrewToR commented on #785
Hello @pierluigilenoci, did you find a way to solve this problem ?
thank you

[2022-07-28 09:07] pierluigilenoci commented on #785
@BrewToR no sorry. I gave up.
Maybe @dwbrown2 can let you know if there is any news about it.

[2022-07-28 14:08] dwbrown2 commented on #785
A number of users are doing this with either athena views or filtered saved reports. @BrewToR would either meet your needs?

cc @AjayTripathy while I'm out on vacation

[2022-07-28 14:43] BrewToR commented on #785
Yes, it could meet my needs but :

- Athena View: How do you link a view or a database to a cluster into Kubecost ? It seems to be only global to the kubecost instance settings.

- Filtered Saved Reports : The only way to get both cost allocation and external costs assets is to use Advanced Reporting that is in Alpha and doesn't support aggregation by account ID that host the EKS cluster

[2022-07-29 01:45] andrijaperovic commented on #596
Hi @biancaburtoiu,

I just installed helm chart v1.95.1. The cluster sizing recommendations are displaying correctly:
<img width="1403" alt="Screen Shot 2022-07-28 at 6 43 38 PM" src="https://user-images.githubusercontent.com/496024/181665557-5392cf9f-0047-4cfc-8833-a3906e19eb14.png">

thank you for the quick fix 💯 !

[2022-07-29 01:47] andrijaperovic commented on #596
I did see that node count is not showing up for current cluster setup due to not being able to fetch current cluster information. I'll reopen for now and wait for your confirmation on that before closing the ticket. thanks!

[2022-07-29 01:49] andrijaperovic commented on #596
Seeing a lot of `WRN` messages `no pricing data found for eastus,standard_d8as_v4,ondemand:`. @biancaburtoiu
Also seeing various error messages for numerous deployments on the cluster which are also `WRN` level indicating `WRN SummaryAllocation: detected invalid sharing coefficient for cluster-one`.

[2022-07-29 12:27] biancaburtoiu commented on #596
hello @andrijaperovic, I'm glad to hear that the initial problem got solved!

Thanks for flagging the subsequent problem. ~I've raised a separate issue here: https://github.com/kubecost/kubecost-cost-model/issues/897~

Separate issue: https://github.com/opencost/opencost/issues/1339

[2022-07-29 13:54] peijianju-sonrai opened #1338 "CVE-2022-21698 in dependency github.com/prometheus/client_golang v1.0.0"
Dear Opencost team

github.com/prometheus/client_golang v1.0.0 is having High CVE CVE-2022-21698

Any patch to address it? thank you

[code]

Regards,
Eric

[2022-07-29 17:51] zorrobyte commented on #888
@michaelmdresser  I have a customer who upgraded to 1.95 and was getting the duration error:
2190

I understand it's just noise via Ajay's notes

The customer downgraded, I let them know I'd update the issue and told them not to worry about the log item

[2022-07-29 18:26] andrijaperovic commented on #596
Hi @biancaburtoiu - thanks for creating the issue! However the URL which you shared returns a 404.
perhaps it's a private repository?

[2022-07-29 18:42] biancaburtoiu opened #1339 "Azure nodes naming mismatch"
Names of some Azure instance types don't match our current Azure `NodeType` naming schema.

For example:
- Name in Azure: "Standard_DS2_v2" vs. name in Kubecost: "DS2 V2"
- Name in Azure: "Standard_B2ms" vs. name in Kubecost: "B2MS"

This leads to the following issues on the Cluster Sizing Recommendations page for Azure users:
- (important) Not being able to display current cluster information (sh

[2022-07-29 18:45] biancaburtoiu commented on #596
Thanks for pointing that out @andrijaperovic, it was a miss on my side. Please see the public issue here: https://github.com/opencost/opencost/issues/1339

[2022-07-29 19:01] Adam-Stack-PM commented on #1301
@dschunack, Our engineering leads are working on a solution to remove this data cap.  I can not guarantee a timeframe, but it will likely be included in v1.97 or v1.98.

[2022-07-29 22:48] AjayTripathy commented on #1338
Hi @peijianju-sonrai thanks for this report. We'll get this patch tested and upgraded soon.

[2022-07-30 17:05] AjayTripathy commented on #785
This guide should have more detail on how to link a database to kubecost: https://github.com/kubecost/docs/blob/main/cloud-integration.md

[2022-07-30 17:05] AjayTripathy commented on #785
@teevans can you look into what it would take for advanced reporting to support aggregation by els cluster account Id?

[2022-08-02 02:02] andrijaperovic commented on #596
Thanks @biancaburtoiu ! Closing this issue for now. Will continue the conversation on #1339

[2022-08-02 02:02] #596 closed

[2022-08-02 16:22] nickcurie commented on #1338
In between 1.0.0 and 1.11.1 the API changed, so I need to go through and fix all the affected files. I've updated the package to 1.12.2 since the API is changed equally.

[2022-08-02 16:23] nickcurie commented on #1338
cc: @Adam-Stack-PM this is going to take a day or 2

[2022-08-02 16:49] AjayTripathy commented on #1338
Let's begin work on this but I don't think we should hold v1.96.0 release.

[2022-08-02 16:54] AjayTripathy commented on #1338
Especially since:
`
In order to be affected, an instrumented software must use any of promhttp.InstrumentHandler* middleware except RequestsInFlight; not filter any specific methods (e.g GET) before middleware; pass metric with method label name to our middleware; and not have any firewall/LB/proxy that filters away requests with unknown method. client_golang version 1.11.1 contains a patch for th

[2022-08-02 22:45] andrijaperovic commented on #1339
Thanks @biancaburtoiu .
Can you also clarify on where the Azure VM SKU's are retrieved for Cluster Sizing Recommendations?
Was curious if this incorporates the new ARM-based VM series offered by Azure (like `standardDPLSv5Family`):
https://github.com/kubernetes/autoscaler/blob/6c16531d12e36515ff51903813c16d0568eff81e/cluster-autoscaler/cloudprovider/azure/azure_instance_types.go#L476

[2022-08-03 13:53] Adam-Stack-PM commented on #1338
@AjayTripathy & @nickcurie, Thanks for the context and update here. What I'm hearing is if it gets done in time and we are confident in the testing, we will put it in v1.96.  If not, we will wait for v1.97 or v1.96.01. Let me know if this is not correct.

[2022-08-03 17:10] #1331 closed, assigned to Sean-Holcomb

[2022-08-03 22:28] Adam-Stack-PM commented on #1339
@biancaburtoiu, @biancaburtoiu, See above. Quick follow-up question above when you have time.

[2022-08-04 16:17] biancaburtoiu commented on #1339
Hi @andrijaperovic, thanks for your question! The new ARM-based Azure VMs are on our radar, we plan to introduce support in a future release.

[2022-08-05 20:55] michaelmdresser commented on #888
I'd like to address noisy logs if possible. Do you know what the exact error log was?

[2022-08-06 19:50] zamazan4ik opened #1351 "Document upgrade and downgrade processes"
Hi.

After reading the documentation it is not clear for me, how upgrade and downgrade processes should be performed over the solution. Could you please describe somewhere in the documentation:

- How to upgrade OpenCost to the newer version (hopefully with no downtime)
- How to downgrade OpenCost to the older version (hopefully with no downtime)
- Maybe some compatibility policies and notes betwe

[2022-08-07 16:50] #560 closed

[2022-08-08 16:21] jcharcalla commented on #1351
@zamazan4ik

Thank you for the feedback and great suggestion!

[2022-08-09 16:51] Adam-Stack-PM commented on #1329
@teevans, Working on release notes. Confirming 926 was merged into Opencost and closes this out?

[2022-08-09 20:56] #1338 closed, assigned to nickcurie

[2022-08-10 16:51] jcharcalla commented on #1351
@zamazan4ik until documentation is created here is the basic process.

To upgrade with Helm first update the repo `helm repo update` and then use `helm upgrade ...` with the same values as used during the install.

You can downgrade or specify a version by adding the `--version x.xx.x` to the helm command.

Any specific upgrade or compatibility issues between versions should be documented in the r

[2022-08-10 23:38] Sean-Holcomb commented on #1329
This Issue was addressed in v1.96 with https://github.com/kubecost/cost-analyzer-frontend/pull/960

[2022-08-11 15:00] weiwuprojects commented on #1227
@gkaskonas Do you remember what part of your conifguration was bad?

[2022-08-15 14:51] srpomeroy commented on #954
Have we implemented, or are there any plans to implement the use of the net amortized costs?

[2022-08-16 20:23] Adam-Stack-PM commented on #954
@Sean-Holcomb Could you confirm we have not implemented this yet ?@srpomeroy, if we have not, there is no current plans to add this. However, if you feel strongly about it please let me know.

[2022-08-16 22:56] Sean-Holcomb commented on #954
We have not implemented it

[2022-08-17 09:26] philimonoff commented on #1008
+1 to this issue. It blocks from using opencost in on-prem or non-GCP/AWS/Azure clusters with different storage classes.

[2022-08-17 14:09] Adam-Stack-PM commented on #1227
@weiwuprojects, Are you experiencing the same error or have any additional info you can share?

@jcharcalla, Could you keep eyes  on this issue and help support this ticket?

[2022-08-19 08:12] francis-jjk opened #1360 "[Local Development] How to get my PROMETHEUS_SERVER_ENDPOINT?"
Hi folks,
    I followed this [wiki](https://github.com/francis-jjk/opencost/blob/develop/CONTRIBUTING.md) but stuck in the step of getting PROMETHEUS_SERVER_ENDPOINT. Here's more details:
    1. K8s Env: AKS
    2. Prometheus: Installed via helm

<img width="828" alt="image" src="https://user-images.githubusercontent.com/110971964/185574859-88a8b7eb-00b6-4063-85be-4530f8cc6f9c.png">

gz#2438<br><

[2022-08-19 22:15] dwbrown2 commented on #1351
@zamazan4ik was that helpful for you? We'll get this added to more docs if so.

[2022-08-19 23:11] zamazan4ik commented on #1351
Yeah, it is helpful. So please add this information into the documentation. Thank you!

[2022-08-20 00:28] AjayTripathy commented on #954
Candidate for v1.98?

[2022-08-20 16:04] Adam-Stack-PM commented on #1008
@philimonoff, Thanks for the up vote. This is a very helpful signal to what is important to the Opencost community.

[2022-08-20 16:39] Adam-Stack-PM commented on #1351
@zamazan4ik, Have this marketed P1, which means we should get the docs updated in the next few weeks.

@bstuder99, If you have enough context here would be great if you could run with this update.

[2022-08-22 14:36] brstuder commented on #1351
This looks like a simple addition to the documentation. Can I assume you can upgrade/downgrade Kubecost in the same way described above for OpenCost?

[2022-08-22 14:57] jcharcalla commented on #1351
@bstuder99 Yes this would be the same for Kubecost.

[2022-08-22 14:58] atyiadam commented on #1329
Hello everyone,
First of all thanks for looking into this. @Sean-Holcomb we've upgraded to v1.96 and tried aggregating by custom label again, but unfortunately we experienced the same behaviour as described in the issue (details page for a custom label still shows irrelevant resources under the `Controllers` and `Performance Insights` panel).

[2022-08-22 20:51] kaelanspatel commented on #1360
Hi @francis-jjk

PROMETHEUS_SERVER_ENDPOINT should just be whatever address you can access Prometheus on. If you're using a non-kubecost included Prometheus you'd need to do something like `kubectl port-forward service/<prometheus service name> --namespace=<prometheus namespace> <service port>`, and then set it to localhost:port.

You should be able to get this by running `kubectl get svc -n <prom

[2022-08-23 02:49] francis-jjk commented on #1360
Hi @kaelanspatel ,
     This is the prometheus server I got according to your guide
`prometheus-kube-prometheus-prometheus     ClusterIP   10.0.150.118   <none>        9090/TCP                     4d17h`
and namespace is `prometheus`,
So the PROMETHEUS_SERVER_ENDPOINT=`http://prometheus-kube-prometheus-prometheus.prometheus.svc` ?

[2022-08-23 17:08] kaelanspatel commented on #1360
Hi @francis-jjk

No, sorry I wasn't too clear. If you're developing locally your PROMETHEUS_SERVER_ENDPOINT should be `PROMETHEUS_SERVER_ENDPOINT="http://127.0.0.1:9090"` (or `PROMETHEUS_SERVER_ENDPOINT="http://localhost:9090"`, I believe either will work).

The key is just that you need to port-forward. You can do so by running `kubectl port-forward service/prometheus-kube-prometheus-prometheus -

[2022-08-23 22:04] Sean-Holcomb opened #1365 "Asset PV Ingest window not populating"
Issue presents itself as spammy logs like these:
[code]
When these warnings occur the start and end of the disk are set to the start and end of the hourly or daily window being generated. This could cause an over estimation on cost in the windows where the Disk did not run for the whole hour. I have also seen these logs come up on tickets so I would be good to get rid of them as they can act as a

[2022-08-24 03:26] AjayTripathy commented on #1360
To clarify, if you want to set kubecost up on a kubernetes node in your cluster, the endpoint is http://prometheus-kube-prometheus-prometheus.prometheus.svc . If you're trying to develop locally, it's wherever you port-forward into that prometheus.

[2022-08-24 03:37] AjayTripathy commented on #1365
Good find! Cleaning these logs and making sure we get this right feels important to me. @Adam-Stack-PM I'd argue this is p1 and see if we can't knock it out in our next set of cleanups.

[2022-08-24 19:44] dwbrown2 commented on #1008
The ability to configure complex discounts or tiered pricing like this is accessible Free/Community Kubecost. It's a fair amount amount of configuration/integration code, docs, etc that would need to be brought to OpenCost.

Early community discussion felt this was beyond the needs of most teams, so I think we need to revisit this decision.

[2022-08-24 21:29] jessegoodier commented on #1329
Additional detail:

1. Bug: When aggregating by `label:app` the table does not allow drilldown.
2. Good: If you select `product` you can drill down.
3. Bug: When aggregating by `label:app` and then filter by a label `app:cost-analyzer` the /detail link brings up a page where
controllers are not filtered.
4. Good: When aggregating by `label:app` and then filter by a namespace `kubecost` the /detail

[2022-08-24 21:33] michaelmdresser opened #1366 "V2 Allocation query filters: support v1-equivalent of "filterControllers=deployment:foo,daemonset:bar""
Source: https://github.com/kubecost/docs/pull/302#discussion_r924675430

In v1 Allocation filters, it is possible to write this query: `filterControllers=deployment:foo,daemonset:bar`, which works out to `(or (and (= controllerKind deployment) (= controllerName foo)) (and (= controllerKind daemonset) (= controllerName bar)))`. This parsing and filter construction happens here:
https://github.com/o

[2022-08-24 21:43] michaelmdresser commented on #1329
To elaborate a bit:

- We are seeing an Inspect (`/details`) page issue that has been very helpfully described by @atyiadam.
- Jesse's 1. and 2. points are a (possibly related) issue with Allocation (`/allocations`) row drilldown, which works for label alias (e.g. Product) aggregations but not raw label (e.g. `label:app`) aggregations.

[2022-08-25 18:38] dwbrown2 commented on #1360
@kaelanspatel @bstuder99 worth a quick doc updates to add this guidance you think?

[2022-08-25 19:00] brstuder commented on #1360
Sure. Do we think the addition should be made in this article? https://guide.kubecost.com/hc/en-us/articles/4407595941015-Custom-Prometheus

[2022-08-25 19:45] Adam-Stack-PM commented on #1360
@kaelanspatel, See above when you have time.

[2022-08-25 20:49] kaelanspatel commented on #1360
@dwbrown2 @bstuder99 I will note that the docs do [reference port forwarding](https://github.com/opencost/opencost/blob/develop/CONTRIBUTING.md#running-locally), but I think the main thing is that the port-forward command is a kubecost-bundled prometheus specific one rather than a general one.

[2022-09-05 20:12] dwbrown2 opened #1374 "Create Enterprise OpenCost page"
CNCF guidelines recommend that OpenCost has a dedicated page for enterprise offerings: https://github.com/cncf/foundation/blob/main/website-guidelines.md

I believe the Cilium website provides a good example implementation: https://cilium.io/

@Annalillie has a great design proposal too

[2022-09-07 03:39] dwbrown2 opened #1377 "Create OpenAPI / Swagger docs"
Goal is to help end users as well as those implementing the OpenCost spect better understand API definition.

More detailed proposal: https://docs.google.com/document/d/1BbuJgh9ToQNa_4mnjxG--enAO2_vmIsrkfWxJR-JGIA/edit

[2022-09-07 18:11] jpelletier1 commented on #1377
What API should we start with? I see you have an aggregation-related one defined. Start there?

The API response that Fairwinds uses is different from what you've defined in the above doc, but should have similar data points. I will try and get a copy of that.

[2022-09-08 03:58] dwbrown2 commented on #1377
I'd vote we start with the Allocation API! Can discuss more in community meeting tomorrow if that sounds good.

[2022-09-08 16:42] dwbrown2 opened #1379 "Community feedback on idle definitions"
When sharing OpenCost definitions at FinOps X and Open Source Summit, we received a number of insightful comments on the [current OpenCost idle definition](https://github.com/opencost/opencost/blob/develop/spec/opencost-specv01.md#idle-costs).

Specifically, multiple end users felt that the idle cost definition was incomplete. The viewed `total idle` as the combination between `cluster idle` and `

[2022-09-12 13:50] larhauga opened #1382 "Make AWS regions configurable"
In our environment, opencost is not allowed IAM permissions to access resources in all AWS regions.
This causes a lot of IAM errors with PermissionDenied due to the following hardcoded list of regions (https://github.com/opencost/opencost/blob/cda202ddedb57d02bc307ea63052b29f1a504c97/pkg/cloud/awsprovider.go#L111-L138)

This is used in the GetDisks https://github.com/opencost/opencost/blob/cda202d

[2022-09-13 12:17] eumel8 opened #1387 "Example missing: out-of-cluster resources"
In the Readme the possibility of measurement of out-of-cluster resources like RDS is mentioned. This would be very interesting, especially to implement this in Opencost or is it already possible? An example/use case would be nice.

[2022-09-13 22:31] nikovacevic commented on #1387
Hi @eumel8 thank you for the suggestion! For an example, this is implemented in Kubecost's Allocation API. (See documentation for that here: https://guide.kubecost.com/hc/en-us/articles/4407595916823-Allocation-API#querying)

[2022-09-13 23:02] nikovacevic commented on #1379
I disagree with this feedback, personally, but happy to discuss. Were these commenters at all satisfied by the argument that the idea of "workload idle" is captured by "efficiency"? Can we call it "workload efficiency" to satisfy that? I think "idle" needs to remain "assets that have not been allocated" -- and we should not change the definition of "allocated."

[2022-09-13 23:04] nikovacevic commented on #1379
Though I have to agree -- that section on idle is not easy to comprehend. Happy to help draft changes there.

[2022-09-13 23:05] nikovacevic commented on #1379
What does this mean?

[2022-09-13 23:11] nikovacevic commented on #1379
Seems to me that we want to communicate this better:
[code]
The graphic is difficult to understand, and the terms and use of those terms are either (1) very unclear, or (2) simply incorrect.

[2022-09-14 18:16] omartheironman opened #1389 "Inquiry: how cost is computed"
I installed opencost on our clusters. Does it get the default values from gcp.json? and assumed 30% discount? or does it connect to GCP billing and gets the info from there?

[2022-09-14 19:15] nikovacevic commented on #1389
Hi @omartheironman. Thank you for the question.

It sounds like you're on GCP, and asking about how we determine node pricing. We try to connect to GCP Billing APIs, but if that fails we fall back on a local default configuration.

Please checkout the code to learn more, here:

[func (cm *CostModel) GetNodeCost(cp costAnalyzerCloud.Provider)](https://github.com/opencost/opencost/blob/develop/pkg/c

[2022-09-15 13:51] omartheironman commented on #1389
@nikovacevic
Looking at the discount config, i see 30% is that automatically assigned then? so the cost i see at the moment is coming from the billing api and also includes 30%?

[2022-09-15 19:00] nikovacevic commented on #1389
If you haven't changed the settings, and you're using nodes that have a 30% sustained use discount, then yes, that is correct.

[2022-09-16 14:42] Adam-Stack-PM opened #1390 "Consolidate and/or Update Spec Docs"
Currently, Opencost.io Spec docs link users to Google Drive. Within google drive, different versions of the spec link users to multiple places to find the latest version. Additionally Im not 100% sure, but the spec docs in GitHub may be outdated.

We should make sure that Github always has the latest version published and act as the source of truth.

**Links**

Drive: https://drive.google.com/driv

[2022-09-16 16:26] dwbrown2 commented on #1390
This issue belongs here: https://github.com/kubecost/opencost-website

And there's already an open PR!

[2022-09-16 16:26] #1390 closed, assigned to dwbrown2

[2022-09-16 18:05] ivankube commented on #1217
`WRN could not get account tags` is fixed by https://github.com/kubecost/cloudformation/pull/11/files

[2022-09-18 14:49] #1387 closed, assigned to nobody

[2022-09-19 15:18] eumel8 commented on #1387
@nikovacevic thx for the link. I've tried something with `filterControllerKinds` to count and invoice resources for the customer, like `filterControllerKinds=certificate` or `filterControllerKinds=rds`or `filterControllerKinds=ingress`, but couldn't get results. So I used this wrong, or it's not implemented? And if not, how to start working on it?

[2022-09-20 00:33] keithhand opened #1396 "Better Digital Ocean pricing support"
**What problem are you trying to solve?**
For customers on DO clusters, there are custom configuration options for pricing. However, it would be helpful to pull pricing API information in the same way we do AWS, GCP, and Azure.

**Describe the solution you'd like**
Add support for pulling pricing information from Digital Ocean APIs.

**Describe alternatives you've considered**
Add custom prices to

[2022-09-20 20:44] Karthik-Chowdary opened #1398 "provision to add custom costs based on node labels"
In settings we currently only see one setting for all custom costs for GPU, cpu, ram etc., costs
This does not support the following use cases for on-prem and may be for others as well
1. Different GPU types cost different (Ex: Nvidia Ampere costs different than Turing generation and in between generations there are multiple SKU's and boards)
2. Different servers cost vary (HDD servers, NVME serve

[2022-09-22 17:17] AjayTripathy commented on #1387
Hey @eumel8 -- quick question, are you using Opencost or the free community edition Kubecost (https://github.com/kubecost/cost-analyzer-helm-chart)? out-of-cluster resources are available in community edition kubecost. It was a mistake during the migration to Opencost to leave it in the readme here. Apologies for any confusion-- I'll remove that from the README https://github.com/opencost/opencost

[2022-09-23 01:51] AjayTripathy commented on #1382
Hi @larhauga sorry for the late response. Some of this functionality is likely going to be moving out of opencost to slim down the scope. We'll be sure when it's migrated to Community Edition Kubecost to allow configuration of regions. In the meantime, would silencing the errors be helpful?

[2022-09-23 07:04] eumel8 commented on #1387
@AjayTripathy Indeed, we are using Kubecost Community Edition. I wasn't aware about the Opencost project. Good to know you haven't this feature here, but also in Kubecost project I don't see the option to fetch other API resources. But I will ask there.

[2022-09-23 10:09] amar-chand opened #1402 "Kubernetes deployment file is creating opencost namespace but not using it"
In [Kubernetes deployment file](https://github.com/opencost/opencost/blob/develop/kubernetes/opencost.yaml), Following resources/objects are being created:
1. `opencost` Namesapce
2. `opencost` SA
3. `opencost` ClusterRole
4. `opencost` ClusterRoleBinding
5. `opencost` Deployment
6. `opencost` Service

All the resources/objects do not contain the namespace definition. It is pretty much confusing a

[2022-09-23 12:09] dwbrown2 commented on #1379
Helpful feedback, @nikovacevic! Sounds like there is disagreement with the recommendation of this formula?

[code]

where

[code]

Any specific part of that you disagree with?

[2022-09-23 14:36] biancaburtoiu commented on #1398
Thank you for raising this @Karthik-Chowdary! We will consider this enhancement as part of our product roadmap.

[2022-09-23 23:01] biancaburtoiu commented on #1402
Hello @amar-chand, thank you for raising this! We will consider this improvement when revisiting our Kubernetes resource definitions.

[2022-09-28 14:41] anders-elastisys opened #1405 "Fix OpenCost UI Documentation"
The documentation on running the open-source UI, found [here](https://github.com/opencost/opencost/tree/develop/ui#installation--running), does not seem to be correct as it seems to be written for Kubecost and not Opencost. The last command for port-forwarding does not work as there is no deployment called `kubecost-cost-analyzer` created with the open-source project. The correct kubectl command f

[2022-09-28 19:16] Adam-Stack-PM commented on #1405
@bstuder99, Could you run with updating this doc when you have time?

[2022-09-30 02:06] williamscs commented on #1339
Was speaking with Ross in Slack about cluster node right-sizing and we're seeing the same issue with our AKS setup. Only a warning when viewing the "current" setup.

He believes this issue may also be leading to some label mapping issues.

[2022-09-30 03:28] chenbiao7 opened #1408 "Asset Price Not Right"
Hi Guys, I install kubecost on AWS EKS in us-east-1 region. When I open the Web UI , I found the price is not the same as AWS, you can look the following screenshot.
1\ Node price:
**In AWS us-east-1 region ,the on demand price with t3.meduim 0.0416$/Hour**
<img width="1250" alt="image" src="https://user-images.githubusercontent.com/21186145/193183046-391cc27e-c710-4586-a1fb-ef47d9237c5a.png">
2\A

[2022-09-30 04:04] pcperera opened #1409 "Opencost discrepency with GKE usage metering even with reconciliation enabled"
### Issue

We have observed significant cost variance (between opencost and GKE usage metering) for several namespaces of our GKE cluster. The below comparison was done for 11 day range for **argocd**, **victoria-metrics** and **kube-system** namespaces.

![image](https://user-images.githubusercontent.com/15628990/193188268-22c27d2f-a652-4494-af1c-2323572b466f.png)

![image](https://user-images.gi

[2022-09-30 07:28] AjayTripathy commented on #1409
Hi @pcperera -- can you:
1. Ensure that reconciliation is enabled with a detailed billing report from GCP? https://github.com/kubecost/docs/blob/80847ba25a4978bbb939223a94d6334fcdcee5d8/gcp-out-of-cluster.md#step-1-enable-billing-data-export
2. The invariant on the kubecost / opencost side is that sum(CPU + GPU + RAM) on the allocations side, with idle allocated == price of the node on the kubecos

[2022-09-30 07:39] AjayTripathy commented on #1408
1. Looks like the node price is roughly correct (0.042 ~ 0.0416 to 3 significant figures). For the UI we round to 2 decimals, I believe if you look in the API you will see the price.
2. Loadbalancer prices are estimates, you can get more accurate billing data by integrating with kubecost + the cost and usage report. https://github.com/kubecost/docs/blob/main/aws-out-of-cluster.md

[2022-09-30 14:10] pcperera commented on #1409
Hi @AjayTripathy

1. Correct. Detailed billing exports have already been enabled.

![image](https://user-images.githubusercontent.com/15628990/193285701-9b62ff58-8f42-4142-bbd6-b2b1db800a7e.png)
![image](https://user-images.githubusercontent.com/15628990/193285787-f11b5cad-f092-41b2-a1dd-3043fad53b72.png)

2. Do you mean the total (CPU + GPU + RAM) cost of the cluster or for the namespace ?

[2022-09-30 14:13] pcperera commented on #1409
@AjayTripathy

We generally receive the below error when loading asset data. Is this due to timing out opencost to billing export connection ? If so how this timeout can be increased ? If not what is the cause ?

![image](https://user-images.githubusercontent.com/15628990/193289281-7a8d2591-6b8c-4b73-b958-c4a036a4cc69.png)

[2022-09-30 17:15] brstuder commented on #1405
Issue created that corrects this: https://github.com/opencost/opencost/pull/1410

[2022-10-02 17:18] AjayTripathy commented on #1409
It seems likely that the backing pod is unavailable. You probably want to look for the reason for the restart (kubectl describe pod) to figure out why. Common reasons might include an OOM.

[2022-10-02 17:18] AjayTripathy commented on #1408
@chenbiao7 closing this for now. Let me know if you have any other questions.

[2022-10-02 17:18] #1408 closed, assigned to nobody

[2022-10-02 17:29] AjayTripathy commented on #1405
Fixed in #1410

[2022-10-02 17:29] #1405 closed, assigned to nobody

[2022-10-02 17:30] AjayTripathy commented on #1396
Created the v1.99-proposal label to revisit for v1.99 planning

[2022-10-02 17:32] chenbiao7 commented on #1408
Hi @AjayTripathy，
Thanks for your reply， I made a test in the past tow days. on 09/30, I intergrated the kubecost and the cost and usage report what you can see the following pictures:
<img width="1075" alt="image" src="https://user-images.githubusercontent.com/21186145/193467521-7d5e08f8-dda5-42ec-a0b5-6dafca80fad6.png">
Unfortunately, my LoadBalancer price is still not right and the hourly rate

[2022-10-03 21:04] AjayTripathy commented on #1408
Accurate data from the AWS CUR is available only > 48 h after integration, and only for data > 48 h. Can you confirm you're looking at loadbalancer cost for days > 48 old?

[2022-10-05 04:41] rossfisherkc commented on #1339
@AjayTripathy pinging you as this issue has stalled, I have an open case from Sep 13th, and another customer, above, waiting on this fix

[2022-10-05 08:25] mattray opened #1412 "Cost Allocations aggregation by Teams is leaky"
When aggregating by the Team label, pods and namespaces with the label applied are included, but Workloads in the namespace may not be included (DaemonSets, Deployments, StatefulSets). Pods that replace tagged pods don't get the labels (unless specified), so they can drop out as well. Users (customers) expect a team-labeled namespace to contain the Workloads in the namespace.

Potentially related

[2022-10-05 19:52] dsterz commented on #1379
Hi @nikovacevic,

I was involved in the initial discussions around the whole spec and also struggled with the idle cost chapter in particular and agree that it's not easy to comprehend and happy to support on drafting different versions that the community will like more.

I feel that discussing that in here is not the most efficient way so i propose to not have this github issue idle too much so l

[2022-10-06 01:16] mattray opened #1413 "Asset CSV downloads are missing details useful for sorting"
When looking at Assets there are details such as instance-type, # of CPUs and total memory. These additional details are not provided in the downloaded CSV and would provide valuable data for sorting.

<img width="2264" alt="Screen Shot 2022-10-05 at 7 28 51 PM" src="https://user-images.githubusercontent.com/330023/194016214-5465ad8f-557a-4244-bd75-8b860e59abfe.png">

[2022-10-06 04:42] pcperera opened #1414 "Inconsistent cost efficiency numbers"
### Issue

Cost efficiency of the last 7 days is 32.8% according to the overview page.

![image](https://user-images.githubusercontent.com/15628990/194215528-baaa6c49-52c7-4022-bbdd-79cb257c3da0.png)

But if I go to the cost efficiency link indicated above it shows a different efficiency number.

![image](https://user-images.githubusercontent.com/15628990/194215947-7144d336-cf77-4c5e-85d0-f18e3fa0

[2022-10-06 23:31] AjayTripathy commented on #1339
Hey @rossfisherkc sounds like we have a good description of the issue. This seems like something I can knock out for v1.98.

[2022-10-07 00:10] AjayTripathy commented on #1414
Hi @pcperera, looks like the Overview card is showing "hardware" (used resources on a node) efficiency, while Cost Allocation is showing "workload" (usage/request) efficiency. We'll make this clearer in v1.98

[2022-10-07 12:03] sppwf opened #1416 "Option to add additional Columns"
Hi Guys,

Is it possible to add additional Columns to the cost allocation csv file? The idea is that i would like to have an allocation report per deployment and add to csv file as well additional labels key/value for each object. Label key to be the Column name.

Thanks
Sergiu Plotniciu

[2022-10-07 16:25] AjayTripathy commented on #1416
Hey @sppwf this doesn't seem too hard. We can consider it for v1.99 -- @Adam-Stack-PM mind helping triage?

[2022-10-10 17:49] nikovacevic commented on #1379
@dwbrown2 yes, I have some disagreement there, but I understand the idea it's trying to communicate. The two issues are:

1. This formulation conflates two different ideas (i.e. cluster compute idle cost, workload efficiency) and puts them behind the single word "idle" -- but maybe we will decide that's intended.
2. The writing and graphics do not clearly communicate the existing idea (i.e. the co

[2022-10-10 17:56] nikovacevic commented on #1379
@dsterz I'd be happy to find some time to draft an alternative that could become a PR. We could either meet in early November, or we can collaborate asynchronously in a Google Doc -- do you have a preference?

[2022-10-11 08:40] DanTulovsky commented on #1161
Ah ok. I wasn't sure if I should be concerned or not...

On Tue, Apr 19, 2022 at 12:13 PM keith.hand ***@***.***>
wrote:

[2022-10-11 11:19] AjayTripathy commented on #1413
Let's revisit the CSV for v1.99 cc @Adam-Stack-PM

[2022-10-11 11:42] AjayTripathy opened #1419 "Option to disable node_cpu_seconds_total query"
This query can be pretty intensive on clusters with high CPU counts since it reports one metric per core. This data can be found in other ways (sum all CPU usage for containers on a particular node) and is optional for the API (does not have to do with cost allocation).

It's from node-exporter, so one simple way to stop importing this data/stop running the query if it's to turn off node-exporter.

[2022-10-11 12:18] AjayTripathy commented on #1412
Maybe a flag to enable consumption/collection of workload labels? Most of our allocation model is based on pods today but I'm not opposed other than for reasons of cardinality.

[2022-10-14 11:24] AjayTripathy opened #1426 "Set User Agent in Prometheus Queries"
This is so that operators of managed prometheus services can better understand our traffic patterns.

[2022-10-14 14:51] kc-creynold commented on #1329
@Adam-Stack-PM @michaelmdresser CU is still seeing this issue post 1.97 upgrade.

[2022-10-14 20:41] michemoche commented on #1332
Hello ! I'm kinda facing the same problem, can I expose my situation here or do you want me to open a new issue ?

ps : great tool btw

[2022-10-15 16:16] nealormsbee commented on #1332
@michemoche thank you! We'd love to help. Are you also running v1.95.0, or encountering this issue in a different version?

Either way, exposing your situation here works just fine.

[2022-10-17 19:22] michaelmdresser commented on #1329
@kc-creynold to clarify, are you talking about the reported issue with the Inspect (`/details`) page? Or the reported issue on the Allocation (`/allocations`) page? My read of the current situation is that we think `/allocation` is fixed but not `/details`.

[2022-10-17 20:32] michemoche commented on #1332
Hello ! I'm running the 1.97 version

my kubecost setup is configured at "/opencost/" URI
everything is working fine with the redirections in the ingress rule

everything but one thing : when you go to "Cost Allocation", you have a table with namespaces, you can either click on the row and you will stay on the allocation page with aggregationned data displayed

Or click on the namespace's name and

[2022-10-17 22:02] thomasvn opened #1429 "Unable to set clusterName"
In OpenCost, you are able to set the `cluster_id` by setting the Deployment's environment variable. As shown [here](https://github.com/opencost/opencost/blob/92519f1885fc728abf0419c573cf4cbb0f4f09e6/kubernetes/opencost.yaml#L158).

While you can similarly set a [`cluster_id` in Kubecost](https://github.com/kubecost/cost-analyzer-helm-chart/blob/5c43d0fa6bdd0870a258641825db6eda4af325f7/cost-analyze

[2022-10-17 22:03] thomasvn commented on #1429
For reference, I was able to access the OpenCost UI by:

[code]

And I was able to access the Prometheus UI by:

[code]

[2022-10-17 22:46] michemoche commented on #1332
this is our ingress btw

[code]

[2022-10-18 06:59] AndrewChubatiuk opened #1431 "Add ability to filter prometheus queries by current cluster ID"
Now OpenCost queries do not have current cluster id filter as they expected to be performed against per-cluster Prometheus which has only current cluster metrics. In a setup with Victoria Metrics it requires to have agent per each cluster for metrics aggregations and this agent has no /metrics endpoint, it pushes metrics to monitoring cluster. It's inconvenient to have a separate Prometheus in eac

[2022-10-18 12:54] kc-creynold commented on #1329
@michaelmdresser this would be /details page

@atyiadam please add any additional info that i may have missed.

[2022-10-18 17:48] michaelmdresser commented on #1329
@Adam-Stack-PM heads up for you here, not sure if this is being tracked as unfixed right now!

[2022-10-19 00:48] mattray commented on #1288
The project has been moved to https://github.com/opencost/opencost

[2022-10-19 00:48] #1288 closed, assigned to AjayTripathy, teevans

[2022-10-19 00:53] mattray commented on #1224
Let's close this once https://github.com/cncf/cncf.io/issues/610 has been closed

[2022-10-19 04:38] mattray commented on #1281
Verified and closed

[2022-10-19 04:38] #1281 closed, assigned to srpomeroy

[2022-10-19 04:52] mattray commented on #1282
This was removed in https://github.com/opencost/opencost/pull/1280/files#diff-06a6a0129d193b9e9ea8ac26544568cc79168aefff3b8d18cc5e3ad3bdf50333

[2022-10-19 04:52] #1282 closed, assigned to avrodrigues5

[2022-10-19 05:06] mattray commented on #1056
https://github.com/opencost/opencost/blob/develop/LICENSE is there.

[2022-10-19 05:26] mattray commented on #1224
Upstream updated.

[2022-10-19 05:26] #1224 closed, assigned to nobody

[2022-10-19 05:31] mattray opened #1434 "1.97 and -rc releases are missing from Releases"
I assume this is automated? If not, everything after 1.96 is missing.

[2022-10-19 08:03] AjayTripathy commented on #1429
Thanks for the issue. Definitely think we can support this, but think this might be tricky since Opencost doesn't really have storage outside of the PromQL instance it puts timeseries in. Adding another label to each vector with clusterName is probably overkill. Any indication why just using ClusterID is insufficient?

[2022-10-19 16:49] dwbrown2 commented on #1434
@AjayTripathy can you comment? Can we document this as part of the release process if it's not automated?

[2022-10-19 17:03] dwbrown2 commented on #1332
cc @AjayTripathy while Neal is OOO this week

[2022-10-19 20:26] thomasvn commented on #1429
For this concern, I think that OpenCost can emit both the `id` and `name` from its /metrics endpoint as shown below:

[code]

Using `cluster_id` is mostly sufficient! However for the UI, changing `cluster_id` does not actually change the name of the cluster as shown in the screenshot above.

[2022-10-19 23:34] AjayTripathy commented on #1429
Every additional byte is meaningful since this is appended to all metrics. Not opposed to this solution, just wanted to call that out.

[2022-10-20 00:03] AjayTripathy commented on #1332
Thanks for this report! I think this should be quick to knock out as a bug in v1.98. @Adam-Stack-PM can you track this for our bugfix week?

[2022-10-20 09:46] atyiadam commented on #1329
@michaelmdresser @kc-creynold Yes. `/allocations` page seems to be only displaying the correct resources. `/details` still has the issue of displaying non-related resources.

[2022-10-20 23:56] DerrickMartinez opened #1440 "Support for k8s 1.25"
Opencost is broken in k8s 1.25. Need to move from v2beta1 to v2

[code]

[2022-10-21 00:02] atamnitkkr opened #1441 "No opencost API for predicting future cost"
Could not find Opencost API for predicting future cost of Kubernetes cluster https://www.opencost.io/docs/api. But I could see corresponding cli command
![image](https://user-images.githubusercontent.com/116127135/197081405-3aa28ac5-fbab-4598-b99f-5b6adf887618.png)

[2022-10-21 00:54] dwbrown2 commented on #1440
Thanks for reporting, @DerrickMartinez! Can you share what install path you're using?

[2022-10-21 06:47] DerrickMartinez commented on #1440
Not sure what you mean, but it’s the latest version on quay. (1.97)

To get it working, an update is needed for the autoscaling hpa references to v2beta1 should be v2

[2022-10-21 11:54] ruudvanderweijde commented on #1440
I can confirm that Opencost stopped working on Kubernetes 1.25

[2022-10-22 20:07] Adam-Stack-PM commented on #1416
+1 to build on the idea would propose we allow users to configure the export columns. For large users, these reports could be very large, and this could also reduce the processing time.

[2022-10-22 20:09] Adam-Stack-PM commented on #1413
Related issue https://github.com/opencost/opencost/issues/1416

[2022-10-24 01:38] AjayTripathy commented on #1441
Hi @atamnitkkr , kubectl cost runs against the community edition kubecost-- there's currently no support for projections in the open-core APIs. However, you could derive one quickly by taking the window and multiplying it over the window you want to project costs over.

[2022-10-24 03:01] AjayTripathy commented on #1440
Here are the references to autoscaler: https://github.com/opencost/opencost/search?q=autoscaling%2Fv2beta1

I believe the k8s client-go library may need to be updated to get this into autoscaling v2.

@michaelmdresser did this last: https://github.com/opencost/opencost/commit/c20b870ce47fc552bfd2de1c3ea0a4523eae7cc4 , can you help out with the upgrade here?

[2022-10-25 02:21] AjayTripathy commented on #1434
@kaelanspatel I think you discussed possibly tagging this one manually but decided against it? could you provide context as buildmaster this time?

[2022-10-25 10:27] tohjustin opened #1446 "Inaccurate PV costs (off by 7-9% of actual disk costs shown on Assets view)"
Currently observing some discrepancy in PV costs on Kubecost v1.97.0.

There's consistently a 7-9% difference between the PV costs shown in the Cost Allocation view compared to the costs of the underlying FSx Filesystems & EBS Volumes shown in the Assets View (which matches our AWS bills).

## Example A: EBS-based PVs, mounted by one pod at a time (over 7 days)

- Assets View: Total costs for all

[2022-10-25 13:15] AjayTripathy commented on #1446
Hi @tohjustin , thanks for this report. Would it be possible for us to get a dump of your data via tarball so we can investigate this closely? https://github.com/kubecost/etl-backup . You can send it to me via email me at ajay@kubecost.com

[2022-10-25 14:13] michaelmdresser commented on #1440
Have a partially-complete/partially-tested PR open to attempt to address this: https://github.com/opencost/opencost/pull/1447. Still working on testing/validation and checking official K8s docs to figure out API version compatibility for older versions of K8s. Just wanted to give y'all an update on the progress so far!

[2022-10-25 16:20] kaelanspatel commented on #1434
This part is certainly automated, but is currently expected to be run by each buildmaster locally using their own gh cli auth.

As I am not an opencost maintainer, the script that does this fails to add the release (and maybe did for Neal in v1.97).

[2022-10-25 17:53] Adam-Stack-PM commented on #1301
@dschunack, This is still on our radar but not scheduled for a release at this time.

[2022-10-25 17:59] Adam-Stack-PM commented on #1414
@nealormsbee, Could you let me know if this is fixed in v1.98 or should we push it to v1.99?

[2022-10-25 19:39] atamnitkkr commented on #1441
@AjayTripathy
Do we have an API that can give the total cost of the cluster i.e. Resource allocation cost? (which include idle resource cost).
I see API is for resource usage cost.

[2022-10-25 19:45] michaelmdresser commented on #1440
Thoughts so far after some research. Posting here for common reference so I can start some conversations internally.

## Why this is broken
As can be seen in the first-attempt PR (https://github.com/opencost/opencost/pull/1447/files#diff-fecaca093692f3443309a9205d4bc3afef0e3207ae9174528181dde143bfa533) the cluster cache code expects HPAs to specifically be `autoscaling/v2beta1` HPAs. This is not a

[2022-10-26 15:53] michaelmdresser commented on #1440
We have an open PR, using option 2, which should provide K8s v1.25 support once merged.

[2022-10-26 15:53] michaelmdresser commented on #1440
https://github.com/opencost/opencost/pull/1452

[2022-10-26 16:11] #1440 closed, assigned to michaelmdresser

[2022-10-27 22:54] dwbrown2 commented on #1301
I'd like to review with 1.99 now that we've scale tested new UI! @Adam-Stack-PM can we track?

[2022-10-27 23:02] Adam-Stack-PM commented on #1339
@AjayTripathy Pushing to v1.99.

[2022-10-28 06:49] dschunack commented on #1301
Thanks for the Update.

[2022-10-28 16:28] nealormsbee commented on #1332
Good news all! This issue is the same as https://github.com/kubecost/cost-analyzer-helm-chart/issues/1716, which has been resolved for the v1.98 release. I believe we can safely close this issue.

@AjayTripathy I don't think I can close issues on the OpenCost repo, as I'm not a maintainer. Can you or someone else with the right permissions close this out?

[2022-10-28 16:47] michemoche commented on #1332
sweet ! thanks ! I will wait for the official release of the helm chart 1.98 then :)

[2022-10-28 17:05] Ulrar opened #1462 "External Prometheus Authentication"
**Describe the bug**
I'm trying to deploy OpenCost to run using our existing Prometheus deployment, which is in another cluster.
It's protected using Basic Auth, and I can't find how to define that for the kubecost-cost-model container.

Looking at [this](https://aws.amazon.com/blogs/mt/integrating-kubecost-with-amazon-managed-service-for-prometheus/) it sounds like there might be more env variabl

[2022-10-29 00:04] nealormsbee commented on #1414
I did not open a PR for this 🤦

v1.99 it is

[2022-10-29 00:14] AjayTripathy commented on #1414
I'd like to get this in v1.98 if this is as quick as we thought it was @nealormsbee

[2022-10-29 00:16] nealormsbee commented on #1414
Sure! Only question I have is:

Do we want to make it clearer that this number includes idle costs, or change the number to use workload efficiency (like cost allocation)? I'd probably favor the 2nd approach, but no strong preference.

[2022-10-29 00:29] AjayTripathy commented on #1414
I thnk I agree with favoring the 2nd approach, let's just make these match so we aren't introducing another concept here.

[2022-10-29 01:45] AjayTripathy commented on #1434
I think let's give the buildmaster temporary write/maintainer access to opencost. I can do that now.

[2022-10-29 01:52] AjayTripathy commented on #1441
In opencost you can use "/clusterCosts" for that computation.

[2022-10-29 02:14] AjayTripathy commented on #1462
Check out https://github.com/opencost/opencost/blob/e89a0df34131d4695b5500de629864e248d06f4c/pkg/env/costmodelenv.go#L52

@mattray seems like another great opportunity to add to the opencost docs as well.

@Ulrar you may find this easier to deploy our community edition helm chart: https://github.com/kubecost/cost-analyzer-helm-chart

[2022-10-31 00:03] atamnitkkr commented on #1441
@AjayTripathy thanks

[2022-10-31 15:43] nikovacevic commented on #1332
Closing per @nealormsbee comment above

[2022-10-31 15:43] #1332 closed, assigned to nobody

[2022-10-31 19:01] AjayTripathy commented on #1431
Hey @AndrewChubatiuk I'm supportive here, just a few notes on testing and we can look to add this to v1.99

[2022-10-31 21:02] wolfeaustin commented on #1329
Thanks for reporting and working through this with us! There was a bug on the `/details` page that affected how filters were being mapped. This has been remedied and will be fixed in `1.98`.

[2022-10-31 22:20] #1329 closed, assigned to nobody

[2022-11-01 09:46] Ulrar commented on #1462
Hi,

Thanks, those variables do work.
I've had a look at that chart but I didn't see any reference to prometheus authentication, sorry if I missed it.

Still having an issue with the GCP API Key, but that's a separate problem.
Thanks !

[2022-11-01 10:19] Ulrar opened #1464 "Failed to load auth secret, or was not mounted: Secret does not exist"
Hi,

I'm trying to setup opencost in a GKE cluster and I've got it connecting to Prometheus now, but it then fails with the following errors :

[code]

Is there a list of the permissions required for the GCP Key, and do In need to provide anything besides that key in the `CLOUD_PROVIDER_API_KEY` env var ? Looking at the code it seems to be looking for a key.json file, not sure what that's about.

[2022-11-01 16:02] AjayTripathy commented on #1462
@kirbsauce can you please assign to the support eng team to make sure this gets documented? Then I think this issue is ok to close.

[2022-11-01 16:29] kirbsauce commented on #1462
documentation task being tracked here -> https://github.com/kubecost/support/issues/40

[2022-11-01 17:20] tohjustin commented on #1446
Hi @AjayTripathy, apologies for the late follow up. I’ve just sent you an email ([ajay@kubecost.com](mailto:ajay@kubecost.com)) with the requested files 🙏

[2022-11-01 19:44] prune998 opened #1465 "Opencost /metrics endpoint duplicating other metrics"
**Describe the bug**
After installing `opencost` and looking at the `/metrics` endpoint, I see some metrics that are already created by the `kube-state-metric` service, like `kube_pod_container_status_running`.

This is an issue as all existing dashboards using a `sum(kube_pod_container_status_running)` will get double the result.

**To Reproduce**
Steps to reproduce the behavior:
1. install prome

[2022-11-02 12:53] AndrewChubatiuk commented on #1465
@prune998
https://github.com/kubecost/cost-analyzer-helm-chart/issues/1200
https://github.com/kubecost/cost-analyzer-helm-chart/blob/93d3255870766d236628359a969b7691450d0095/cost-analyzer/values.yaml#L892

[2022-11-02 13:12] prune998 commented on #1465
hummm,
Thanks @AndrewChubatiuk . I swear I searched for it....

There seems to be some disagreements in the issue thread, but it was decided to merge it anyways ?
I really don't like the idea of leaving the decision and the list of metrics to disable to the user... Next time another metric is added, like during an upgrade, we mostly will not be aware of it until it's doubled...

https://www.openco

[2022-11-02 17:27] AjayTripathy commented on #1464
Hey @Ulrar -- a couple of quick questions.

 Is the pod actually failing to run? If so, what happens when you port-forward in and hit some endpoints with requests? These should be optional for opencost and we should be falling back to default prices when these keys aren't supplied. For a full list of key permissions you can check out how kubecost configures its GCP keys; should be the same for ope

[2022-11-03 08:59] Ulrar commented on #1464
Hi @AjayTripathy,

The pod does run, it's not crashing, but I can't get any metrics out of it.
Here's what happens :
[code]

Unsurprisingly if I login to the pod and run `netstat -tupln` I don't see any open ports.
I assumed that was because of the errors in the initial issue that the port never opened but you're saying it's something else ?

Thanks for the link, that looks helpful !
EDIT: Actuall

[2022-11-03 18:58] atamnitkkr opened #1468 "Reports zero Network cost, Loadbalancer cost and PVs cost"
**Describe the bug**
Zero cost reported for Network, Loadbalancer, PVs.
Note that PVs exist in the cluster which are used by Prometheus and grafana.

**To Reproduce**
Prometheus is setup as follows -
helm install prometheus prometheus-community/kube-prometheus-stack \
--namespace prometheus \
--set alertmanager.persistentVolume.storageClass="standard" \
--set server.persistentVolume.storageClass="

[2022-11-03 19:51] atamnitkkr opened #1470 "Cost aggregation for pod label is not working"
**Describe the bug**
I am trying to get cost of all pods with particular labels eg.
![image](https://user-images.githubusercontent.com/116127135/199818999-3eabf5a5-aa91-40ba-95d7-3853d4f37bd4.png)

But aggregation is not working ... It always reports the cost with
![image](https://user-images.githubusercontent.com/116127135/199819213-ed526190-e00f-44ad-be38-4c794a793853.png)

**To Reproduce**
Prom

[2022-11-03 21:16] thomasvn commented on #1465
@prune998 The following Kubecost docs state that kube-state-metrics metrics are both consumed and emitted by Kubecost for long-term stability reasons. Those docs also provide options for disabling kube-state-metrics or disabling the emission of kube-state-metrics from Kubecost.

[1] https://guide.kubecost.com/hc/en-us/articles/4425134686743-User-Metrics#kube-state-metrics
[2] https://guide.kubecos

[2022-11-03 22:03] atamnitkkr commented on #1441
@AjayTripathy I tried using the suggested API /clusterCosts. Unfortunately there is no documentation of it  https://www.opencost.io/docs/api

API - curl http://localhost:9003/clusterCosts -d window=120m   -d resolution=1m   -d aggregate=cluster   -d accumulate=true   -G
Result -
![image](https://user-images.githubusercontent.com/116127135/199842702-081e2f5f-371e-44e6-bb0a-28359870349d.png)

Few qu

[2022-11-03 22:11] thomasvn commented on #1468
@atamnitkkr. For network costs I believe you'll need to enable the [networkcosts daemonset](https://guide.kubecost.com/hc/en-us/articles/4407595973527-Network-Traffic-Cost-Allocation). And for load balancer costs I believe you'll need to enable cloud integrations.

I was unable to reproduce your issue for the `PersistentVolume` metrics. I see data for `pvBytes` and `pvCost` in my Opencost deployme

[2022-11-04 01:28] etamong commented on #1398
I'm really looking forward it to be included in the product roadmap.🙂

Our K8S clusters have various GPUs such as:
- Geforce RTX2080
- Quadro RTX5000
- Tesla V100 (16g)
- Tesla V100 (32g)
- Tesla A100 (40g)
- Tesla A100 (80g)
...

And we found that they are same price at this time.
However Tesla A100 and Geforce GPUs' price are so different.

[2022-11-04 03:29] atamnitkkr commented on #1468
@thomasvn

- Opencost is being deployed via the YAML file. I do not see a way via helm chart. Also, I do not see opencost YAML have networkcosts daemonset. Is it also part of the Apache license?

https://raw.githubusercontent.com/opencost/opencost/develop/kubernetes/opencost.yaml

- How can I enable cloud integration?
- Yes looks like kube-prometheus donot have kube_persistentvolume_capacity_bytes

[2022-11-07 15:25] AjayTripathy commented on #1434
https://github.com/opencost/opencost/releases/tag/v1.98.0 has been properly tagged, so closing.

[2022-11-07 15:25] #1434 closed, assigned to nobody

[2022-11-07 15:32] AjayTripathy commented on #1441
Yes, CPU breakdown is a percentage.

It sounds like we've got https://github.com/opencost/opencost/issues/1468 open for network costs and PVs. The storage breakdown would be expected to be 0 for all users if we aren't getting any PV statistics.

[2022-11-07 17:33] AjayTripathy commented on #1464
It would be surprising to me if the port-forwarding error was a result of those warnings. You may want to check if opencost is restarting/OOM-ing/CPU throttled and dropping the connection, but otherwise this seems like a network issue. Perhaps try to put it behind an ingress and query that way?

Bigquery is still used for more accurate pricing in opencost, but as a note prices will still not be 10

[2022-11-07 17:49] Ulrar commented on #1464
Hi @AjayTripathy,

I think the real issue is the port isn't open on the pod itself, for some reason.
The pod is stable yes, it's been up for weeks without any crashes, and it doesn't log anything afterwards, it just hangs there and never opens up the port.
I've restarted it a few times of course, always the same behavior

[2022-11-07 18:17] Pokom opened #1472 "Downstream performance impacts on Metrics store"
**Overview**

At Grafana, we've rolled out `opencost` to our fleet of clusters and are seeing a downstream impact on our Mimir databases read performance.
Our read performance SLO had ~10% drop once we rolled out `opencost` to all of our clusters(`2022-10-21`):

![Image](https://user-images.githubusercontent.com/1080566/200383286-49dd8a57-7542-440f-8b53-9d420c1e4de5.png)

We've been able to trace

[2022-11-07 20:38] AjayTripathy commented on #1472
Hi @Pokom thank you so much for this report! We're always excited by performance improvements on the promQL side. Here are my thoughts.

1. I don't see any potential problems with aligning the start/end times; we can try this out and run integration tests on our end to gain confidence.
2. Any indication what queries are being run as range queries out of alignment? We've taken a pass to try and cut

[2022-11-07 20:44] Pokom commented on #1472
@AjayTripathy I think all the queries that are fired off in parallel here(https://github.com/opencost/opencost/blob/c7706a4fb2920869500f46ead1a7c5304080187f/pkg/costmodel/costmodel.go#L1613-L1635) are potential queries that are out of alignment. I can work with Mimir engineers to see if we can validate these are the main culprits, but it's a bit of a needle in a haystack search.

I'd love some hel

[2022-11-08 13:37] yourmoonlight opened #1474 "deployments.apps "opencost-cost-analyzer" not found"
**Describe the bug**
when i try to follow the ui doc，run this cmd and then the error comes.
https://github.com/opencost/opencost/tree/develop/ui

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="732" alt="image" src="https://user-images.githubusercontent.com/6244271/200578936-922d9eb7-77a8-4e6d-9ad0-6f7cb8d96d03.png">

[2022-11-08 17:34] AjayTripathy commented on #1468
Hi @atamnitkkr , the network costs daemonset and the cloud integration with network costs is not currently part of our open source offering. We'll look to either expanding the offering or remove it from the API spec.

https://github.com/kubernetes/kube-state-metrics/blob/master/docs/persistentvolume-metrics.md is a KSM metric, so not sure why that wouldn't exist unless no PVs were mounted in your

[2022-11-08 20:13] atamnitkkr commented on #1468
@AjayTripathy Ok thanks. Yes, we can make documentation and API spec consistent in that case because as of now opencost is claiming to give cost for Loadbalancer and Network.
https://github.com/opencost/opencost/blob/develop/spec/opencost-specv01.md
I will investigate why I am not getting PV metrics.

[2022-11-08 21:21] dwbrown2 commented on #1414
Proposals out of this discussion:

1. tooltips in allocation (1.99)
2. link cluster efficiency to new page with efficiency details / over time (1.100)

[2022-11-08 22:46] AjayTripathy commented on #1468
@mattray can you find and update the relevant documentation?

[2022-11-08 23:18] AjayTripathy commented on #1468
@atamnitkkr load balancer costs should be available. I think that there may be another metric missing from Prometheus

[2022-11-08 23:19] AjayTripathy commented on #1470
Based on other tickets it seems like another metric may be missing from Prometheus. Does 'kube_pod_labels' exist in Prometheus?

[2022-11-09 04:44] AjayTripathy commented on #1474
The name's been changed in opencost-- @mattray can you help update the documentation here? Probably should read

kubectl port-forward deployment/opencost 9090

[2022-11-09 04:46] AjayTripathy commented on #1398
https://github.com/opencost/opencost/pull/1471 should begin to help address some of this for GPUs, at least when the CSV pricing sheet is provided.

[2022-11-09 19:00] Logiraptor commented on #1472
Hi :wave: I'm on the Mimir team at Grafana.

I agree with @Pokom those are probably the bulk if not all. I'm not super familiar with the opencost codebase but those do look like a lot of the queries I see in our logs.

One other thing that would help improve performance for us is to have the option of running queries with a delay of 24h. For Mimir, this would mean queries can avoid hitting the ing

[2022-11-09 19:04] AjayTripathy commented on #1472
@Pokom thanks for the tip. We shouldn't be running those sorts of queries in any automated loop-- could I get a sense of what queries are being made / what APIs are being called on your end? Also, to clarify, you've installed just the opencost containers, not the full suite of kubecost tooling (https://github.com/kubecost/cost-analyzer-helm-chart), right?

[2022-11-09 19:08] atamnitkkr commented on #1470
@AjayTripathy Yes, this metric is available. Pods with this label have been terminated after completion. But Seems like I was giving the wrong window. **My error.**

**Just to confirm my use-case**
Usecase - let's say I submitted one spark job with a particular label. This particular spark job creates multiple executors pods. Some executor pods live for a short time. Some executor pods live for a

[2022-11-09 19:21] atamnitkkr commented on #1468
@AjayTripathy possible, even opencost metric opencost_load_balancer_cost/kubecost_load_balancer_cost is missing. Can you please help me with the metric name?
Or if possible can you please help with opencost development setup steps, where I can debug opencost by attaching a debugger?
Sorry for asking for too much help on this.

[2022-11-09 20:22] Pokom commented on #1472
@AjayTripathy

Just the `opencost` container with no additional UI/kubecost tooling.

That's interesting. The only thing we're doing is scraping the `/metrics` endpoint to gather the metrics. Can you point towards the entrypoint in the codebase for kicks off running processes in the background to collect metrics? We're getting the following metrics exported:

- `container_cpu_allocation`
- `contai

[2022-11-09 20:46] AjayTripathy commented on #1472
Thanks @Pokom ...let me also do some investigation on our side. Maybe our container usage derivation loop (queries prometheus for usage data not in the k8s api) is needlessly doing this or perhaps needlessly hitting all clusters instead of scoping down to per-cluster.

[2022-11-09 20:49] mmurph3 commented on #1382
I have a customer experiencing this issue in kubecost enterprise. Generates a lot of noise in cloudtrail logs.

[2022-11-09 23:09] rossfisherkc commented on #1382
cc @AjayTripathy is there a way for the customer to disable these log errors?

[2022-11-10 14:12] Pokom commented on #1472
So just an update from my investigations into enabling `disableCache`:

The missed cache log statement is coming from [aggregation.go#1411](https://github.com/opencost/opencost/blob/3a4efb06f179d4b1cfa9b9e0e4d884529d091c9e/pkg/costmodel/aggregation.go#L1411), and it's pretty clear from the logs that `disableCache` is always set to `true` when it gets to this point of the code. I looked back at the

[2022-11-10 20:20] kaelanspatel commented on #1446
Sorry, closed this accidentally with the PR.

[2022-11-11 03:30] AjayTripathy commented on #1464
https://github.com/opencost/opencost/blob/develop/kubernetes/opencost.yaml#L175
https://github.com/opencost/opencost/blob/cda202ddedb57d02bc307ea63052b29f1a504c97/pkg/cmd/costmodel/costmodel.go#L39

port 9003 is supposed to be open-- is it possible something on your end is blocking us here?

[2022-11-11 13:22] AndrewChubatiuk opened #1481 "node_cpu_hourly_cost and node_ram_hourly_cost contain unnormal spikes"
**Describe the bug**
When visualizing opencost metrics in grafana node_cpu_hourly_cost and node_ram_hourly_cost metrics contain spikes, which are not expected as they appear for instance, which has constant pricing model.

**To Reproduce**
Visualize opencost metrics in grafana

**Expected behavior**
All node_cpu_hourly_cost and node_ram_hourly_cost metrics should be constant for instance type

**S

[2022-11-11 18:07] AjayTripathy commented on #1481
Hi @AndrewChubatiuk , I don't see this on our end. Can you share:
1. a graph of node_total_hourly_cost ?
2. what instance this is and your cloud provider/how this pricing is being determined?

[2022-11-11 18:35] AjayTripathy commented on #1468
No problem. Are you whitelisting anything on prometheus? Can you find either of those metrics by port-forwarding to the pod and visiting  localhost:9003/metrics ? That would help us understand if its metric emission or something else in prometheus preventing us from seeing that.

[2022-11-11 18:50] AjayTripathy commented on #1382
I think setting the log level is the only way currently: https://github.com/kubecost/cost-analyzer-helm-chart#adjusting-log-output

[2022-11-14 09:57] Ulrar commented on #1464
Hi,

That's the full log for the pod :
[code]
That's the whole log, after that it re-logs that scaler warning every once in a while but never anything else.

I do notice now that it says `NAMESPACE: kubecost` which is wrong, it's in namespace `opencost`. Not sure where it's getting that from.
And there's also that scaler warning, but it's only deprecated so presumably not an issue yet, but maybe i

[2022-11-14 19:30] yeya24 opened #1483 "Revise some queries to use Series API rather than Query API"
**Overview**

Currently, opencost has some queries that only require metadata like labels, annotations, etc.
However, these queries are sent using the Prometheus Query API. The Query API will touch not only the labels, but also chunks. This affect the performance of downstream metrics stores like Cortex, Prometheus, Mimir, Thanos, etc.

All the queries are listed https://github.com/opencost/openco

[2022-11-14 21:06] AjayTripathy commented on #1470
I believe in that case you just need to issue a query that covers the range of time those pods were running. Are the pods not being picked up over that window? If not how long were those pods running? If the runtime is very small, the Prometheus scrape interval needs to be shrunk; we are not guaranteed to pick up all pods with duration less than the scrape interval.

[2022-11-15 18:01] AjayTripathy commented on #1483
Thanks for digging this up! Anything that helps with DB performance is high priority for us. I'll make sure we investigate this in our upcoming release and get this scale tested.

[2022-11-16 20:28] atamnitkkr commented on #1468
@AjayTripathy I have vanilla Prometheus. (not whitelisting or blacklisting). I am able to compute load balancer cost if it is created for any Kubernetes service.
In my case, we are creating a Load balancer as a part of k8s deployment, and it is used for the k8s API server. and its cost should be related to accessing the k8s API server. but looks like opencost doesn't compute the cost of the mentio

[2022-11-16 20:32] AjayTripathy commented on #1464
Still seems networking related to me-- have you tried forwarding via the service endpoint instead of the pod?
Maybe something like
```kubectl --context mycluster --namespace opencost port-forward service/opencost 9003```

[2022-11-17 00:49] abhiInCalif commented on #1426
@AjayTripathy any luck on this issue? Would be immensely helpful.

[2022-11-17 04:32] dwbrown2 commented on #1474
@mattray how do you want to handle this one?

[2022-11-17 08:41] Ulrar commented on #1464
@AjayTripathy
Same error using the service.
But again that won't work because opencost isn't actually listening on port 9003, as shown by netstat on the pod itself :

[code]
And just to make extra sure, a wget also finds the port closed :
[code]

If it's not binding to the port, port forward has no chance of working.
The question is why isn't it binding to the port, and if it's failing for any rea

[2022-11-17 16:13] mmurph3 commented on #1382
Here’s a sample log entry that we’re seeing:

[code]

 Note that we’ve seen a lot fewer since we successfully upgraded to kubecost v1.98 and configured it properly, but they are still happening at around 100/day.

[2022-11-17 20:27] mmurph3 commented on #1382
Further info:

What it appears to do is every 3 hours, it does both ec2:DescribeVolumes and ec2:DescribeAddresses in all 16 "other" regions, all in the same second. So, 32 calls within the same second, every 3 hours.